Repository drbfraser/CRADLE-Platform: changes, and which GitLab CI jobs are due for each by the changed paths.
All: frontend build, backend unit tests, backend system tests, frontend lint, frontend format, backend format

Path conditions:
  frontend build: any of: client/**/*
  backend unit tests: any of: server/**/*
  backend system tests: any of: server/**/*
  frontend lint: any of: client/**/*
  frontend format: any of: client/**/*
  backend format: any of: server/**/*

added first filtered query
  server/api/resources/stats.py
  server/data/crud.py
  server/routes.py
Due: backend unit tests, backend system tests, backend format

fixed query to work for single VHTs as well as entire facilities depending on the argumets
  server/data/crud.py
Due: backend unit tests, backend system tests, backend format

fixed query to work for all stats
  server/api/resources/stats.py
  server/data/crud.py
Due: backend unit tests, backend system tests, backend format

added brackets around AND statement
  server/api/resources/stats.py
  server/data/crud.py
Due: backend unit tests, backend system tests, backend format

fixed none issue
  server/api/resources/stats.py
  server/data/crud.py
Due: backend unit tests, backend system tests, backend format

code formatting
  server/api/resources/stats.py
  server/data/crud.py
  server/routes.py
Due: backend unit tests, backend system tests, backend format

Set maxLength limit on fields in patient form and user edit form
  client/src/pages/admin/adminTable/hooks/tableColumns/column/takeAction/body/modal/editUser/index.tsx
  client/src/pages/patientForm/PatientForm.tsx
Due: frontend build, frontend lint, frontend format

Fix frontend formatting
  client/src/pages/admin/adminTable/hooks/tableColumns/column/takeAction/body/modal/editUser/index.tsx
  client/src/pages/patientForm/PatientForm.tsx
Due: frontend build, frontend lint, frontend format

Specify version numbers for all Python packages
  server/requirements.txt
Due: backend unit tests, backend system tests, backend format

Fix issue where sending followUps when editing user causes it to fail
  client/src/pages/admin/adminTable/hooks/tableColumns/column/takeAction/body/modal/index.tsx
  client/src/redux/reducers/user/allUsers/index.ts
  server/specifications/user-edit.yml
Due: frontend build, backend unit tests, backend system tests, frontend lint, frontend format, backend format

Remove significant amount of dead frontend code
  client/src/pages/videoChat/README.md
  client/src/pages/videoChat/customForm/index.tsx
  client/src/pages/videoChat/customForm/styles.module.css
  client/src/pages/videoChat/index.tsx.rm
  client/src/pages/videoChat/reducers/chat/index.ts
  client/src/pages/videoChat/styles.module.css
  client/src/pages/videoSession/chat/history/index.tsx
  client/src/pages/videoSession/chat/history/styles.module.css
  client/src/pages/videoSession/chat/index.tsx
  client/src/pages/videoSession/chat/styles.module.css
  client/src/pages/videoSession/hooks/index.tsx.rm
  client/src/pages/videoSession/hooks/utils/index.ts
  client/src/pages/videoSession/index.tsx.rm
  client/src/pages/videoSession/styles.module.css
  client/src/redux/reducers/index.ts
  client/src/redux/reducers/newReadingStatus/index.ts
  client/src/redux/reducers/patients/index.ts
Due: frontend build, frontend lint, frontend format

Remove more dead code from the frontend
  client/src/app/img/video-solid.svg
  client/src/modules/RTCMultiConnection.js
  client/src/modules/index.d.ts
  client/src/pages/patient/summary/readings/urineTests/index.tsx
  client/src/redux/reducers/patientStatistics/index.ts
  client/src/redux/reducers/patients/index.ts
  client/src/shared/components/form/styles.module.css
  client/src/shared/components/form/styles/index.ts
  client/src/shared/components/form/symptom/index.tsx
  client/src/shared/components/form/urineTest/index.tsx
  client/src/shared/components/table/column/initials/styles/index.ts
  client/src/shared/utils/index.ts
  client/src/types/index.ts
Due: frontend build, frontend lint, frontend format

The API for Admin's reseting passwords: the skeleton code is up
  server/controller/UsersController.py
  server/routes.py
Due: backend unit tests, backend system tests, backend format

Using id to search for the entry and then updating the password
  server/controller/UsersController.py
Due: backend unit tests, backend system tests, backend format

total readings query with filters
  server/api/resources/stats.py
  server/data/crud.py
Due: backend unit tests, backend system tests, backend format

Okay now the password is changed to whatever has been specified in the request
  server/controller/UsersController.py
Due: backend unit tests, backend system tests, backend format

traffic light query with filters
  server/api/resources/stats.py
  server/data/crud.py
Due: backend unit tests, backend system tests, backend format

Error checking for length of password
  server/controller/UsersController.py
Due: backend unit tests, backend system tests, backend format

Added the is_admin field to the jwt token
  server/controller/UsersController.py
Due: backend unit tests, backend system tests, backend format

Ensured that the post endpoint to change passwords can only be accessed by an admin
  server/app.py
  server/controller/UsersController.py
Due: backend unit tests, backend system tests, backend format

Bug fix
  server/controller/UsersController.py
Due: backend unit tests, backend system tests, backend format

Changed the claims loader to allow multiple fields plus added the User password change route
  server/app.py
  server/routes.py
Due: backend unit tests, backend system tests, backend format

Users can now change their own passwords in the backend provided they can give their current one
  server/controller/UsersController.py
Due: backend unit tests, backend system tests, backend format

Added the swagger docs for the admin change password endpoint
  server/controller/UsersController.py
  server/specifications/admin-change-pass.yml
Due: backend unit tests, backend system tests, backend format

Finished the apidocs for the users change password endpoint
  server/controller/UsersController.py
  server/specifications/user-change-pass.yml
Due: backend unit tests, backend system tests, backend format

Comments
  server/controller/UsersController.py
Due: backend unit tests, backend system tests, backend format

Used black to reformat any changes
  server/app.py
  server/controller/UsersController.py
  server/routes.py
Due: backend unit tests, backend system tests, backend format

Making some small changes to the error messages and formatting
  server/app.py
  server/controller/UsersController.py
  server/specifications/user-change-pass.yml
Due: backend unit tests, backend system tests, backend format

sent referrals query
  server/api/resources/stats.py
  server/data/crud.py
Due: backend unit tests, backend system tests, backend format

referred patients to facility
  server/api/resources/stats.py
  server/data/crud.py
Due: backend unit tests, backend system tests, backend format

forming facility response
  server/api/resources/stats.py
  server/data/crud.py
Due: backend unit tests, backend system tests, backend format

finished facility query with 200 response
  server/api/resources/stats.py
Due: backend unit tests, backend system tests, backend format

formatting
  server/api/resources/stats.py
  server/data/crud.py
Due: backend unit tests, backend system tests, backend format

Create apiFetch function to handle authorization headers and ensure tokens are properly refreshed
  client/src/pages/assessmentForm/handlers.ts
  client/src/pages/assessmentForm/state.ts
  client/src/pages/patientForm/handlers.ts
  client/src/pages/patientForm/state.ts
  client/src/pages/readingForm/handlers.ts
  client/src/redux/middleware/index.ts
  client/src/shared/utils/api.ts
Due: frontend build, frontend lint, frontend format

Remove obsolete files
  Procfile
  api-spec-iter-1.md
  client/renovate.json
  client/tsconfig.paths.json
  requirements.txt
Due: frontend build, frontend lint, frontend format

added user queries;
  server/api/resources/stats.py
  server/data/crud.py
  server/routes.py
Due: backend unit tests, backend system tests, backend format

removing old api endpoints
  server/api/resources/stats.py
  server/routes.py
Due: backend unit tests, backend system tests, backend format

removed old api imports
  server/routes.py
Due: backend unit tests, backend system tests, backend format

Add manage users / manage zones dropdown to admin page
  client/src/pages/admin/ManageUsers.tsx
  client/src/pages/admin/ManageZones.tsx
  client/src/pages/admin/index.tsx
  client/src/pages/admin/usersTable/hooks/data/filterBySearchText/index.ts
  client/src/pages/admin/usersTable/hooks/data/index.ts
  client/src/pages/admin/usersTable/hooks/tableColumns/column/email/body/index.tsx
  client/src/pages/admin/usersTable/hooks/tableColumns/column/email/head/index.tsx
  client/src/pages/admin/usersTable/hooks/tableColumns/column/email/index.tsx
  client/src/pages/admin/usersTable/hooks/tableColumns/column/firstName/body/index.tsx
  client/src/pages/admin/usersTable/hooks/tableColumns/column/firstName/head/index.tsx
  client/src/pages/admin/usersTable/hooks/tableColumns/column/firstName/index.tsx
  client/src/pages/admin/usersTable/hooks/tableColumns/column/firstName/utils/index.ts
  client/src/pages/admin/usersTable/hooks/tableColumns/column/healthFacility/body/index.tsx
  client/src/pages/admin/usersTable/hooks/tableColumns/column/healthFacility/head/index.tsx
  client/src/pages/admin/usersTable/hooks/tableColumns/column/healthFacility/index.tsx
  client/src/pages/admin/usersTable/hooks/tableColumns/column/roles/body/index.tsx
  client/src/pages/admin/usersTable/hooks/tableColumns/column/roles/body/styles/index.ts
  client/src/pages/admin/usersTable/hooks/tableColumns/column/roles/head/index.tsx
  client/src/pages/admin/usersTable/hooks/tableColumns/column/roles/index.tsx
  client/src/pages/admin/usersTable/hooks/tableColumns/column/takeAction/body/index.tsx
  client/src/pages/admin/usersTable/hooks/tableColumns/column/takeAction/body/modal/deleteUser/index.tsx
  client/src/pages/admin/usersTable/hooks/tableColumns/column/takeAction/body/modal/editUser/index.tsx
  client/src/pages/admin/usersTable/hooks/tableColumns/column/takeAction/body/modal/editUser/styles/index.ts
  client/src/pages/admin/usersTable/hooks/tableColumns/column/takeAction/body/modal/index.tsx
  client/src/pages/admin/usersTable/hooks/tableColumns/column/takeAction/body/reducer/index.ts
  client/src/pages/admin/usersTable/hooks/tableColumns/column/takeAction/body/styles/index.ts
  client/src/pages/admin/usersTable/hooks/tableColumns/column/takeAction/context/hooks/index.ts
  client/src/pages/admin/usersTable/hooks/tableColumns/column/takeAction/context/index.tsx
  client/src/pages/admin/usersTable/hooks/tableColumns/column/takeAction/head/index.tsx
  client/src/pages/admin/usersTable/hooks/tableColumns/column/takeAction/index.tsx
  client/src/pages/admin/usersTable/hooks/tableColumns/index.tsx
  client/src/pages/admin/usersTable/hooks/utils/index.ts
  client/src/pages/admin/usersTable/hooks/vhtOptions/index.ts
  client/src/pages/admin/usersTable/index.tsx
  client/src/pages/admin/usersTable/styles/index.ts
  client/src/pages/admin/usersTable/toolbar/createUser/index.tsx
  client/src/pages/admin/usersTable/toolbar/createUser/modal/index.tsx
  client/src/pages/admin/usersTable/toolbar/createUser/modal/styles/index.ts
  client/src/pages/admin/usersTable/toolbar/index.tsx
  client/src/pages/admin/usersTable/toolbar/styles/index.ts
Due: frontend build, frontend lint, frontend format
