Repository drbfraser/CRADLE-Platform: changes, and which GitLab CI jobs are due for each by the changed paths.
All: frontend build, backend unit tests, backend system tests, frontend lint, frontend format, backend format

Path conditions:
  frontend build: any of: client/**/*
  backend unit tests: any of: server/**/*
  backend system tests: any of: server/**/*
  frontend lint: any of: client/**/*
  frontend format: any of: client/**/*
  backend format: any of: server/**/*

Fixed migrations files for FollowUp
  server/migrations/versions/97473443e1fa_add_patientid_to_followup.py
  server/migrations/versions/ab7829f42f36_add_foreign_key_to_patientid_in_followup.py
Due: backend unit tests, backend system tests, backend format

Update seeding for database changes
  server/manage.py
Due: backend unit tests, backend system tests, backend format

create new referra -- changed readingId to patientId(ok)
  client/src/app/routes/utils/index.tsx
  client/src/pages/referralForm/ReferralForm.tsx
  client/src/pages/referralForm/handlers.ts
  client/src/pages/referralForm/index.tsx
Due: frontend build, frontend lint, frontend format

create an new assessment(not complete) stack to pull server code
  client/src/app/routes/utils/index.tsx
  client/src/pages/assessmentForm/handlers.ts
  client/src/pages/patient/ReadingCard/ReferralData.tsx
Due: frontend build, frontend lint, frontend format

add an assessment ok
  client/src/pages/referralForm/handlers.ts
Due: frontend build, frontend lint, frontend format

fix: fix referral list get has number inconsistency prob
  server/api/resources/referrals.py
  server/data/crud.py
  server/service/serialize.py
Due: backend unit tests, backend system tests, backend format

feat: add endpoint get mostRecentReading and implement
  server/api/__init__.py
  server/api/resources/patients.py
Due: backend unit tests, backend system tests, backend format

refactor: change get most recent reading api name; doc: add get most recent reading api spec
  server/api/__init__.py
  server/api/resources/patients.py
  server/routes.py
  server/specifications/patient-most-recent-reading-get.yml
  server/specifications/referrals-get.yml
Due: backend unit tests, backend system tests, backend format

referral list page - list module (complete)
  client/src/pages/referrals/index.tsx
  client/src/pages/referrals/types.ts
  client/src/shared/components/apiTable/index.tsx
  client/src/shared/components/trafficLight/icons/unavailable.svg
  client/src/shared/components/trafficLight/index.tsx
  client/src/shared/enums.ts
Due: frontend build, frontend lint, frontend format

referral list -- icon image for unavailable case
  client/src/pages/referrals/FilterDialog.tsx
  client/src/shared/components/trafficLight/index.tsx
Due: frontend build, frontend lint, frontend format

patient list -- icon image for unavailable case
  client/src/pages/patients/PatientRow.tsx
Due: frontend build, frontend lint, frontend format

reading card of patient summary page
  client/src/pages/patient/ReadingCard/ReadingCard.tsx
  client/src/shared/components/apiTable/index.tsx
Due: frontend build, frontend lint, frontend format

fix: remove get referral list vital_sign condition
  server/data/crud.py
Due: backend unit tests, backend system tests, backend format

feat: add referral get for a single patient
  server/api/__init__.py
  server/api/resources/patients.py
  server/routes.py
  server/specifications/patient-readings-get.yml
  server/specifications/patient-referrals-get.yml
Due: backend unit tests, backend system tests, backend format

referral keep vital_sign field unimplemented
  server/data/crud.py
Due: backend unit tests, backend system tests, backend format

Undo db migrations related to FollowUp
  server/migrations/versions/1029b5bb3354_decouple_referrals_from_readings.py
  server/migrations/versions/97473443e1fa_add_patientid_to_followup.py
  server/migrations/versions/ab7829f42f36_add_foreign_key_to_patientid_in_followup.py
  server/migrations/versions/c2df1dcd9256_decouple_followup_table_from_reading_.py
  server/systemTests/api/test_assessments.py
Due: backend unit tests, backend system tests, backend format

Change migration to replace readingId with patientId
  server/migrations/versions/7ccbc75caff1_replace_readingid_with_patientid.py
Due: backend unit tests, backend system tests, backend format

Remove unnecessary if block in readings POST
  server/api/resources/readings.py
Due: backend unit tests, backend system tests, backend format

feat: referral model add fields and impl assess endpoints
  server/api/__init__.py
  server/api/resources/referrals.py
  server/migrations/versions/b62ebe3bee7a_referral_add_assess_and_cancel_relevant_.py
  server/models.py
  server/routes.py
Due: backend unit tests, backend system tests, backend format

feat: implement referral cancel status switch endpoints
  server/api/__init__.py
  server/api/resources/referrals.py
  server/routes.py
  server/validation/medicalRecords.py
  server/validation/referrals.py
Due: backend unit tests, backend system tests, backend format

doc: add referral assess, cancel swagger spec
  server/api/resources/referrals.py
  server/specifications/patient-referrals-get.yml
  server/specifications/referrals-assess-update-post.yml
  server/specifications/referrals-cancel-update-put.yml
  server/specifications/single-referral-get.yml
Due: backend unit tests, backend system tests, backend format

style: format backend code
  server/api/__init__.py
  server/api/resources/patients.py
  server/api/resources/referrals.py
  server/data/crud.py
  server/migrations/versions/1029b5bb3354_decouple_referrals_from_readings.py
  server/migrations/versions/7ccbc75caff1_replace_readingid_with_patientid.py
  server/migrations/versions/b62ebe3bee7a_referral_add_assess_and_cancel_relevant_.py
  server/routes.py
  server/systemTests/api/test_android_endpoints.py
  server/systemTests/api/test_readings.py
  server/validation/referrals.py
Due: backend unit tests, backend system tests, backend format

Create function for reading and referral POST
  server/api/resources/patients.py
Due: backend unit tests, backend system tests, backend format

Added to route and wrote specification
  server/api/resources/patients.py
  server/routes.py
  server/specifications/assessments-get.yml
  server/specifications/assessments-post.yml
  server/specifications/assessments-update-post.yml
  server/specifications/reading-assessment-post.yml
Due: backend unit tests, backend system tests, backend format

Add front-end call to new endpoint
  client/src/pages/readingForm/handlers.ts
  client/src/shared/enums.ts
  server/api/resources/patients.py
Due: frontend build, backend unit tests, backend system tests, frontend lint, frontend format, backend format

Reorder statements
  server/api/resources/patients.py
Due: backend unit tests, backend system tests, backend format

Update specification
  server/specifications/assessments-post.yml
Due: backend unit tests, backend system tests, backend format

fix: change some naming style and fix typos in type and request methods
  server/api/__init__.py
  server/api/resources/referrals.py
  server/routes.py
  server/specifications/patient-referrals-get.yml
  server/specifications/referrals-assess-update-put.yml
  server/specifications/single-referral-get.yml
Due: backend unit tests, backend system tests, backend format

Put user ID in reading JSON
  server/api/resources/patients.py
Due: backend unit tests, backend system tests, backend format

feat: add patient get all card info endpoints
  server/api/resources/patients.py
  server/api/util.py
  server/data/crud.py
  server/routes.py
Due: backend unit tests, backend system tests, backend format

feat: all info dict object add type field
  server/api/resources/patients.py
  server/data/marshal.py
Due: backend unit tests, backend system tests, backend format

doc: add get patient all records endpoints doc
  server/specifications/patient-all-records-get.yml
Due: backend unit tests, backend system tests, backend format

fix merge conflicts
  server/routes.py
Due: backend unit tests, backend system tests, backend format

style: format backend code
  server/api/resources/patients.py
  server/data/crud.py
  server/data/marshal.py
  server/routes.py
Due: backend unit tests, backend system tests, backend format

style: format backend code
  server/api/resources/patients.py
  server/data/crud.py
  server/data/marshal.py
Due: backend unit tests, backend system tests, backend format

style: format backend code after merge master
  server/api/resources/patients.py
  server/routes.py
Due: backend unit tests, backend system tests, backend format

Get rid of reference to referrals in reading for patient POST
  server/api/resources/patients.py
  server/systemTests/mock/factory.py
Due: backend unit tests, backend system tests, backend format
