Repository drbfraser/CRADLE-Platform: changes, and which GitLab CI jobs are due for each by the changed paths.
All: frontend build, backend unit tests, backend system tests, frontend lint, frontend format, backend format

frontend build:
  stage: build
  needs: []
  image: $NODE_IMAGE
  tags:
  - docker
  before_script:
  - cd client
  - npm install
  script:
  - CI=false npm run build
  after_script:
  - tar -czvf frontend.tar.gz client/build
  artifacts:
    expire_in: 1 week
    paths:
    - frontend.tar.gz

backend unit tests:
  stage: test
  needs: []
  image: $PYTHON_IMAGE
  tags:
  - docker
  before_script:
  - cd server
  - pip install --upgrade pip
  - pip install -r requirements.txt
  script:
  - python -m pytest --junitxml=report.xml tests
  artifacts:
    expire_in: 1 week
    when: always
    reports:
      junit: server/report.xml

backend system tests:
  stage: test
  needs: []
  image: $PYTHON_IMAGE
  tags:
  - docker
  variables:
    DB_USERNAME: root
    DB_PASSWORD: ci-password
    EMAIL_USER: ci@ci.com
    EMAIL_PASSWORD: ci-password
    DB_HOSTNAME: mysql
    DB_PORT: '3306'
    DB_NAME: cradle
    PORT: '5000'
    MYSQL_DATABASE: cradle
  ...

frontend lint:
  stage: format
  needs: []
  image: $NODE_IMAGE
  tags:
  - docker
  before_script:
  - cd client
  - npm install
  script:
  - ./node_modules/.bin/eslint "src/**/*.{ts,tsx}"

frontend format:
  stage: format
  needs: []
  image: $NODE_IMAGE
  tags:
  - docker
  before_script:
  - npm install prettier@^2.2.0 --global
  script:
  - prettier --check "client/src/**/*.{ts,tsx}"

backend format:
  stage: format
  needs: []
  image: $PYTHON_IMAGE
  tags:
  - docker
  before_script:
  - pip install --upgrade pip
  - pip install black
  script:
  - black --check --exclude 'server/migrations/.*' server

style: try skipping test
  server/systemTests/api/test_patients.py
Due: backend unit tests, backend system tests, backend format

fix: add missing import
  server/systemTests/api/test_patients.py
Due: backend unit tests, backend system tests, backend format

feat: Adds MedicalRecord table to models and creates migration
  server/migrations/versions/0363083ecb2c_.py
  server/models.py
Due: backend unit tests, backend system tests, backend format

fix: change allergy to plural and skip test
  client/src/pages/patient/PersonalInfo.tsx
  client/src/pages/patientForm/PatientForm.tsx
  server/systemTests/api/test_patients.py
Due: frontend build, backend unit tests, backend system tests, frontend lint, frontend format, backend format

fix: reformat backend files
  server/migrations/versions/5c7f69c30f5e_.py
  server/systemTests/api/test_patients.py
Due: backend unit tests, backend system tests, backend format

refactor: change pregnancy table name
  server/manage.py
  server/migrations/versions/b744b32f117e_.py
  server/migrations/versions/dccc985a0357_.py
  server/models.py
Due: backend unit tests, backend system tests, backend format

refactor: Changes column name for medicalRecord table and adds comment to migration file
  server/migrations/versions/0363083ecb2c_.py
  server/models.py
Due: backend unit tests, backend system tests, backend format

feat: add pregnancy history api
  server/api/resources/pregnancies.py
Due: backend unit tests, backend system tests, backend format

Revert "Merge branch 'CRDL-273-add-patient-allergy-queries-and-api' into 'master'"
  client/src/pages/patient/PersonalInfo.tsx
  client/src/pages/patientForm/PatientForm.tsx
  client/src/pages/patientForm/handlers.ts
  client/src/pages/patientForm/state.ts
  client/src/shared/types.ts
  docker-compose.override.yml
  docker-compose.yml
  server/migrations/versions/5c7f69c30f5e_.py
  server/models.py
  server/specifications/android-patients-get.yml
  server/specifications/patient-info-get.yml
  server/specifications/patient-info-put.yml
  server/specifications/patients-post.yml
  server/specifications/single-patient-get.yml
  server/systemTests/api/test_patients.py
  server/tests/validation/test_patients.py
  server/validation/patients.py
Due: frontend build, backend unit tests, backend system tests, frontend lint, frontend format, backend format

fix: fix migration version and format
  server/migrations/versions/5c7f69c30f5e_.py
Due: backend unit tests, backend system tests, backend format

fix: add changes for allergy field back
  client/src/pages/patient/PersonalInfo.tsx
  client/src/pages/patientForm/PatientForm.tsx
  client/src/pages/patientForm/handlers.ts
  client/src/pages/patientForm/state.ts
  client/src/shared/types.ts
  docker-compose.override.yml
  docker-compose.yml
  server/models.py
  server/specifications/android-patients-get.yml
  server/specifications/patient-info-get.yml
  server/specifications/patient-info-put.yml
  server/specifications/patients-post.yml
  server/specifications/single-patient-get.yml
  server/tests/validation/test_patients.py
  server/validation/patients.py
Due: frontend build, backend unit tests, backend system tests, frontend lint, frontend format, backend format

fix: fix format
  client/src/pages/patientForm/PatientForm.tsx
Due: frontend build, frontend lint, frontend format

feat: add api routes and specs
  server/api/__init__.py
  server/api/resources/pregnancies.py
  server/routes.py
  server/specifications/pregnancies-get.yml
  server/specifications/pregnancies-post.yml
  server/specifications/pregnancy-status-get.yml
  server/specifications/single-pregnancy-get.yml
  server/specifications/single-pregnancy-put.yml
Due: backend unit tests, backend system tests, backend format

style: implemented black to format backend code
  server/migrations/versions/0363083ecb2c_.py
  server/migrations/versions/b744b32f117e_.py
  server/models.py
Due: backend unit tests, backend system tests, backend format

feat: add queries and request/response aux
  server/api/__init__.py
  server/api/resources/pregnancies.py
  server/config.py
  server/data/crud.py
  server/data/marshal.py
  server/routes.py
  server/service/serialize.py
  server/specifications/pregnancies-get.yml
  server/specifications/pregnancies-post.yml
  server/specifications/pregnancy-status-get.yml
  server/validation/pregnancies.py
Due: backend unit tests, backend system tests, backend format

fix: fix bugs in pregnancy api's
  server/api/__init__.py
  server/api/resources/pregnancies.py
  server/config.py
  server/data/crud.py
  server/routes.py
  server/service/serialize.py
  server/specifications/pregnancies-get.yml
  server/specifications/pregnancies-post.yml
  server/specifications/pregnancy-status-get.yml
  server/specifications/single-pregnancy-get.yml
  server/specifications/single-pregnancy-put.yml
  server/validation/pregnancies.py
Due: backend unit tests, backend system tests, backend format

refactor: extract patientForm into 3 separate forms
  client/src/app/routes/utils/index.tsx
  client/src/pages/patientForms/MedicalInfoForm/index.tsx
  client/src/pages/patientForms/handlers.ts
  client/src/pages/patientForms/index.tsx
  client/src/pages/patientForms/personalInfoForm/PatientIDExists.tsx
  client/src/pages/patientForms/personalInfoForm/handlers.ts
  client/src/pages/patientForms/personalInfoForm/index.tsx
  client/src/pages/patientForms/personalInfoForm/validation.ts
  client/src/pages/patientForms/pregnancyInfoForm/index.tsx
  client/src/pages/patientForms/pregnancyInfoForm/validation.ts
  client/src/pages/patientForms/state.ts
Due: frontend build, frontend lint, frontend format

fix: changes down_revision number on medical record migration file
  server/migrations/versions/0363083ecb2c_.py
Due: backend unit tests, backend system tests, backend format

fix: fix submit handlers
  client/src/pages/patientForms/handlers.ts
  client/src/pages/patientForms/index.tsx
Due: frontend build, frontend lint, frontend format

feat: split edit patient personal info form
  client/src/app/routes/utils/index.tsx
  client/src/pages/patientForms/MedicalInfoForm/index.tsx
  client/src/pages/patientForms/editPersonalInfoForm/index.tsx
  client/src/pages/patientForms/newPatientForm/index.tsx
  client/src/pages/patientForms/personalInfoForm/index.tsx
  client/src/pages/patientForms/pregnancyInfoForm/index.tsx
Due: frontend build, frontend lint, frontend format

feat: add isPregnant field to responses
  server/api/resources/pregnancies.py
  server/data/marshal.py
  server/manage.py
  server/specifications/pregnancies-get.yml
  server/specifications/pregnancies-post.yml
  server/specifications/pregnancy-status-get.yml
  server/specifications/single-pregnancy-get.yml
  server/specifications/single-pregnancy-put.yml
Due: backend unit tests, backend system tests, backend format

fix: run formatter
  server/api/resources/pregnancies.py
  server/data/marshal.py
Due: backend unit tests, backend system tests, backend format

fix: fix bug in pregnancy-status-get
  server/api/resources/pregnancies.py
Due: backend unit tests, backend system tests, backend format

fix: fix bug in seed-test-data
  server/manage.py
Due: backend unit tests, backend system tests, backend format

feat: make patient page display pregnancy status using new api
  client/src/pages/patient/MedicalInfo.tsx
  client/src/pages/patient/index.tsx
  client/src/shared/enums.ts
  client/src/shared/types.ts
Due: frontend build, frontend lint, frontend format

feat: add warning about timed-out pregnancy
  client/src/pages/patient/MedicalInfo.tsx
Due: frontend build, frontend lint, frontend format

fix: fix format
  client/src/shared/types.ts
Due: frontend build, frontend lint, frontend format

feat: add error popup to forms
  client/src/pages/patientForms/editPersonalInfoForm/index.tsx
  client/src/pages/patientForms/handlers.ts
  client/src/pages/patientForms/newPatientForm/index.tsx
Due: frontend build, frontend lint, frontend format

refactor/feat: move pregn data fetching to MedicalInfo and add data error alert
  client/src/pages/patient/MedicalInfo.tsx
  client/src/pages/patient/index.tsx
Due: frontend build, frontend lint, frontend format

fix: change warning appearance
  client/src/pages/patient/MedicalInfo.tsx
Due: frontend build, frontend lint, frontend format

fix: fix quote
  client/src/pages/patient/MedicalInfo.tsx
Due: frontend build, frontend lint, frontend format

feat: use a universal edit form for patient page
  client/src/app/routes/utils/index.tsx
  client/src/pages/patient/MedicalInfo.tsx
  client/src/pages/patient/PersonalInfo.tsx
  client/src/pages/patientForms/MedicalInfoForm/index.tsx
  client/src/pages/patientForms/editForm/index.tsx
Due: frontend build, frontend lint, frontend format

feat: add input validation
  client/src/pages/patientForms/editForm/index.tsx
  client/src/pages/patientForms/medicalInfoForm/validation.tsx
Due: frontend build, frontend lint, frontend format

refactor: remove unused patientForm
  client/src/pages/patientForm/PatientForm.tsx
  client/src/pages/patientForm/PatientIDExists.tsx
  client/src/pages/patientForm/handlers.ts
  client/src/pages/patientForm/index.tsx
  client/src/pages/patientForm/state.ts
  client/src/pages/patientForm/validation.ts
Due: frontend build, frontend lint, frontend format

fix: rename medicalInfoForm to medicalInfo in an attempt to fix remote git folder structure
  client/src/pages/patientForms/editForm/index.tsx
  client/src/pages/patientForms/medicalForm/index.tsx
  client/src/pages/patientForms/medicalForm/validation.tsx
  client/src/pages/patientForms/newPatientForm/index.tsx
Due: frontend build, frontend lint, frontend format

test: add system tests for get put post pregn
  server/api/resources/pregnancies.py
  server/data/marshal.py
  server/systemTests/api/test_pregnancies.py
  server/systemTests/conftest.py
  server/systemTests/mock/factory.py
Due: backend unit tests, backend system tests, backend format

test: add system tests for invalid post put pregn
  server/api/resources/pregnancies.py
  server/specifications/pregnancies-get.yml
  server/specifications/pregnancies-post.yml
  server/specifications/pregnancy-status-get.yml
  server/specifications/single-pregnancy-get.yml
  server/specifications/single-pregnancy-put.yml
  server/systemTests/api/test_pregnancies.py
  server/systemTests/mock/factory.py
  server/validation/pregnancies.py
Due: backend unit tests, backend system tests, backend format

refactor: rename variables and format
  server/api/resources/pregnancies.py
  server/validation/pregnancies.py
Due: backend unit tests, backend system tests, backend format

fix: reformat
  server/systemTests/api/test_pregnancies.py
Due: backend unit tests, backend system tests, backend format

docs: modify pregnancy api docs
  server/specifications/pregnancies-post.yml
  server/specifications/single-pregnancy-get.yml
  server/specifications/single-pregnancy-put.yml
Due: backend unit tests, backend system tests, backend format

Path conditions:
  frontend build: any of: client/**/*
  backend unit tests: any of: server/**/*
  backend system tests: any of: server/**/*
  frontend lint: any of: client/**/*
  frontend format: any of: client/**/*
  backend format: any of: server/**/*
