Repository drbfraser/CRADLE-Platform: changes, and which GitLab CI jobs are due for each by the changed paths.
All: frontend build, backend unit tests, backend system tests, frontend lint, frontend format, backend format

Path conditions:
  frontend build: any of: client/**/*
  backend unit tests: any of: server/**/*
  backend system tests: any of: server/**/*
  frontend lint: any of: client/**/*
  frontend format: any of: client/**/*
  backend format: any of: server/**/*

Remove patient & patient stats redux code as it is no longer used
  client/src/redux/reducers/index.ts
  client/src/redux/reducers/patientStatistics/index.ts
  client/src/redux/reducers/patients/index.ts
  client/src/redux/reducers/patients/utils/index.ts
  client/src/shared/components/addPatientPrompt/index.tsx
  client/src/shared/components/addPatientPrompt/styles/index.ts
  client/src/shared/components/defaultSearch/hooks/focus/index.ts
  client/src/shared/components/defaultSearch/index.tsx
  client/src/shared/components/dialogPopup/index.tsx
  client/src/shared/components/dialogPopup/styles/index.ts
  client/src/shared/components/sortToggle/index.tsx
  client/src/shared/components/table/row/index.tsx
  client/src/shared/components/table/row/styles/index.ts
  client/src/shared/components/table/styles/index.ts
  client/src/shared/components/table/toolbar/index.tsx
  client/src/shared/hooks/table/filterBySearchText/index.ts
  client/src/shared/hooks/table/localization/index.ts
  client/src/shared/hooks/table/searchChange/index.ts
  client/src/shared/hooks/table/updatePageNumber/index.tsx
  client/src/shared/hooks/timeout/index.ts
Due: frontend build, frontend lint, frontend format

Patient page: improve spacing, graph colors, display of assessments
  client/src/enums/index.ts
  client/src/pages/patient/MedicalInfo.tsx
  client/src/pages/patient/PersonalInfo.tsx
  client/src/pages/patient/ReadingCard/ReadingData.tsx
  client/src/pages/patient/ReadingCard/ReferralData.tsx
  client/src/pages/patient/VitalsGraph.tsx
  client/src/pages/patientForm/PatientForm.tsx
  client/src/pages/patientForm/handlers.ts
  client/src/pages/patientForm/state.ts
Due: frontend build, frontend lint, frontend format

More accurate wording for patient stats; improve code structure
  client/src/pages/patient/MedicalInfo.tsx
  client/src/pages/patient/PatientStats.tsx
  client/src/pages/patient/index.tsx
Due: frontend build, frontend lint, frontend format

Fix patient page urine test display values
  client/src/pages/patient/ReadingCard/ReadingData.tsx
  client/src/pages/patient/ReadingCard/ReferralData.tsx
Due: frontend build, frontend lint, frontend format

Updated according to feedbacks
  client/package-lock.json
  client/package.json
  client/src/pages/statistics/AllStatistics.tsx
  client/src/pages/statistics/FacilityStatistics.tsx
  client/src/pages/statistics/MyFacility.tsx
  client/src/pages/statistics/MyStatistics.tsx
  client/src/pages/statistics/UserStatistics.tsx
  client/src/pages/statistics/VHTStatistics.tsx
  client/src/pages/statistics/allFacilities/index.tsx
  client/src/pages/statistics/allStatistics/index.tsx
  client/src/pages/statistics/allUsers/index.tsx
  client/src/pages/statistics/allVHTs/index.tsx
  client/src/pages/statistics/index.tsx
  client/src/pages/statistics/myStatistics/index.tsx
  client/src/pages/statistics/userStatistics/index.tsx
  client/src/pages/statistics/utils/ExportStatistics.tsx
  client/src/pages/statistics/utils/StatisticCard.tsx
  client/src/pages/statistics/utils/StatisticDashboard.tsx
  client/src/pages/statistics/utils/StatisticDashboardWithSelect.tsx
  client/src/pages/statistics/utils/index.ts
  client/src/pages/statistics/utils/statisticStyles.ts
  client/src/server/index.ts
Due: frontend build, frontend lint, frontend format

allow CHOs to view their own statistics
  server/api/resources/stats.py
Due: backend unit tests, backend system tests, backend format

Refine wording
  client/src/pages/statistics/utils/ExportStatistics.tsx
Due: frontend build, frontend lint, frontend format

restrict CHWs to view only users in their health facility
  server/api/resources/stats.py
Due: backend unit tests, backend system tests, backend format

Changed to APIErrorToast
  client/src/pages/statistics/FacilityStatistics.tsx
  client/src/pages/statistics/UserStatistics.tsx
  client/src/pages/statistics/VHTStatistics.tsx
  client/src/pages/statistics/utils/ExportStatistics.tsx
  client/src/pages/statistics/utils/StatisticDashboard.tsx
Due: frontend build, frontend lint, frontend format

Changed wording
  client/src/pages/statistics/AllStatistics.tsx
  client/src/pages/statistics/FacilityStatistics.tsx
  client/src/pages/statistics/MyFacility.tsx
  client/src/pages/statistics/MyStatistics.tsx
  client/src/pages/statistics/UserStatistics.tsx
  client/src/pages/statistics/VHTStatistics.tsx
  client/src/pages/statistics/index.tsx
  client/src/pages/statistics/utils/ExportStatistics.tsx
Due: frontend build, frontend lint, frontend format

Fix issue where updating assessment does not mark the associated referral as assessed
  server/api/resources/assessments.py
Due: backend unit tests, backend system tests, backend format

Add outline to new reading form back button
  client/src/pages/readingForm/index.tsx
Due: frontend build, frontend lint, frontend format

Changed apiFetchSafe to apiFetch
  client/package.json
  client/src/app/routes/utils/index.tsx
  client/src/pages/statistics/AllStatistics.tsx
  client/src/pages/statistics/FacilityStatistics.tsx
  client/src/pages/statistics/MyFacility.tsx
  client/src/pages/statistics/MyStatistics.tsx
  client/src/pages/statistics/UserStatistics.tsx
  client/src/pages/statistics/VHTStatistics.tsx
  client/src/pages/statistics/index.tsx
  client/src/pages/statistics/utils/ExportStatistics.tsx
  client/src/pages/statistics/utils/StatisticDashboard.tsx
Due: frontend build, frontend lint, frontend format

Delete package-lock.json
  client/package-lock.json
  client/src/pages/statistics/index.tsx
  client/src/pages/statistics/utils/ExportStatistics.tsx
  client/src/pages/statistics/utils/StatisticDashboard.tsx
  client/src/pages/statistics/utils/index.ts
Due: frontend build, frontend lint, frontend format

Updated null check
  client/package-lock.json
  client/src/pages/statistics/AllStatistics.tsx
  client/src/pages/statistics/FacilityStatistics.tsx
  client/src/pages/statistics/MyFacility.tsx
  client/src/pages/statistics/MyStatistics.tsx
  client/src/pages/statistics/UserStatistics.tsx
  client/src/pages/statistics/VHTStatistics.tsx
  client/src/pages/statistics/index.tsx
  client/src/pages/statistics/utils/ExportStatistics.tsx
  client/src/pages/statistics/utils/StatisticDashboard.tsx
  client/src/pages/statistics/utils/index.ts
  client/src/pages/statistics/utils/statisticStyles.ts
  package-lock.json
Due: frontend build, frontend lint, frontend format

Fix total referrals, fix stats export permissions, remove unused stats manager
  server/api/resources/stats.py
  server/routes.py
  server/service/StatsManager.py
Due: backend unit tests, backend system tests, backend format

Make stats labeling more clear
  client/src/pages/statistics/utils/ExportStatistics.tsx
  client/src/pages/statistics/utils/StatisticDashboard.tsx
Due: frontend build, frontend lint, frontend format

Update README to include devs from spring 2021
  README.md
Due: none

Update documentation; remove unused documentation and files
  cradle.py
  docs/contribution_guide.md
  docs/dev_env_setup.md
  docs/env_variables.md
  docs/env_variables_doc.md
  docs/legacy_deployment_guide.md
  docs/manual_dev_environment_setup.md
  docs/migrating_azure_vm.md
Due: none

Install black as backend requirement, specify version number for black in pipeline
  .gitlab-ci.yml
  server/requirements.txt
Due: backend unit tests, backend system tests, backend format

Update developer documentation to include information on code formatting and package changes
  README.md
  docs/development.md
  docs/manual_deployment.md
  docs/manual_deployment_guide.md
Due: none

Update error troubleshooting steps "CRADLE" -> "CRADLE Web"
  client/src/shared/components/apiErrorToast/APIErrorToast.tsx
Due: frontend build, frontend lint, frontend format

Fix referral comments not being submitted when creating new referral
  client/src/pages/assessmentForm/handlers.ts
  client/src/pages/patientForm/handlers.ts
  client/src/pages/referralForm/ReferralForm.tsx
  client/src/pages/referralForm/handlers.ts
  client/src/pages/referralForm/state.ts
Due: frontend build, frontend lint, frontend format

Increase refresh token threshold to 30 sec from 5 sec
  client/src/shared/api.ts
Due: frontend build, frontend lint, frontend format

feat: make icons collapsible
  client/src/app/index.tsx
  client/src/app/logout/index.tsx
  client/src/app/sidebar/index.tsx
  client/src/app/sidebar/route/index.tsx
  client/src/context/SideBarContext.tsx
Due: frontend build, frontend lint, frontend format

feat: make sidebar fully collapsible
  client/src/app/index.tsx
  client/src/app/sidebar/index.tsx
  client/src/app/topBar/index.tsx
Due: frontend build, frontend lint, frontend format

refactor: remove context for side bar
  client/src/app/index.tsx
  client/src/app/logout/index.tsx
  client/src/app/sidebar/route/index.tsx
  client/src/app/topBar/index.tsx
  client/src/context/SideBarContext.tsx
Due: frontend build, frontend lint, frontend format

fix: run format to pass pipeline
  client/src/app/index.tsx
  client/src/app/logout/index.tsx
  client/src/app/sidebar/index.tsx
  client/src/app/topBar/index.tsx
Due: frontend build, frontend lint, frontend format

fix: attempt to pass format pipeline
  client/src/app/sidebar/index.tsx
Due: frontend build, frontend lint, frontend format

Force Prettier to be exact same version in package.json and in pipeline
  .gitlab-ci.yml
  client/package-lock.json
  client/package.json
Due: frontend build, frontend lint, frontend format

Format frontend according to Prettier 2.3.0
  client/src/app/routes/index.tsx
  client/src/app/routes/privateRoute/index.tsx
  client/src/app/sidebar/index.tsx
  client/src/pages/patientForm/PatientForm.tsx
  client/src/pages/statistics/index.tsx
  client/src/redux/middleware/index.ts
Due: frontend build, frontend lint, frontend format

feat: make the sidebar collapse by default on mobile devices
  client/package-lock.json
  client/package.json
  client/src/app/index.tsx
Due: frontend build, frontend lint, frontend format

refactor: change to use useMediaQuery to correctly address small screen size
  client/package-lock.json
  client/package.json
  client/src/app/index.tsx
  client/src/app/topBar/index.tsx
Due: frontend build, frontend lint, frontend format

feat: show the side bar as an overlay in smaller screen size
  client/src/app/index.tsx
Due: frontend build, frontend lint, frontend format

feat: make login page display well on small, medium and large screens
  client/src/index.css
  client/src/pages/login/form/styles.module.css
  client/src/pages/login/index.tsx
  client/src/pages/login/styles/index.ts
Due: frontend build, frontend lint, frontend format

feat: shrink items on topbar for smaller screens
  client/src/app/index.tsx
  client/src/app/topBar/index.tsx
  client/src/app/topBar/styles/index.ts
Due: frontend build, frontend lint, frontend format

style: implements lint changes for app and topbar files
  client/src/app/index.tsx
  client/src/app/topBar/index.tsx
Due: frontend build, frontend lint, frontend format

syle: changes one line of style for client/src/app/index.tsx
  client/src/app/index.tsx
Due: frontend build, frontend lint, frontend format
