Repository drbfraser/CRADLE-Platform: changes, and which GitLab CI jobs are due for each by the changed paths.
All: frontend build, backend unit tests, backend system tests, backend format

frontend build:
  stage: build
  image: node:10
  tags:
  - docker
  before_script:
  - cd client
  - npm install
  script:
  - CI=false yarn build

backend unit tests:
  stage: test
  image: python:3.7.6-buster
  tags:
  - docker
  before_script:
  - cd server
  - pip install --upgrade pip
  - pip install -r requirements.txt
  script:
  - python -m pytest Tests

backend system tests:
  stage: test
  image: python:3.7.6-buster
  tags:
  - docker
  variables:
    DB_USERNAME: root
    DB_PASSWORD: ci-password
    EMAIL_USER: ci@ci.com
    EMAIL_PASSWORD: ci-password
    DB_HOSTNAME: mysql
    DB_PORT: '3306'
    DB_NAME: cradle
    PORT: '5000'
    MYSQL_DATABASE: cradle
    MYSQL_ROOT_PASSWORD: ci-password
  ...

backend format:
  stage: format
  image: python:3.7.6-buster
  tags:
  - docker
  before_script:
  - pip install --upgrade pip
  - pip install black
  script:
  - black --check --exclude 'server/migrations/.*' server

CRDL-107 Spelling
  server/SystemTests/mock/factory.py
Due: backend unit tests, backend system tests, backend format

allowed all user types to search and added case insensitive search closes CRDL-108
  server/Controller/PatientsController.py
Due: backend unit tests, backend system tests, backend format

CRDL-75 updated symptoms & new Reading switch
  client/src/newStructure/pages/newReading/newReadingCovid/demographic/hooks/index.tsx
  client/src/newStructure/pages/newReading/newReadingCovid/demographic/index.tsx
  client/src/newStructure/pages/newReading/newReadingCovid/index.tsx
  client/src/newStructure/pages/newReading/newReadingCovid/symptoms/hooks/index.tsx
  client/src/newStructure/pages/newReading/newReadingCovid/symptoms/index.tsx
Due: frontend build

CRDL-110 Create PatientAssociations Models
  server/Controller/PatientsController.py
  server/Database/Database.py
  server/Database/PatientAssociationsRepo.py
  server/Database/PatientFacilityRepo.py
  server/Manager/FilterHelper.py
  server/Manager/PatientAssociationsManager.py
  server/Manager/PatientFacilityManager.py
  server/Manager/ReferralManager.py
  server/SystemTests/conftest.py
  server/SystemTests/mock/factory.py
  server/SystemTests/test_patient_associations.py
  server/migrations/versions/d41dc6eb7f5d_three_way_patient_associations.py
  server/models.py
Due: backend unit tests, backend system tests, backend format

CRDL-75 updated vital input
  client/src/newStructure/pages/newReading/newReadingCovid/vitalSignAssessment/index.tsx
Due: frontend build

CRDL-110 Clean Up Database.py
  server/Database/Database.py
  server/Manager/FollowUpManager.py
  server/SystemTests/mock/factory.py
Due: backend unit tests, backend system tests, backend format

CRDL-110 Allow Associations To Be Made By Id
  server/Database/Database.py
  server/Manager/PatientAssociationsManager.py
  server/SystemTests/test_patient_associations.py
Due: backend unit tests, backend system tests, backend format

CRDL-110 Update ReferralManager To Use New Associations
  server/Controller/ReferralsController.py
  server/Manager/ReferralManager.py
Due: backend unit tests, backend system tests, backend format

CRDL-110 Add has_association Function
  server/Manager/PatientAssociationsManager.py
  server/SystemTests/test_patient_associations.py
Due: backend unit tests, backend system tests, backend format

CRDL-110 Update Patient Filters To Use New Association
  server/Manager/FilterHelper.py
  server/Manager/PatientManagerNew.py
Due: backend unit tests, backend system tests, backend format

CRDL-110 Update Patient Controller To Use New Manager
  server/Controller/PatientsController.py
Due: backend unit tests, backend system tests, backend format

CRDL-110 Unit Tests For Patient Filters
  server/SystemTests/test_patient_filters.py
Due: backend unit tests, backend system tests, backend format

CRDL-110 Formatting
  server/SystemTests/conftest.py
  server/SystemTests/mock/factory.py
Due: backend unit tests, backend system tests, backend format

CRDL-75 added confirmation dialog
  client/src/newStructure/pages/newReading/newReadingCovid/alertDialog/index.tsx
  client/src/newStructure/pages/newReading/newReadingCovid/demographic/index.tsx
  client/src/newStructure/pages/newReading/newReadingCovid/index.tsx
Due: frontend build

CRDL-75 hide covid flow
  client/src/newStructure/app/index.tsx
Due: frontend build

CRDL-110 Remove Redundant Query
  server/Manager/PatientAssociationsManager.py
Due: backend unit tests, backend system tests, backend format

CRDL-75 fixed other and none relation in symptoms
  client/src/newStructure/pages/newReading/newReadingCovid/symptoms/hooks/index.tsx
Due: frontend build

CRDL-75 fixed urine test msg
  client/src/newStructure/pages/newReading/newReadingCovid/urineTestAssessment/index.tsx
Due: frontend build

CRDL-75 update text fields
  client/src/newStructure/pages/newReading/newReadingCovid/urineTestAssessment/index.tsx
Due: frontend build

CRDL-75 updated linting issue
  client/src/newStructure/pages/newReading/newReadingCovid/demographic/hooks/index.tsx
Due: frontend build

CRDL-75 fixed lint
  client/package.json
  client/src/newStructure/pages/newReading/newReadingCovid/urineTestAssessment/index.tsx
Due: frontend build

CRDL-75 added submission dialog and logic change
  client/src/newStructure/pages/newReading/newReadingCovid/alertDialog/index.tsx
  client/src/newStructure/pages/newReading/newReadingCovid/index.tsx
  client/src/newStructure/pages/newReading/newReadingCovid/submissionDialog/index.tsx
  client/src/newStructure/pages/newReading/newReadingCovid/urineTestAssessment/index.tsx
  client/src/newStructure/pages/newReading/newReadingCovid/vitalSignAssessment/index.tsx
Due: frontend build

CRDL-75 fixed ui for urine test
  client/src/newStructure/pages/newReading/newReadingCovid/vitalSignAssessment/index.tsx
Due: frontend build

CRDL-75 made patient confirmation page
  client/src/newStructure/app/index.tsx
  client/src/newStructure/pages/newReading/newReadingCovid/confirmationPage/index.tsx
  client/src/newStructure/pages/newReading/newReadingCovid/index.tsx
Due: frontend build

CRDL-75 added patient confirmation
  client/src/newStructure/pages/newReading/newReadingCovid/confirmationPage/index.tsx
  client/src/newStructure/pages/newReading/newReadingCovid/index.tsx
  client/src/newStructure/pages/newReading/newReadingCovid/submissionDialog/index.tsx
  client/src/newStructure/pages/newReading/newReadingCovid/urineTestAssessment/index.tsx
  client/src/newStructure/pages/newReading/newReadingCovid/vitalSignAssessment/hooks/index.tsx
  client/src/newStructure/pages/newReading/newReadingCovid/vitalSignAssessment/index.tsx
Due: frontend build

CRDL-75
  client/src/newStructure/pages/newReading/newReadingCovid/alertDialog/index.tsx
  client/src/newStructure/pages/newReading/newReadingCovid/confirmationPage/index.tsx
  client/src/newStructure/pages/newReading/newReadingCovid/demographic/hooks/index.tsx
  client/src/newStructure/pages/newReading/newReadingCovid/index.tsx
  client/src/newStructure/pages/newReading/newReadingCovid/submissionDialog/index.tsx
  client/src/newStructure/pages/newReading/newReadingCovid/vitalSignAssessment/index.tsx
Due: frontend build

CRDL-75 updated confirmation page
  client/src/newStructure/app/index.tsx
  client/src/newStructure/pages/newReading/newReadingCovid/confirmationPage/index.tsx
  client/src/newStructure/pages/newReading/newReadingCovid/urineTestAssessment/index.tsx
Due: frontend build

CRDL-75 updated assessment
  client/src/newStructure/pages/newReading/newReadingCovid/assessment/index.tsx
Due: frontend build

CRDL-107 Allow Tests To Override Credentials
  server/SystemTests/conftest.py
Due: backend unit tests, backend system tests, backend format

Initial work in frontend and backend to add field for gestational timestamp
  client/src/newStructure/pages/newReading/index.tsx
  client/src/newStructure/types/index.ts
  server/models.py
Due: frontend build, backend unit tests, backend system tests, backend format

Add support for calculating gestational timestamp when editing patient information on summary page
  client/src/newStructure/pages/newReading/index.tsx
  client/src/newStructure/shared/components/patientSummary/index.tsx
Due: frontend build

Updated order of menu items
  client/src/newStructure/app/index.tsx
Due: frontend build

CRDL-75 updated validation
  client/src/newStructure/app/index.tsx
  client/src/newStructure/pages/newReading/newReadingCovid/confirmationPage/index.tsx
  client/src/newStructure/pages/newReading/newReadingCovid/demographic/hooks/index.tsx
  client/src/newStructure/pages/newReading/newReadingCovid/vitalSignAssessment/hooks/index.tsx
  client/src/newStructure/pages/newReading/newReadingCovid/vitalSignAssessment/index.tsx
Due: frontend build

CRDL-75
  client/src/newStructure/app/index.tsx
Due: frontend build

CRDL75 updated error
  client/src/newStructure/pages/newReading/newReadingCovid/demographic/index.tsx
Due: frontend build

CRDL-75 updated validation
  client/src/newStructure/pages/newReading/newReadingCovid/index.tsx
Due: frontend build

Minor reformatting
  client/src/newStructure/pages/newReading/index.tsx
  client/src/newStructure/shared/components/patientSummary/index.tsx
Due: frontend build

moved and updated search tests
  server/SystemTests/test_search.py
Due: backend unit tests, backend system tests, backend format

formatting
  server/SystemTests/test_search.py
Due: backend unit tests, backend system tests, backend format

CRDL-110 Make Global Search Actually Search
  server/Manager/FilterHelper.py
  server/Manager/PatientManagerNew.py
Due: backend unit tests, backend system tests, backend format

Path conditions:
  frontend build: any of: client/**/*
  backend unit tests: any of: server/**/*
  backend system tests: any of: server/**/*
  backend format: any of: server/**/*
