Repository drbfraser/CRADLE-Platform: changes, and which GitLab CI jobs are due for each by the changed paths.
All: frontend build, backend unit tests, backend system tests, backend format

frontend build:
  stage: build
  image: node:10
  tags:
  - docker
  before_script:
  - cd client
  - npm install
  script:
  - CI=false yarn build

backend unit tests:
  stage: test
  image: python:3.7.6-buster
  tags:
  - docker
  before_script:
  - cd server
  - pip install --upgrade pip
  - pip install -r requirements.txt
  script:
  - python -m pytest Tests

backend system tests:
  stage: test
  image: python:3.7.6-buster
  tags:
  - docker
  variables:
    DB_USERNAME: root
    DB_PASSWORD: ci-password
    EMAIL_USER: ci@ci.com
    EMAIL_PASSWORD: ci-password
    DB_HOSTNAME: mysql
    DB_PORT: '3306'
    DB_NAME: cradle
    PORT: '5000'
    MYSQL_DATABASE: cradle
    MYSQL_ROOT_PASSWORD: ci-password
  ...

backend format:
  stage: format
  image: python:3.7.6-buster
  tags:
  - docker
  allow_failure: true
  before_script:
  - pip install --upgrade pip
  - pip install black
  script:
  - black --check --exclude 'server/migrations/.*' server

Add API tests
  server/Controller/PatientsController.py
  server/SystemTests/test_patients.py
Due: backend unit tests, backend system tests, backend format

Reformat python files using black tool
  server/SystemTests/test_patients.py
  server/Tests/test_patient_validation.py
  server/Validation/PatientValidation.py
Due: backend unit tests, backend system tests, backend format

Fix rebase formatting mistake
  server/Validation/PatientValidation.py
Due: backend unit tests, backend system tests, backend format

CRDL-75 added validation for demographics
  client/src/newStructure/pages/newReading/newReadingCovid/demographic/hooks/index.tsx
  client/src/newStructure/pages/newReading/newReadingCovid/demographic/index.tsx
  client/src/newStructure/pages/newReading/newReadingCovid/demographic/validation/index.tsx
Due: frontend build

CRDL-75 updated logic for validation
  client/src/newStructure/pages/newReading/newReadingCovid/demographic/hooks/index.tsx
  client/src/newStructure/pages/newReading/newReadingCovid/demographic/index.tsx
Due: frontend build

CRDL-75 added validation and urine test component
  client/src/newStructure/pages/newReading/newReadingCovid/assessment/index.tsx
  client/src/newStructure/pages/newReading/newReadingCovid/demographic/hooks/index.tsx
  client/src/newStructure/pages/newReading/newReadingCovid/demographic/index.tsx
  client/src/newStructure/pages/newReading/newReadingCovid/demographic/validation/index.tsx
  client/src/newStructure/pages/newReading/newReadingCovid/index.tsx
  client/src/newStructure/pages/newReading/newReadingCovid/urineTestAssessment/hooks/index.tsx
  client/src/newStructure/pages/newReading/newReadingCovid/urineTestAssessment/index.tsx
  client/src/newStructure/pages/newReading/newReadingCovid/vitalSignAssessment/index.tsx
Due: frontend build

CRDl-75 added follow up to assessment
  client/src/newStructure/pages/newReading/newReadingCovid/assessment/hooks/index.tsx
  client/src/newStructure/pages/newReading/newReadingCovid/assessment/index.tsx
Due: frontend build

added global search API tests
  server/SystemTests/test_patients.py
Due: backend unit tests, backend system tests, backend format

changed error message
  server/Controller/PatientsController.py
Due: backend unit tests, backend system tests, backend format

formatted
  server/Controller/PatientsController.py
  server/SystemTests/test_patients.py
Due: backend unit tests, backend system tests, backend format

CRDL-75 updated demographic logic
  client/src/newStructure/pages/newReading/newReadingCovid/assessment/index.tsx
  client/src/newStructure/pages/newReading/newReadingCovid/demographic/hooks/index.tsx
  client/src/newStructure/pages/newReading/newReadingCovid/demographic/index.tsx
  client/src/newStructure/pages/newReading/newReadingCovid/urineTestAssessment/index.tsx
  client/src/newStructure/pages/newReading/newReadingCovid/vitalSignAssessment/index.tsx
Due: frontend build

Updated message on patient added Updated search text description
  client/src/newStructure/pages/newReading/index.tsx
  client/src/newStructure/shared/components/patientSummary/index.tsx
  server/Controller/FollowUpController.py
Due: frontend build, backend unit tests, backend system tests, backend format

CRDL-105 Partially Cleanup models.py
  server/Database/urineTestRepo.py
  server/models.py
Due: backend unit tests, backend system tests, backend format

CRDL-105 Update Migration to Populate Last Edited Column
  server/migrations/versions/ff58b4ff640f_lastedited_column_in_patient_table.py
Due: backend unit tests, backend system tests, backend format

CRDL-105 Add Last Edited Column to Patient Table
  .gitignore
  server/migrations/versions/ff58b4ff640f_lastedited_column_in_patient_table.py
  server/models.py
Due: backend unit tests, backend system tests, backend format

Updated message on patient added Updated search text description
  client/src/newStructure/pages/newReading/index.tsx
  client/src/newStructure/pages/newReading/patientInfoForm/index.tsx
  client/src/newStructure/shared/components/form/patient/index.tsx
  client/src/newStructure/shared/components/patientSummary/index.tsx
  client/src/newStructure/shared/utils/index.tsx
Due: frontend build

Change description of APIs
  server/specifications/mobile-followup-summarized.yml
  server/specifications/mobile-followup.yml
Due: backend unit tests, backend system tests, backend format

Use npm install When Deploying
  client/Dockerfile.prod
Due: frontend build

adding requirment for token
  server/Controller/PatientsController.py
Due: backend unit tests, backend system tests, backend format

CRDL-105 Cleanup Reading Model
  server/Database/ReadingRepoNew.py
  server/migrations/versions/e5396a8c62db_remove_unused_reading_columns.py
  server/models.py
Due: backend unit tests, backend system tests, backend format

CRDL-105 Fix Variable Name Scheme Warnings
  server/models.py
Due: backend unit tests, backend system tests, backend format

CRDL-75 updated ui
  client/src/newStructure/pages/newReading/newReadingCovid/demographic/hooks/index.tsx
  client/src/newStructure/pages/newReading/newReadingCovid/demographic/index.tsx
  client/src/newStructure/pages/newReading/newReadingCovid/demographic/validation/index.tsx
  client/src/newStructure/pages/newReading/newReadingCovid/index.tsx
  client/src/newStructure/pages/newReading/newReadingCovid/urineTestAssessment/index.tsx
Due: frontend build

CRDL-75 updated urine test text
  client/src/newStructure/pages/newReading/newReadingCovid/index.tsx
  client/src/newStructure/pages/newReading/newReadingCovid/urineTestAssessment/hooks/index.tsx
  client/src/newStructure/pages/newReading/newReadingCovid/urineTestAssessment/index.tsx
Due: frontend build

CRDL-75 updated assessment page
  client/src/newStructure/pages/newReading/newReadingCovid/assessment/hooks/index.tsx
  client/src/newStructure/pages/newReading/newReadingCovid/assessment/index.tsx
Due: frontend build

Don't Allow Failure for Backend Formatting
  .gitlab-ci.yml
Due: none

Add CI Jobs For Frontend Formatting & Linting
  .gitlab-ci.yml
Due: none

Install eslint Plugins
  .gitlab-ci.yml
Due: none

Install All Dependencies For Linting
  .gitlab-ci.yml
Due: none

Lint The Right Files
  .gitlab-ci.yml
Due: none

formatting
  server/SystemTests/test_patients.py
Due: backend unit tests, backend system tests, backend format

CRDL-75 update vitals
  client/src/newStructure/pages/newReading/newReadingCovid/demographic/hooks/index.tsx
  client/src/newStructure/pages/newReading/newReadingCovid/demographic/index.tsx
  client/src/newStructure/pages/newReading/newReadingCovid/vitalSignAssessment/hooks/index.tsx
  client/src/newStructure/pages/newReading/newReadingCovid/vitalSignAssessment/index.tsx
Due: frontend build

CRDL-107 Associate Followups Directly With Readings
  server/migrations/versions/9f9c3a766f68_associate_follow_up_directly_to_reading.py
  server/models.py
Due: backend unit tests, backend system tests, backend format

CRDL-107 Update Followup Controller/Manager With Model Changes
  server/Controller/FollowUpController.py
  server/Database/Database.py
  server/Manager/FollowUpManager.py
  server/Manager/PatientManagerNew.py
  server/specifications/followup-post.yml
Due: backend unit tests, backend system tests, backend format

CRDL-105 Use ReadingRepo to Create Readings Whilst Seeding
  server/manage.py
Due: backend unit tests, backend system tests, backend format

CRDL-107 Remove Some Fields From Followup Response
  server/Database/FollowUpRepo.py
Due: backend unit tests, backend system tests, backend format

CRDL-107 Update Swagger Docs With Followup API Changes
  server/specifications/followup-post.yml
Due: backend unit tests, backend system tests, backend format

CRDL-107 Cascade Delete Followups
  server/migrations/versions/30101cf360db_associate_follow_up_directly_to_reading.py
  server/models.py
Due: backend unit tests, backend system tests, backend format

CRDL-107 Test Fixtures For Creating Disposable Models
  server/SystemTests/conftest.py
  server/SystemTests/mock/__init__.py
  server/SystemTests/mock/factory.py
Due: backend unit tests, backend system tests, backend format

CRDL-107 Unit Tests For Followup API
  server/SystemTests/test_followup.py
Due: backend unit tests, backend system tests, backend format

Path conditions:
  frontend build: any of: client/**/*
  backend unit tests: any of: server/**/*
  backend system tests: any of: server/**/*
  backend format: any of: server/**/*
