Repository drbfraser/CRADLE-Platform: changes, and which GitLab CI jobs are due for each by the changed paths.
All: frontend build, backend unit tests, backend system tests, backend format

.gitlab-ci.yml:

stages:
  - build
  - test
  - format
  - deploy

variables:
  DEPLOYMENT_BRANCH: "/master|staging|production/"

frontend build:
  stage: build
  image: node:10
  tags:
    - docker
  rules:
    - if: '$CI_MERGE_REQUEST_ID != null || $CI_COMMIT_BRANCH =~ $DEPLOYMENT_BRANCH'
    - changes:
      - client/**/*
  before_script:
    - cd client
    - npm install
  script:
    - CI=false yarn build

backend unit tests:
  stage: test
  image: python:3.7.6-buster
  tags:
    - docker
  rules:
    - if: '$CI_MERGE_REQUEST_ID != null || $CI_COMMIT_BRANCH =~ $DEPLOYMENT_BRANCH'
    - changes:
      - server/**/*
  before_script:
    - cd server
    - pip install --upgrade pip
    - pip install -r requirements.txt
  script:
    - python -m pytest Tests

backend system tests:
  stage: test
  image: python:3.7.6-buster
  tags:
    - docker
  rules:
    - if: '$CI_MERGE_REQUEST_ID != null || $CI_COMMIT_BRANCH =~ $DEPLOYMENT_BRANCH'
    - changes:
      - server/**/*
  variables:
    # Cradle Server Variables
    DB_USERNAME: "root"
    DB_PASSWORD: "ci-password"
    EMAIL_USER: "ci@ci.com"
    EMAIL_PASSWORD: "ci-password"
    DB_HOSTNAME: "mysql"
    DB_PORT: "3306"
    DB_NAME: "cradle"
    PORT: "5000"
    # MySQL Variables
    MYSQL_DATABASE: "cradle"
    MYSQL_ROOT_PASSWORD: "ci-password"
  services:
    - mysql:5.7
  before_script:
    # Add mysql client so we can execute queries on the database
    - apt-get update -y
    - apt-get install default-mysql-client -y
    - cd server
    - pip install --upgrade pip
    - pip install -r requirements.txt
    # Spin up a server instance in the background
    # Run this first so that the server can warm up whilst we seed the db
    - python3 app.py &
    # Build and seed database
    - python3 db.py rebuild --no-docker
    - python3 manage.py seed_test_data
  script:
    - python -m pytest SystemTests

backend format:
  stage: format
  image: python:3.7.6-buster
  tags:
    - docker
  rules:
    - if: '$CI_MERGE_REQUEST_ID != null || $CI_COMMIT_BRANCH =~ $DEPLOYMENT_BRANCH'
      when: always
    - changes:
      - server/**/*
      when: always
  before_script:
    - pip install --upgrade pip
    - pip install black
  script:
    - black --check --exclude 'server/migrations/.*' server 

deploy staging:
  stage: deploy
  tags:
    - shell
  rules:
    # Only deploy to staging if we are on the master or stating branch.
    - if: '$CI_MERGE_REQUEST_ID == null && $CI_COMMIT_BRANCH =~ "/master|staging/"'
      when: on_success
    - when: never
  script:
    - source /var/cradle/staging.env
    - ./scripts/deploy.sh

Patient Associations: On Delete Cascade
  server/models.py
Due: backend unit tests, backend system tests, backend format

Abort If Patient Id Already Exists
  server/api/resources/patients.py
Due: backend unit tests, backend system tests, backend format

Don't Expire DB Objects on Commit
  server/config.py
Due: backend unit tests, backend system tests, backend format

Abort If Reading Id Already Exists
  server/api/resources/readings.py
Due: backend unit tests, backend system tests, backend format

CRDL-75 updated gestational age calculation
  client/src/newStructure/pages/newReading/newReadingCovid/demographic/hooks/index.tsx
  client/src/newStructure/pages/newReading/newReadingCovid/demographic/index.tsx
Due: frontend build

CRDL-75 update based on feedback
  client/src/newStructure/pages/newReading/newReadingCovid/alertDialog/index.tsx
  client/src/newStructure/pages/newReading/newReadingCovid/assessment/index.tsx
  client/src/newStructure/pages/newReading/newReadingCovid/urineTestAssessment/index.tsx
  client/src/newStructure/pages/newReading/newReadingCovid/vitalSignAssessment/hooks/index.tsx
  client/src/newStructure/pages/newReading/newReadingCovid/vitalSignAssessment/index.tsx
Due: frontend build

CRDL-75 sudo logic added for the future
  client/src/newStructure/pages/newReading/newReadingCovid/index.tsx
Due: frontend build

Fix Issue With Seeding Test Data
  server/manage.py
Due: backend unit tests, backend system tests, backend format

Do Expire Objects on Commit
  server/api/resources/patients.py
  server/api/resources/readings.py
  server/config.py
  server/data/crud.py
Due: backend unit tests, backend system tests, backend format

Include statsOpen in the dependency array
  client/src/newStructure/app/index.tsx
Due: frontend build

Redirect to referrals page on login
  client/src/newStructure/app/index.tsx
  client/src/newStructure/pages/login/index.tsx
Due: frontend build

Add dispatch function to addPatientToHealthFacility
  client/src/newStructure/pages/patients/index.tsx
  client/src/newStructure/shared/components/patientSummary/index.tsx
  client/src/newStructure/shared/components/patientSummary/referralInfo/followup/modal/index.tsx
  client/src/newStructure/shared/reducers/patients/index.ts
Due: frontend build

Refactored all reducers
  client/src/newStructure/app/privateRoute/index.tsx
  client/src/newStructure/pages/admin/index.tsx
  client/src/newStructure/pages/login/form/index.tsx
  client/src/newStructure/pages/login/index.tsx
  client/src/newStructure/pages/patients/index.tsx
  client/src/newStructure/pages/referrals/index.tsx
  client/src/newStructure/pages/signUp/index.tsx
  client/src/newStructure/redux/rootReducer/index.ts
  client/src/newStructure/shared/components/patientSummary/container/index.tsx
  client/src/newStructure/shared/components/patientSummary/index.tsx
  client/src/newStructure/shared/reducers/healthFacilities/index.ts
  client/src/newStructure/shared/reducers/newReadingStatus/index.ts
  client/src/newStructure/shared/reducers/patient/index.ts
  client/src/newStructure/shared/reducers/patientStatistics/index.ts
  client/src/newStructure/shared/reducers/patients/index.ts
  client/src/newStructure/shared/reducers/referrals/index.ts
  client/src/newStructure/shared/reducers/statistics/index.ts
  client/src/newStructure/shared/reducers/user/allUsers/index.ts
  client/src/newStructure/shared/reducers/user/allVhts/index.ts
  client/src/newStructure/shared/reducers/user/currentUser/index.ts
  client/src/newStructure/shared/reducers/user/registerStatus/index.ts
Due: frontend build

Update login validation
  client/package-lock.json
  client/package.json
  client/src/index.tsx
  client/src/newStructure/pages/login/form/index.tsx
  client/src/newStructure/pages/login/form/styles.module.css
  client/src/newStructure/pages/login/index.tsx
  client/src/newStructure/pages/login/styles.module.css
  client/src/newStructure/pages/login/styles/index.ts
  client/src/newStructure/redux/middleware/request/index.ts
  client/src/newStructure/redux/rootReducer/index.ts
  client/src/newStructure/redux/store/index.ts
  client/src/newStructure/shared/components/error/index.tsx
  client/src/newStructure/shared/reducers/user/currentUser/index.ts
  client/src/newStructure/types/index.ts
Due: frontend build

Update connected router
  client/src/index.tsx
Due: frontend build

Add request.http to gitignore
  .gitignore
Due: none

Add private route config
  client/src/newStructure/app/index.tsx
  client/src/newStructure/app/privateRoute/index.tsx
  client/src/newStructure/pages/referrals/index.tsx
  client/src/newStructure/shared/components/loader/index.tsx
  client/src/newStructure/shared/components/loader/styles/index.ts
  client/src/newStructure/shared/reducers/user/currentUser/index.ts
Due: frontend build

Updated referral page fetch error handling
  client/src/newStructure/pages/home/index.tsx
  client/src/newStructure/pages/referrals/index.tsx
  client/src/newStructure/pages/referrals/utils/index.ts
  client/src/newStructure/shared/reducers/patients/index.ts
  server/Controller/PatientsController.py
  server/Manager/PatientManagerNew.py
Due: frontend build, backend unit tests, backend system tests, backend format

Updated error handling for referral page
  client/src/newStructure/pages/login/form/index.tsx
  client/src/newStructure/pages/referrals/index.tsx
  client/src/newStructure/shared/reducers/user/currentUser/index.ts
Due: frontend build

CRDL-75 udpated useeffect in sidebar
  client/src/newStructure/app/index.tsx
Due: frontend build

Spelling and Comments
  server/api/resources/sync.py
  server/service/view.py
Due: backend unit tests, backend system tests, backend format

CRDL-75 updated new reading demographic design
  client/src/newStructure/app/index.tsx
  client/src/newStructure/pages/newReading/newReadingCovid/demographic/hooks/index.tsx
  client/src/newStructure/pages/newReading/newReadingCovid/demographic/index.tsx
  client/src/newStructure/pages/newReading/newReadingCovid/index.tsx
  client/src/newStructure/pages/newReading/newReadingCovid/vitalSignAssessment/hooks/index.tsx
  client/src/newStructure/pages/newReading/newReadingCovid/vitalSignAssessment/index.tsx
Due: frontend build

Merge Migration History
  server/SystemTests/api/test_readings.py
  server/migrations/versions/711f817125f9_.py
  server/migrations/versions/a1913287ffaf_.py
  server/migrations/versions/a1913287ffaf_store_timestamps_as_big_integers.py
Due: backend unit tests, backend system tests, backend format

CRDL-75 updated UI for demographics
  client/src/newStructure/pages/newReading/newReadingCovid/demographic/index.tsx
Due: frontend build

CRDL-75 formatted
  client/src/newStructure/pages/newReading/newReadingCovid/demographic/hooks/index.tsx
  client/src/newStructure/pages/newReading/newReadingCovid/demographic/index.tsx
Due: frontend build

Updated sort status for assessment column
  client/src/newStructure/pages/referrals/referralTable/hooks/tableColumns/column/assessment/head/index.tsx
  client/src/newStructure/pages/referrals/referralTable/hooks/tableColumns/index.tsx
  client/src/newStructure/redux/middleware/request/index.ts
  client/src/newStructure/shared/components/error/index.tsx
Due: frontend build

db changes
  server/migrations/versions/3d49263fe82c_new_covid_reading_changes.py
  server/models.py
Due: backend unit tests, backend system tests, backend format

removed unintended changes that were automatically generated
  server/migrations/versions/3d49263fe82c_new_covid_reading_changes.py
Due: backend unit tests, backend system tests, backend format

temp change to stop serializing problem
  server/api/resources/patients.py
Due: backend unit tests, backend system tests, backend format

adding some temp documentation for new covid reading support
  docs/# Create new patient
Due: none

temp change to solve date serializing problem
  server/api/resources/patients.py
Due: backend unit tests, backend system tests, backend format

editing support doc
  docs/# Create new patient
Due: none

renamed file + temp dob change
  docs/New_Covid Reading_API_Support_Web
  server/api/resources/patients.py
Due: backend unit tests, backend system tests, backend format

formatting
  server/api/resources/patients.py
  server/migrations/versions/3d49263fe82c_new_covid_reading_changes.py
Due: backend unit tests, backend system tests, backend format

Update New_Covid Reading_API_Support_Web
  docs/New_Covid Reading_API_Support_Web
Due: none

db changes
  server/migrations/versions/3a4b8033a6d9_dob_only_remove_age.py
  server/models.py
Due: backend unit tests, backend system tests, backend format

CRDL-75 added initial step for api calls
  client/src/newStructure/pages/newReading/newReadingCovid/formatData/index.tsx
  client/src/newStructure/pages/newReading/newReadingCovid/index.tsx
  client/src/newStructure/shared/reducers/patients/index.ts
Due: frontend build

CRDL-75
  client/src/newStructure/pages/newReading/newReadingCovid/index.tsx
  client/src/newStructure/shared/reducers/patients/index.ts
Due: frontend build

Complete refactor for patient summary
  client/src/newStructure/shared/components/patientSummary/container/index.tsx
  client/src/newStructure/shared/components/patientSummary/index.tsx
  client/src/newStructure/shared/components/patientSummary/referralInfo/index.tsx
  client/src/newStructure/shared/components/patientSummary/utils/index.tsx
  client/src/newStructure/shared/reducers/referrals/index.ts
Due: frontend build
