Repository drbfraser/CRADLE-Platform: changes, and which GitLab CI jobs are due for each by the changed paths.
All: frontend build, backend unit tests, backend system tests, backend format

frontend build:
  stage: build
  image: node:10
  tags:
  - docker
  before_script:
  - cd client
  - npm install
  script:
  - CI=false yarn build

backend unit tests:
  stage: test
  image: python:3.7.6-buster
  tags:
  - docker
  before_script:
  - cd server
  - pip install --upgrade pip
  - pip install -r requirements.txt
  script:
  - python -m pytest Tests

backend system tests:
  stage: test
  image: python:3.7.6-buster
  tags:
  - docker
  variables:
    DB_USERNAME: root
    DB_PASSWORD: ci-password
    EMAIL_USER: ci@ci.com
    EMAIL_PASSWORD: ci-password
    DB_HOSTNAME: mysql
    DB_PORT: '3306'
    DB_NAME: cradle
    PORT: '5000'
    MYSQL_DATABASE: cradle
    MYSQL_ROOT_PASSWORD: ci-password
  ...

backend format:
  stage: format
  image: python:3.7.6-buster
  tags:
  - docker
  before_script:
  - pip install --upgrade pip
  - pip install black
  script:
  - black --check --exclude 'server/migrations/.*' server

remove temp api doc
  docs/New_Covid Reading_API_Support_Web
Due: none

updating some todo items
  server/Controller/StatsController.py
  server/Manager/PatientStatsManager.py
  server/Manager/StatsManager.py
  server/Manager/urineTestManager.py
Due: backend unit tests, backend system tests, backend format

removed run_tests scripts
  server/run_tests
Due: backend unit tests, backend system tests, backend format

formatting
  server/Manager/PatientStatsManager.py
Due: backend unit tests, backend system tests, backend format

fixed todo convention
  server/Controller/StatsController.py
  server/Manager/PatientStatsManager.py
  server/Manager/StatsManager.py
  server/Manager/urineTestManager.py
Due: backend unit tests, backend system tests, backend format

add usernames and passwords for the test seed data to the docs
  README.md
Due: none

removed the filter toggle from the patients page
  client/src/pages/patients/patientTable/toolbar/index.tsx
  client/src/pages/patients/patientTable/toolbar/referredPatients/index.tsx
  client/src/pages/patients/patientTable/toolbar/referredPatients/styles/index.ts
  client/src/redux/reducers/patients/index.ts
Due: frontend build

fixed error causing gestational age to become 0 when patient is edited
  client/src/pages/newReading/newReadingCovid/demographic/hooks/index.tsx
  client/src/pages/newReading/newReadingCovid/formatData/index.tsx
Due: frontend build

CRDL-147 fixed assessment bug
  server/api/resources/assessments.py
Due: backend unit tests, backend system tests, backend format

CRDL-147 formatted
  server/api/resources/assessments.py
Due: backend unit tests, backend system tests, backend format

fix broken license shield
  README.md
Due: none

working Docker and Caddy
  caddy/Caddyfile
  docker-compose.old.yml
  docker-compose.yml
  server/Dockerfile
Due: backend unit tests, backend system tests, backend format

properly extending the base docker config for dev and prod environments
  docker-compose.override.yml
  docker-compose.prod.old.yml
  docker-compose.prod.yml
  docker-compose.staging.old.yml
  docker-compose.yml
Due: none

Only have the date format 'YYYY-MM-DD'
  client/src/shared/utils/index.ts
Due: frontend build

only display age, fill age by calculating DOB
  client/src/pages/newReading/newReadingCovid/demographic/hooks/index.tsx
  client/src/pages/patient/summary/medicalInformation/basicInformation/index.tsx
  client/src/shared/utils/index.ts
Due: frontend build

add Caddy security headers; properly persist certificates when Docker container is restarted
  caddy/Caddyfile
  docker-compose.override.yml
  docker-compose.prod.yml
Due: none

only display age, fill age by calculating DOB
  client/src/pages/newReading/newReadingCovid/demographic/hooks/index.tsx
  client/src/shared/utils/index.ts
Due: frontend build

displaya age,remove DOB, change data format
  client/src/pages/newReading/newReadingCovid/demographic/hooks/index.tsx
  client/src/shared/utils/index.ts
Due: frontend build

displaya age,remove DOB, change data format
  client/src/pages/newReading/newReadingCovid/demographic/hooks/index.tsx
Due: frontend build

CRDL-162
  server/Controller/UsersController.py
Due: backend unit tests, backend system tests, backend format

fix issues running issues on Vultr server
  docker-compose.override.yml
  docker-compose.prod.yml
  docker-compose.yml
  server/prod/gunicorn.conf.py
Due: backend unit tests, backend system tests, backend format

added volume for frontend build
  docker-compose.prod.yml
Due: none

make Caddy serve index.html for 404 errors
  caddy/Caddyfile
Due: none

Clean up previous config files
  client/Dockerfile
  client/Dockerfile.prod
  client/src/server/utils/index.ts
  docker-compose.old.yml
  docker-compose.prod.old.yml
  docker-compose.prod.yml
  docker-compose.staging.old.yml
  nginx/nginx-staging.conf
  nginx/nginx.conf
  server/Dockerfile.prod
  ssh/certbot/init-letsencrypt.sh
Due: frontend build, backend unit tests, backend system tests, backend format

Add container names for easy docker exec usage
  docker-compose.prod.yml
  docker-compose.yml
Due: none

no Character Limit on initals
  client/src/pages/newReading/newReadingCovid/demographic/index.tsx
  client/src/pages/newReading/newReadingCovid/demographic/validation/index.tsx
Due: frontend build

Clean Up New Reading Structure
  client/src/app/routes/utils/index.tsx
  client/src/pages/newReading/alertDialog/index.tsx
  client/src/pages/newReading/assessment/hooks/index.tsx
  client/src/pages/newReading/assessment/index.tsx
  client/src/pages/newReading/bpForm/index.tsx
  client/src/pages/newReading/confirmationPage/index.tsx
  client/src/pages/newReading/demographic/hooks/index.tsx
  client/src/pages/newReading/demographic/index.tsx
  client/src/pages/newReading/demographic/validation/index.tsx
  client/src/pages/newReading/formatData/index.tsx
  client/src/pages/newReading/index.css
  client/src/pages/newReading/index.tsx
  client/src/pages/newReading/newReadingCovid/index.tsx
  client/src/pages/newReading/styles/index.ts
  client/src/pages/newReading/submissionDialog/index.tsx
  client/src/pages/newReading/symptomForm/index.tsx
  client/src/pages/newReading/symptoms/hooks/index.tsx
  client/src/pages/newReading/symptoms/index.tsx
  client/src/pages/newReading/urineTestAssessment/hooks/index.tsx
  client/src/pages/newReading/urineTestAssessment/index.tsx
  client/src/pages/newReading/urineTestForm/index.tsx
  client/src/pages/newReading/vitalSignAssessment/hooks/index.tsx
  client/src/pages/newReading/vitalSignAssessment/index.tsx
  client/src/redux/reducers/patients/index.ts
  client/src/types/index.ts
Due: frontend build

no Character Limit on initals
  client/src/pages/newReading/newReadingCovid/demographic/index.tsx
Due: frontend build

bugfix/CRDL-172-numberLimitOnVillage
  client/src/pages/newReading/newReadingCovid/demographic/hooks/index.tsx
  client/src/pages/newReading/newReadingCovid/demographic/index.tsx
  client/src/pages/newReading/newReadingCovid/demographic/validation/index.tsx
Due: frontend build

bugfix/CRDL-172-numberLimitOnVillage
  client/src/pages/newReading/demographic/hooks/index.tsx
Due: frontend build

CRDL-140 updated referral endpoint
  server/service/view.py
Due: backend unit tests, backend system tests, backend format

adding scripts that work with the new Docker setup
  .gitlab-ci.yml
  caddy/Caddyfile.build
  docker-compose.build.yml
  scripts/prod_setup.sh
  scripts/setup.sh
Due: none

CRDL-159 updated Test and Validation folder
  server/Controller/PasswordResetController.py
  server/Manager/ReferralManager.py
  server/SystemTests/README.md
  server/SystemTests/conftest.py
  server/SystemTests/test_referral_validator.py
  server/api/resources/assessments.py
  server/api/resources/associations.py
  server/api/resources/facilities.py
  server/api/resources/patients.py
  server/api/resources/readings.py
  server/api/resources/referrals.py
  server/tests/README.md
  server/tests/Validation/test_assessments.py
  server/tests/Validation/test_associations.py
  server/tests/Validation/test_facilities.py
  server/tests/Validation/test_patients.py
  server/tests/Validation/test_readings.py
  server/tests/Validation/test_referrals.py
  server/tests/__init__.py
  server/validation/ReferralValidator.py
  server/validation/__init__.py
  server/validation/assessments.py
  server/validation/associations.py
  server/validation/errors.py
  server/validation/facilities.py
  server/validation/patients.py
  server/validation/readings.py
  server/validation/referrals.py
  server/validation/validate.py
Due: backend unit tests, backend system tests, backend format

CRDL-159 Co-Authored-By: Ali <atohidi@sfu.ca>
  server/systemTests/README.md
  server/systemTests/__init__.py
  server/systemTests/api/__init__.py
  server/systemTests/api/test_assessments.py
  server/systemTests/api/test_facilities.py
  server/systemTests/api/test_patients.py
  server/systemTests/api/test_readings.py
  server/systemTests/conftest.py
  server/systemTests/data/__init__.py
  server/systemTests/data/test_crud.py
  server/systemTests/flow/README.md
  server/systemTests/flow/__init__.py
  server/systemTests/flow/conftest.py
  server/systemTests/flow/test_referral_loop.py
  server/systemTests/mock/__init__.py
  server/systemTests/mock/factory.py
  server/systemTests/test_login.py
  server/systemTests/test_patient_associations.py
  server/systemTests/test_patient_filters.py
  server/systemTests/test_referral_validator.py
  server/systemTests/test_search.py
  server/systemTests/test_users.py
  server/tests/README.md
Due: backend unit tests, backend system tests, backend format

CRDL-159 renamed manager Co-Authored-By: Ali <atohidi@sfu.ca>
  server/Controller/FollowUpController.py
  server/Controller/HealthFacilityController.py
  server/Controller/PasswordResetController.py
  server/Controller/PatientsController.py
  server/Controller/ReferralsController.py
  server/Controller/StatsController.py
  server/Controller/UsersController.py
  server/api/resources/patients.py
  server/manager/FilterHelper.py
  server/manager/FollowUpManager.py
  server/manager/GlobalSearchHelper.py
  server/manager/HealthFacilityManager.py
  server/manager/Manager.py
  server/manager/PatientAssociationsManager.py
  server/manager/PatientManagerNew.py
  server/manager/PatientStatsManager.py
  server/manager/ReadingManagerNew.py
  server/manager/ReferralManager.py
  server/manager/RoleManager.py
  server/manager/StatsManager.py
  server/manager/UserManager.py
  server/manager/__init__.py
  server/manager/urineTestManager.py
  server/systemTests/test_patient_associations.py
  server/systemTests/test_patient_filters.py
Due: backend unit tests, backend system tests, backend format

CRDL-159 renamed database Co-Authored-By: Ali <atohidi@sfu.ca>
  server/database/Database.py
  server/database/FollowUpRepo.py
  server/database/HealthFacilityRepoNew.py
  server/database/PatientAssociationsRepo.py
  server/database/PatientRepoNew.py
  server/database/ReadingRepoNew.py
  server/database/ReferralRepo.py
  server/database/UserRepo.py
  server/database/__init__.py
  server/database/about.txt
  server/database/urineTestRepo.py
  server/manage.py
  server/manager/FollowUpManager.py
  server/manager/HealthFacilityManager.py
  server/manager/PatientAssociationsManager.py
  server/manager/PatientManagerNew.py
  server/manager/ReadingManagerNew.py
  server/manager/ReferralManager.py
  server/manager/UserManager.py
  server/manager/__init__.py
  server/manager/urineTestManager.py
  server/systemTests/conftest.py
  server/systemTests/mock/factory.py
Due: backend unit tests, backend system tests, backend format

CRDL-159 Co-Authored-By: Ali <atohidi@sfu.ca>
  server/controller/FollowUpController.py
  server/controller/HealthFacilityController.py
  server/controller/Helpers.py
  server/controller/Multi.py
  server/controller/PasswordResetController.py
  server/controller/PatientsController.py
  server/controller/ReferralsController.py
  server/controller/SMSController.py
  server/controller/StatsController.py
  server/controller/UsersController.py
  server/controller/__init__.py
  server/controller/about.txt
  server/routes.py
Due: backend unit tests, backend system tests, backend format

Fix CI/CD and rename remaining folders
  .gitlab-ci.yml
  server/system-tests/README.md
  server/system-tests/__init__.py
  server/system-tests/api/__init__.py
  server/system-tests/api/test_assessments.py
  server/system-tests/api/test_facilities.py
  server/system-tests/api/test_patients.py
  server/system-tests/api/test_readings.py
  server/system-tests/conftest.py
  server/system-tests/data/__init__.py
  server/system-tests/data/test_crud.py
  server/system-tests/flow/README.md
  server/system-tests/flow/__init__.py
  server/system-tests/flow/conftest.py
  server/system-tests/flow/test_referral_loop.py
  server/system-tests/mock/__init__.py
  server/system-tests/mock/factory.py
  server/system-tests/test_login.py
  server/system-tests/test_patient_associations.py
  server/system-tests/test_patient_filters.py
  server/system-tests/test_referral_validator.py
  server/system-tests/test_search.py
  server/system-tests/test_users.py
Due: backend unit tests, backend system tests, backend format

Try renaming again
  .gitlab-ci.yml
  server/systemTests/README.md
  server/systemTests/__init__.py
  server/systemTests/api/__init__.py
  server/systemTests/api/test_assessments.py
  server/systemTests/api/test_facilities.py
  server/systemTests/api/test_patients.py
  server/systemTests/api/test_readings.py
  server/systemTests/conftest.py
  server/systemTests/data/__init__.py
  server/systemTests/data/test_crud.py
  server/systemTests/flow/README.md
  server/systemTests/flow/__init__.py
  server/systemTests/flow/conftest.py
  server/systemTests/flow/test_referral_loop.py
  server/systemTests/mock/__init__.py
  server/systemTests/mock/factory.py
  server/systemTests/test_login.py
  server/systemTests/test_patient_associations.py
  server/systemTests/test_patient_filters.py
  server/systemTests/test_referral_validator.py
  server/systemTests/test_search.py
  server/systemTests/test_users.py
  server/tests/README.md
Due: backend unit tests, backend system tests, backend format

Path conditions:
  frontend build: any of: client/**/*
  backend unit tests: any of: server/**/*
  backend system tests: any of: server/**/*
  backend format: any of: server/**/*
