Repository drbfraser/CRADLE-Platform: changes, and which GitLab CI jobs are due for each by the changed paths.
All: frontend build, backend unit tests, backend system tests, frontend lint, frontend format, backend format

frontend build:
  stage: build
  needs: []
  image: $NODE_IMAGE
  tags:
  - docker
  before_script:
  - cd client
  - npm install
  script:
  - CI=false npm run build
  after_script:
  - tar -czvf frontend.tar.gz client/build
  artifacts:
    expire_in: 1 week
    paths:
    - frontend.tar.gz

backend unit tests:
  stage: test
  needs: []
  image: $PYTHON_IMAGE
  tags:
  - docker
  before_script:
  - cd server
  - pip install --upgrade pip
  - pip install -r requirements.txt
  script:
  - python -m pytest --junitxml=report.xml tests
  artifacts:
    expire_in: 1 week
    when: always
    reports:
      junit: server/report.xml

backend system tests:
  stage: test
  needs: []
  image: $PYTHON_IMAGE
  tags:
  - docker
  variables:
    DB_USERNAME: root
    DB_PASSWORD: ci-password
    EMAIL_USER: ci@ci.com
    EMAIL_PASSWORD: ci-password
    DB_HOSTNAME: mysql
    DB_PORT: '3306'
    DB_NAME: cradle
    PORT: '5000'
    MYSQL_DATABASE: cradle
  ...

frontend lint:
  stage: format
  needs: []
  image: $NODE_IMAGE
  tags:
  - docker
  before_script:
  - cd client
  - npm install
  script:
  - ./node_modules/.bin/eslint "src/**/*.{ts,tsx}"

frontend format:
  stage: format
  needs: []
  image: $NODE_IMAGE
  tags:
  - docker
  before_script:
  - npm install prettier@^2.2.0 --global
  script:
  - prettier --check "client/src/**/*.{ts,tsx}"

backend format:
  stage: format
  needs: []
  image: $PYTHON_IMAGE
  tags:
  - docker
  before_script:
  - pip install --upgrade pip
  - pip install black
  script:
  - black --check --exclude 'server/migrations/.*' server

feat: integrate the referral filter dialog with backend API
  client/src/pages/referrals/FilterDialog.tsx
  client/src/pages/referrals/index.tsx
  client/src/shared/components/apiTable/index.tsx
  client/src/shared/types.ts
Due: frontend build, frontend lint, frontend format

docs: add referral view docstring
  server/api/resources/referrals.py
  server/service/view.py
Due: backend unit tests, backend system tests, backend format

refactor: update mobile patients query arg
  server/data/crud.py
  server/service/view.py
Due: backend unit tests, backend system tests, backend format

fix: fix referrals sort-by
  server/data/crud.py
  server/service/view.py
Due: backend unit tests, backend system tests, backend format

fix: fix empty referrer
  server/api/util.py
Due: backend unit tests, backend system tests, backend format

fix: format
  server/api/util.py
Due: backend unit tests, backend system tests, backend format

feat: add support for multiple facilities filter
  client/src/pages/patient/PregnancyInfo.tsx
  client/src/pages/referrals/FilterDialog.tsx
  client/src/shared/components/apiTable/index.tsx
  client/src/shared/types.ts
Due: frontend build, frontend lint, frontend format

feat: add support for multiple referrers
  client/src/pages/referrals/FilterDialog.tsx
  client/src/shared/components/apiTable/index.tsx
  client/src/shared/types.ts
Due: frontend build, frontend lint, frontend format

refactor: add user role exception to referral view
  server/api/resources/patients.py
  server/data/crud.py
  server/service/view.py
Due: backend unit tests, backend system tests, backend format

refactor: refactor patients query
  server/data/crud.py
Due: backend unit tests, backend system tests, backend format

refactor: refactor patients view
  server/api/resources/patients.py
  server/data/crud.py
  server/service/serialize.py
  server/service/view.py
Due: backend unit tests, backend system tests, backend format

refactor: refactor referrals query
  server/data/crud.py
  server/service/view.py
Due: backend unit tests, backend system tests, backend format

feat: add more styling and add clear filter buttons
  client/src/pages/patientForm/handlers.ts
  client/src/pages/referrals/FilterDialog.tsx
  client/src/pages/referrals/index.tsx
Due: frontend build, frontend lint, frontend format

refactor: move vital sign array outside component
  client/src/pages/referrals/FilterDialog.tsx
Due: frontend build, frontend lint, frontend format

feat: add multiple health-statuses filter support
  server/api/util.py
  server/data/crud.py
  server/systemTests/api/test_referrals.py
Due: backend unit tests, backend system tests, backend format

refactor: use shared query clauses
  server/data/crud.py
Due: backend unit tests, backend system tests, backend format

fix: Fixes bug in unmarshallers for patients, and adds timestamps to mobile sync api
  server/api/resources/sync.py
  server/data/crud.py
  server/data/marshal.py
  server/service/serialize.py
Due: backend unit tests, backend system tests, backend format

fix: adds check to allow android to upload gestationalTimestamp field in patients post req
  server/api/resources/patients.py
Due: backend unit tests, backend system tests, backend format

fix: adds if statement to sync api to avoid error
  server/api/resources/sync.py
Due: backend unit tests, backend system tests, backend format

style: ran black on backend code for format
  server/api/resources/patients.py
  server/api/resources/sync.py
Due: backend unit tests, backend system tests, backend format

refactor: add more fixes and validation and code refactor
  client/src/pages/referrals/FilterDialog.tsx
  client/src/shared/components/apiTable/index.tsx
  client/src/shared/types.ts
Due: frontend build, frontend lint, frontend format

test: add get patients system test
  server/systemTests/api/conftest.py
  server/systemTests/api/test_patients.py
Due: backend unit tests, backend system tests, backend format

fix: Adds related records for patient in __marshal_patient()
  server/data/marshal.py
Due: backend unit tests, backend system tests, backend format

style: ran format code on backend
  server/data/marshal.py
Due: backend unit tests, backend system tests, backend format

refactor: make patient query reusable in multiple apis
  server/data/crud.py
  server/service/view.py
Due: backend unit tests, backend system tests, backend format

refactor: decouple crud from serialize
  server/data/crud.py
  server/service/serialize.py
  server/service/sqlStrings.py
Due: backend unit tests, backend system tests, backend format

refactor: extract shared logic in view module
  server/data/crud.py
  server/service/view.py
Due: backend unit tests, backend system tests, backend format

fix: update patient get post sync apis to use new crud
  server/api/resources/patients.py
  server/api/resources/patients_android.py
  server/api/resources/sync.py
  server/data/crud.py
  server/data/marshal.py
  server/service/serialize.py
  server/validation/patients.py
Due: backend unit tests, backend system tests, backend format

test: add system tests for patient get post sync
  server/systemTests/api/conftest.py
  server/systemTests/api/test_android_sync.py
  server/systemTests/api/test_patients.py
  server/systemTests/api/test_referrals.py
Due: backend unit tests, backend system tests, backend format

docs: update patient get post specs
  server/api/resources/patients.py
  server/api/resources/referrals.py
  server/data/crud.py
  server/service/view.py
  server/specifications/patients-post.yml
  server/specifications/single-patient-get.yml
Due: backend unit tests, backend system tests, backend format

fix: fix unclickable tab
  client/src/pages/historyTables/index.tsx
  client/src/pages/patient/PregnancyInfo.tsx
Due: frontend build, frontend lint, frontend format

feat: add facility type field to add/edit health facility form
  client/src/pages/admin/manageFacilities/EditFacility.tsx
  client/src/pages/admin/manageFacilities/state.ts
Due: frontend build, frontend lint, frontend format

fix: fix incorrect index error for the tables
  client/src/pages/admin/manageFacilities/ManageFacilities.tsx
  client/src/pages/admin/manageFacilities/state.ts
  client/src/pages/admin/manageUsers/ManageUsers.tsx
  client/src/shared/types.ts
Due: frontend build, frontend lint, frontend format

fix: fix mismatching resources images
  client/src/pages/resources/CommunityWorkerResource/index.tsx
  client/src/pages/resources/HealthWorkerResources/index.tsx
Due: frontend build, frontend lint, frontend format

test: add test patient with medical records
  client/src/pages/patient/PregnancyInfo.tsx
  server/manage.py
Due: frontend build, backend unit tests, backend system tests, frontend lint, frontend format, backend format

feat: add upload/download alerts
  client/src/pages/admin/index.tsx
  client/src/pages/admin/manageRelayApp/ManageRelayApp.tsx
  server/Dockerfile
  server/config.py
  server/routes.py
Due: frontend build, backend unit tests, backend system tests, frontend lint, frontend format, backend format

feat: add ui for uploading files
  client/src/pages/admin/index.tsx
  client/src/pages/admin/manageFiles/ManageFiles.tsx
  client/src/shared/enums.ts
  client/src/shared/utils.ts
  server/Dockerfile
  server/api/resources/upload.py
  server/routes.py
Due: frontend build, backend unit tests, backend system tests, frontend lint, frontend format, backend format

feat: add backend support for file upload
  server/api/resources/upload.py
  server/config.py
  server/routes.py
Due: backend unit tests, backend system tests, backend format

fix: update apiFetch to handle formData
  client/src/pages/admin/manageRelayApp/ManageRelayApp.tsx
  client/src/shared/api.ts
Due: frontend build, frontend lint, frontend format

refactor: refactor apiFetch
  client/src/shared/api.ts
Due: frontend build, frontend lint, frontend format

Path conditions:
  frontend build: any of: client/**/*
  backend unit tests: any of: server/**/*
  backend system tests: any of: server/**/*
  frontend lint: any of: client/**/*
  frontend format: any of: client/**/*
  backend format: any of: server/**/*
