Repository drbfraser/CRADLE-Platform: changes, and which GitLab CI jobs are due for each by the changed paths.
All: frontend build, backend unit tests, backend system tests, frontend lint, frontend format, backend format

Path conditions:
  frontend build: any of: client/**/*
  backend unit tests: any of: server/**/*
  backend system tests: any of: server/**/*
  frontend lint: any of: client/**/*
  frontend format: any of: client/**/*
  backend format: any of: server/**/*

feat: add referral vital sign fetch logic
  server/api/resources/referrals.py
  server/migrations/versions/66168c667895_referral_add_vital_sign_field.py
  server/models.py
Due: backend unit tests, backend system tests, backend format

feat: impl referral filter vital sign rules
  server/api/resources/referrals.py
  server/data/crud.py
  server/service/serialize.py
Due: backend unit tests, backend system tests, backend format

doc: flasgger update referral vital sign
  server/specifications/patient-referrals-get.yml
  server/specifications/referrals-assess-update-put.yml
  server/specifications/referrals-cancel-update-put.yml
  server/specifications/referrals-get.yml
  server/specifications/referrals-post.yml
  server/specifications/single-referral-get.yml
Due: backend unit tests, backend system tests, backend format

Update Docker and CI/CD setup
  .gitlab-ci.yml
  README.md
  caddy/Caddyfile
  caddy/Dockerfile
  docker-compose.deploy.yml
  docker-compose.override.yml
  docker-compose.yml
  docs/development.md
  scripts/setup_cd.sh
  scripts/setup_manual.sh
  server/Dockerfile.deploy
  server/config.py
  server/requirements.txt
Due: backend unit tests, backend system tests, backend format

Remove assessment from form entering. Merge 'min' into branch.
  client/src/pages/readingForm/index.tsx
Due: frontend build, frontend lint, frontend format

Remove assessment from reading body of reading submission JSON.
  client/src/pages/readingForm/handlers.ts
Due: frontend build, frontend lint, frontend format

Fix unit test failures due to recent changes
  server/api/resources/patients.py
  server/tests/validation/test_referrals.py
Due: backend unit tests, backend system tests, backend format

Fix system test failures due to recent changes
  server/models.py
  server/systemTests/api/conftest.py
  server/systemTests/api/test_android_endpoints.py
  server/systemTests/api/test_assessments.py
  server/systemTests/api/test_readings.py
  server/systemTests/flow/conftest.py
  server/systemTests/flow/test_referral_loop.py
Due: backend unit tests, backend system tests, backend format

refactor: refactor referral vital sign logic and format code
  server/api/resources/referrals.py
  server/data/crud.py
  server/migrations/versions/66168c667895_referral_add_vital_sign_field.py
  server/models.py
Due: backend unit tests, backend system tests, backend format

fix one get-referral test
  server/systemTests/api/test_referrals.py
Due: backend unit tests, backend system tests, backend format

style: format backend code
  server/api/resources/referrals.py
Due: backend unit tests, backend system tests, backend format

Bump Flask version due to failing pipeline
  server/requirements.txt
Due: backend unit tests, backend system tests, backend format

Set version of MarkupSafe package in requirements.txt
  server/requirements.txt
Due: backend unit tests, backend system tests, backend format

fix: change referral vital sign nullable=false
  server/migrations/versions/69805f277d06_change_referral_vital_sign_to_not_.py
  server/models.py
Due: backend unit tests, backend system tests, backend format

fix: fix db migration issue, suggest reseed data if apply vital sign before
  server/migrations/versions/66168c667895_referral_add_vital_sign_field.py
  server/migrations/versions/69805f277d06_change_referral_vital_sign_to_not_.py
  server/migrations/versions/8341fdf3f993_referral_add_vital_sign.py
Due: backend unit tests, backend system tests, backend format

Submit just a reading without a urine test or assessment.
  client/src/pages/readingForm/handlers.ts
Due: frontend build, frontend lint, frontend format

fix conflicts
  client/src/pages/patient/ReadingCard/AssessmentData.tsx
  client/src/pages/patient/ReadingCard/ReadingCard.tsx
  client/src/pages/patient/ReadingCard/ReadingData.tsx
  client/src/pages/patient/ReadingCard/ReferralData.tsx
  client/src/pages/patient/ReadingCard/ReferralData.zip
  client/src/pages/patient/ReadingCard/ReferralPendingData.tsx
  server/routes.py
Due: frontend build, backend unit tests, backend system tests, frontend lint, frontend format, backend format

feat: change referral vital sign implement, get rid of model vital sign field
  server/api/resources/readings.py
  server/api/resources/referrals.py
  server/data/crud.py
  server/migrations/versions/59a399303ecb_referral_remove_vital_sign.py
  server/migrations/versions/8341fdf3f993_referral_add_vital_sign.py
  server/models.py
  server/service/serialize.py
  server/specifications/patient-referrals-get.yml
  server/specifications/referrals-assess-update-put.yml
  server/specifications/referrals-cancel-update-put.yml
  server/specifications/referrals-post.yml
  server/specifications/single-referral-get.yml
Due: backend unit tests, backend system tests, backend format

fix: change reading subtable group by condition
  server/data/crud.py
Due: backend unit tests, backend system tests, backend format

refactor: backend remove migration two useless files
  server/migrations/versions/59a399303ecb_referral_remove_vital_sign.py
  server/migrations/versions/8341fdf3f993_referral_add_vital_sign.py
Due: backend unit tests, backend system tests, backend format

feat: add referral not attend status
  server/api/resources/referrals.py
  server/migrations/versions/8f5b3a1f78e2_referral_add_notattended_field.py
  server/models.py
  server/routes.py
  server/specifications/patient-referrals-get.yml
  server/specifications/referrals-assess-update-put.yml
  server/specifications/referrals-not-attend-update-put.yml
  server/specifications/referrals-post.yml
  server/specifications/single-referral-get.yml
  server/validation/referrals.py
Due: backend unit tests, backend system tests, backend format

6 cards decouple (UI)
  client/src/app/routes/utils/index.tsx
  client/src/pages/patient/ReadingCard/AssessmentData.tsx
  client/src/pages/patient/ReadingCard/ReadingCard.tsx
  client/src/pages/patient/ReadingCard/ReadingData.tsx
  client/src/pages/patient/ReadingCard/ReferralData.tsx
  client/src/pages/patient/ReadingCard/ReferralData.zip
  client/src/pages/patient/ReadingCard/ReferralPendingData.tsx
  client/src/pages/patient/index.tsx
  client/src/shared/components/apiTable/index.tsx
  client/src/shared/types.ts
  server/api/resources/patients.py
  server/routes.py
Due: frontend build, backend unit tests, backend system tests, frontend lint, frontend format, backend format

6 cards decouple (UI)
  client/src/pages/cancelreferralForm/ReferralForm.tsx
  client/src/pages/cancelreferralForm/handlers.ts
  client/src/pages/cancelreferralForm/index.tsx
  client/src/pages/cancelreferralForm/state.ts
  client/src/pages/patient/Cards/AssessmentData.tsx
  client/src/pages/patient/Cards/Cards.tsx
  client/src/pages/patient/Cards/ReadingData.tsx
  client/src/pages/patient/Cards/ReferralAssessedData.tsx
  client/src/pages/patient/Cards/ReferralCancelledData.tsx
  client/src/pages/patient/Cards/ReferralData.tsx
  client/src/pages/patient/Cards/ReferralData.zip
  client/src/pages/patient/Cards/ReferralNotAttendedData.tsx
  client/src/pages/patient/Cards/ReferralPendingData.tsx
Due: frontend build, frontend lint, frontend format

fix: fix referral vital sign join logic
  server/data/crud.py
Due: backend unit tests, backend system tests, backend format

referral pending card -- assess referral completed
  client/src/app/routes/utils/index.tsx
  client/src/pages/assessmentForm/AssessmentForm.tsx
  client/src/pages/assessmentForm/handlers.ts
  client/src/pages/assessmentForm/index.tsx
  client/src/pages/patient/Cards/ReferralPendingData.tsx
Due: frontend build, frontend lint, frontend format

style: change referral cancel, not attend endpoint naming style
  server/api/__init__.py
  server/api/resources/referrals.py
  server/routes.py
  server/specifications/referrals-cancel-update-put.yml
  server/specifications/referrals-not-attend-update-put.yml
  server/validation/referrals.py
Due: backend unit tests, backend system tests, backend format

refactor: remove unused imports
  server/data/crud.py
Due: backend unit tests, backend system tests, backend format

6 cards decoupling complete (patient summary page
  client/src/app/routes/utils/index.tsx
  client/src/pages/cancelreferralForm/ReferralForm.tsx
  client/src/pages/cancelreferralForm/handlers.ts
  client/src/pages/cancelreferralForm/state.ts
  client/src/pages/patient/Cards/ReferralCancelledData.tsx
  client/src/pages/patient/Cards/ReferralNotAttendedData.tsx
  client/src/pages/patient/Cards/ReferralPendingData.tsx
  client/src/pages/singleReasonForm/SingleReasonForm.tsx
  client/src/pages/singleReasonForm/handlers.ts
  client/src/pages/singleReasonForm/index.tsx
  client/src/pages/singleReasonForm/state.ts
Due: frontend build, frontend lint, frontend format

referral list page api adjust and vital sign
  client/src/pages/patients/PatientRow.tsx
  client/src/pages/referrals/FilterDialog.tsx
  client/src/pages/referrals/ReferralRow.tsx
  client/src/pages/referrals/types.ts
  client/src/shared/components/apiTable/index.tsx
  client/src/shared/components/trafficLight/icons/none.svg
  client/src/shared/components/trafficLight/index.tsx
  client/src/shared/enums.ts
Due: frontend build, frontend lint, frontend format

patient list page dateTimeTaken bug fix
  client/src/pages/patients/PatientRow.tsx
  client/src/pages/patients/types.ts
Due: frontend build, frontend lint, frontend format

commit to push
  client/src/pages/patients/PatientRow.tsx
Due: frontend build, frontend lint, frontend format

pipeline fix(not done)
  client/src/pages/patient/index.tsx
  client/src/pages/singleReasonForm/handlers.ts
Due: frontend build, frontend lint, frontend format

fix some warnings
  client/src/pages/assessmentForm/handlers.ts
  client/src/pages/patient/index.tsx
  client/src/pages/singleReasonForm/index.tsx
  client/src/shared/components/apiTable/index.tsx
Due: frontend build, frontend lint, frontend format

front end runs Prettier to fix pipeline
  client/public/index.html
  client/public/site.webmanifest
  client/src/app/routes/utils/index.tsx
  client/src/index.css
  client/src/pages/assessmentForm/handlers.ts
  client/src/pages/assessmentForm/index.tsx
  client/src/pages/patient/Cards/AssessmentData.tsx
  client/src/pages/patient/Cards/Cards.tsx
  client/src/pages/patient/Cards/ReadingData.tsx
  client/src/pages/patient/Cards/ReferralAssessedData.tsx
  client/src/pages/patient/Cards/ReferralCancelledData.tsx
  client/src/pages/patient/Cards/ReferralData.tsx
  client/src/pages/patient/Cards/ReferralNotAttendedData.tsx
  client/src/pages/patient/Cards/ReferralPendingData.tsx
  client/src/pages/patient/Header.tsx
  client/src/pages/patient/index.tsx
  client/src/pages/patients/PatientRow.tsx
  client/src/pages/referralForm/handlers.ts
  client/src/pages/referrals/ReferralRow.tsx
  client/src/pages/referrals/types.ts
  client/src/pages/singleReasonForm/SingleReasonForm.tsx
  client/src/pages/singleReasonForm/handlers.ts
  client/src/pages/singleReasonForm/index.tsx
  client/src/shared/components/apiTable/index.tsx
  client/src/shared/enums.ts
  client/src/shared/types.ts
  client/tsconfig.json
Due: frontend build, frontend lint, frontend format

add cards filters to the patient summary page(Completed)
  client/package.json
  client/src/pages/patient/index.tsx
Due: frontend build, frontend lint, frontend format

Successfully submit reading with or without urine test
  client/src/pages/readingForm/handlers.ts
Due: frontend build, frontend lint, frontend format

update package-lock + filters fix
  client/package-lock.json
  client/package.json
  client/src/pages/patient/index.tsx
Due: frontend build, frontend lint, frontend format

remove commented codes(!!!large removal -- front-end-min-part)
  client/src/pages/assessmentForm/handlers.ts
  client/src/pages/patient/Cards/AssessmentData.tsx
  client/src/pages/patient/Cards/Cards.tsx
  client/src/pages/patient/Cards/ReadingData.tsx
  client/src/pages/patient/Cards/ReferralAssessedData.tsx
  client/src/pages/patient/Cards/ReferralCancelledData.tsx
  client/src/pages/patient/Cards/ReferralData.tsx
  client/src/pages/patient/Cards/ReferralData.zip
  client/src/pages/patient/Cards/ReferralNotAttendedData.tsx
  client/src/pages/patient/Cards/ReferralPendingData.tsx
  client/src/pages/patient/Header.tsx
  client/src/pages/patient/index.tsx
  client/src/pages/referralForm/index.tsx
  client/src/pages/referrals/ReferralRow.tsx
  client/src/pages/referrals/types.ts
  client/src/pages/singleReasonForm/SingleReasonForm.tsx
  client/src/pages/singleReasonForm/handlers.ts
  client/src/pages/singleReasonForm/index.tsx
  client/src/pages/singleReasonForm/state.ts
  client/src/shared/components/apiTable/index.tsx
Due: frontend build, frontend lint, frontend format

run prettier(code format)
  client/package-lock.json
  client/package.json
  client/src/pages/patient/Cards/AssessmentData.tsx
  client/src/pages/patient/Cards/Cards.tsx
  client/src/pages/patient/Cards/ReferralAssessedData.tsx
  client/src/pages/patient/Cards/ReferralCancelledData.tsx
  client/src/pages/patient/Cards/ReferralNotAttendedData.tsx
  client/src/pages/patient/Cards/ReferralPendingData.tsx
  client/src/pages/patient/index.tsx
Due: frontend build, frontend lint, frontend format

change var to let, fix pipeline
  client/src/pages/patient/index.tsx
  client/src/pages/singleReasonForm/handlers.ts
Due: frontend build, frontend lint, frontend format
