Repository drbfraser/CRADLE-Platform: changes, and which GitLab CI jobs are due for each by the changed paths.
All: frontend build, backend unit tests, backend system tests, frontend lint, frontend format, backend format

frontend build:
  stage: build
  image: node:10
  tags:
  - docker
  before_script:
  - cd client
  - npm install
  script:
  - CI=false npm run build
  after_script:
  - tar -czvf frontend.tar.gz client/build
  artifacts:
    paths:
    - frontend.tar.gz

backend unit tests:
  stage: test
  image: python:3.7.6-buster
  tags:
  - docker
  before_script:
  - cd server
  - pip install --upgrade pip
  - pip install -r requirements.txt
  script:
  - python -m pytest tests

backend system tests:
  stage: test
  image: python:3.7.6-buster
  tags:
  - docker
  variables:
    DB_USERNAME: root
    DB_PASSWORD: ci-password
    EMAIL_USER: ci@ci.com
    EMAIL_PASSWORD: ci-password
    DB_HOSTNAME: mysql
    DB_PORT: '3306'
    DB_NAME: cradle
    PORT: '5000'
    MYSQL_DATABASE: cradle
    MYSQL_ROOT_PASSWORD: ci-password
  ...

frontend lint:
  stage: format
  image: node:10
  tags:
  - docker
  before_script:
  - cd client
  - npm install
  script:
  - ./node_modules/.bin/eslint "src/**/*.{ts,tsx}"

frontend format:
  stage: format
  image: node:10
  tags:
  - docker
  before_script:
  - npm install prettier --global
  script:
  - prettier --check "client/src/**/*.{ts,tsx}"

backend format:
  stage: format
  image: python:3.7.6-buster
  tags:
  - docker
  before_script:
  - pip install --upgrade pip
  - pip install black
  script:
  - black --check --exclude 'server/migrations/.*' server

CRDL-208 udpated referall
  server/api/util.py
  server/data/crud.py
Due: backend unit tests, backend system tests, backend format

CRDL-208
  server/api/resources/patients.py
  server/api/util.py
  server/data/crud.py
Due: backend unit tests, backend system tests, backend format

CRDL-208
  server/data/crud.py
Due: backend unit tests, backend system tests, backend format

CRDL-208 search param added
  server/api/resources/patients.py
  server/api/util.py
  server/data/crud.py
Due: backend unit tests, backend system tests, backend format

CRDl-208 updated referral
  server/data/crud.py
Due: backend unit tests, backend system tests, backend format

CRDL-208 updated old crud function
  server/api/resources/patients.py
  server/data/crud.py
Due: backend unit tests, backend system tests, backend format

Significant simplification of the patient table
  client/src/pages/patients/PatientRow.tsx
  client/src/pages/patients/PatientTable.tsx
  client/src/pages/patients/index.tsx
  client/src/pages/patients/patientTable/hooks/data/filterReferredPatients/index.ts
  client/src/pages/patients/patientTable/hooks/data/index.ts
  client/src/pages/patients/patientTable/hooks/tableColumns/column/lastReadingDate/body/index.tsx
  client/src/pages/patients/patientTable/hooks/tableColumns/column/lastReadingDate/head/index.tsx
  client/src/pages/patients/patientTable/hooks/tableColumns/column/lastReadingDate/index.tsx
  client/src/pages/patients/patientTable/hooks/tableColumns/column/patientId/body/index.tsx
  client/src/pages/patients/patientTable/hooks/tableColumns/column/patientId/head/index.tsx
  client/src/pages/patients/patientTable/hooks/tableColumns/column/patientId/index.tsx
  client/src/pages/patients/patientTable/hooks/tableColumns/column/patientName/body/index.tsx
  client/src/pages/patients/patientTable/hooks/tableColumns/column/patientName/head/index.tsx
  client/src/pages/patients/patientTable/hooks/tableColumns/column/patientName/index.tsx
  client/src/pages/patients/patientTable/hooks/tableColumns/column/takeAction/body/addPatient/index.ts
  client/src/pages/patients/patientTable/hooks/tableColumns/column/takeAction/body/alreadyAdded/hooks/index.ts
  client/src/pages/patients/patientTable/hooks/tableColumns/column/takeAction/body/alreadyAdded/index.tsx
  client/src/pages/patients/patientTable/hooks/tableColumns/column/takeAction/body/alreadyAdded/styles/index.ts
  client/src/pages/patients/patientTable/hooks/tableColumns/column/takeAction/body/index.tsx
  client/src/pages/patients/patientTable/hooks/tableColumns/column/takeAction/body/styles/index.ts
  client/src/pages/patients/patientTable/hooks/tableColumns/column/takeAction/head/index.tsx
  client/src/pages/patients/patientTable/hooks/tableColumns/column/takeAction/index.tsx
  client/src/pages/patients/patientTable/hooks/tableColumns/column/village/body/index.tsx
  client/src/pages/patients/patientTable/hooks/tableColumns/column/village/head/index.tsx
  client/src/pages/patients/patientTable/hooks/tableColumns/column/village/index.tsx
  client/src/pages/patients/patientTable/hooks/tableColumns/column/vitalSign/body/index.tsx
  client/src/pages/patients/patientTable/hooks/tableColumns/column/vitalSign/head/index.tsx
  client/src/pages/patients/patientTable/hooks/tableColumns/column/vitalSign/index.tsx
  client/src/pages/patients/patientTable/hooks/tableColumns/column/vitalSign/utils/index.ts
  client/src/pages/patients/patientTable/hooks/tableColumns/index.tsx
  client/src/pages/patients/patientTable/index.tsx
  client/src/pages/patients/patientTable/toolbar/globalSearch/index.tsx
  client/src/pages/patients/patientTable/toolbar/globalSearch/styles/index.ts
  client/src/pages/patients/patientTable/toolbar/index.tsx
  client/src/pages/patients/types.ts
Due: frontend build, frontend lint, frontend format

Align green traffic light in TrafficLight component
  client/src/pages/referrals/referralTable/hooks/tableColumns/column/vitalSign/body/index.tsx
  client/src/shared/components/table/column/trafficLights/index.ts
  client/src/shared/components/trafficLight/index.tsx
Due: frontend build, frontend lint, frontend format

New patient table: add search
  client/src/pages/patients/PatientTable.tsx
  client/src/pages/patients/index.tsx
Due: frontend build, frontend lint, frontend format

New patient table: add ability to sort
  client/src/pages/patients/PatientTable.tsx
  client/src/pages/patients/index.tsx
  client/src/pages/patients/types.ts
Due: frontend build, frontend lint, frontend format

New patients table: working pagination
  client/src/pages/patients/PatientTable.tsx
  client/src/pages/patients/index.tsx
Due: frontend build, frontend lint, frontend format

CRDL-208 udpated to sql Co-Authored-By: [Ethan] <[ehinchi@sfu.ca]>
  server/api/resources/referrals.py
  server/data/crud.py
  server/service/serialize.py
  server/service/view.py
Due: backend unit tests, backend system tests, backend format

CRDL-208 udpated traffic enum to not null
  server/data/crud.py
  server/manage.py
  server/models.py
  server/service/view.py
Due: backend unit tests, backend system tests, backend format

CI: generate and show test reports in GitLab
  .gitlab-ci.yml
Due: none

systemTests: fix typo in README.md
  server/systemTests/README.md
Due: backend unit tests, backend system tests, backend format

Add new referrals table to frontend; need to separate out common components
  client/src/pages/patients/PatientRow.tsx
  client/src/pages/patients/index.tsx
  client/src/pages/referrals/ReferralRow.tsx
  client/src/pages/referrals/ReferralTable.tsx
  client/src/pages/referrals/index.tsx
  client/src/pages/referrals/referralTable/hooks/data/index.ts
  client/src/pages/referrals/referralTable/hooks/tableColumns/column/assessment/body/index.tsx
  client/src/pages/referrals/referralTable/hooks/tableColumns/column/assessment/body/styles/index.ts
  client/src/pages/referrals/referralTable/hooks/tableColumns/column/assessment/head/index.tsx
  client/src/pages/referrals/referralTable/hooks/tableColumns/column/assessment/index.tsx
  client/src/pages/referrals/referralTable/hooks/tableColumns/column/assessment/utils/index.ts
  client/src/pages/referrals/referralTable/hooks/tableColumns/column/dateReferred/body/index.tsx
  client/src/pages/referrals/referralTable/hooks/tableColumns/column/dateReferred/head/index.tsx
  client/src/pages/referrals/referralTable/hooks/tableColumns/column/dateReferred/index.tsx
  client/src/pages/referrals/referralTable/hooks/tableColumns/column/dateReferred/utils/index.ts
  client/src/pages/referrals/referralTable/hooks/tableColumns/column/patientId/body/index.tsx
  client/src/pages/referrals/referralTable/hooks/tableColumns/column/patientId/head/index.tsx
  client/src/pages/referrals/referralTable/hooks/tableColumns/column/patientId/index.tsx
  client/src/pages/referrals/referralTable/hooks/tableColumns/column/patientName/body/index.tsx
  client/src/pages/referrals/referralTable/hooks/tableColumns/column/patientName/head/index.tsx
  client/src/pages/referrals/referralTable/hooks/tableColumns/column/patientName/index.tsx
  client/src/pages/referrals/referralTable/hooks/tableColumns/column/village/body/index.tsx
  client/src/pages/referrals/referralTable/hooks/tableColumns/column/village/head/index.tsx
  client/src/pages/referrals/referralTable/hooks/tableColumns/column/village/index.tsx
  client/src/pages/referrals/referralTable/hooks/tableColumns/column/vitalSign/body/index.tsx
  client/src/pages/referrals/referralTable/hooks/tableColumns/column/vitalSign/head/index.tsx
  client/src/pages/referrals/referralTable/hooks/tableColumns/column/vitalSign/index.tsx
  client/src/pages/referrals/referralTable/hooks/tableColumns/index.tsx
  client/src/pages/referrals/referralTable/index.tsx
  client/src/pages/referrals/types.ts
  client/src/server/index.ts
  client/src/shared/components/pagination/Pagination.tsx
  server/api/resources/referrals.py
  server/service/serialize.py
Due: frontend build, backend unit tests, backend system tests, frontend lint, frontend format, backend format

CRDL-200 updated docs
  server/specifications/patient-info-put.yml
Due: backend unit tests, backend system tests, backend format

Revert "Merge branch 'revert-6fe73207' into 'master'"
  client/src/pages/newReading/demographic/hooks/index.tsx
  client/src/pages/newReading/formatData/index.tsx
  client/src/types/index.ts
Due: frontend build, frontend lint, frontend format

CRDL-208
  server/api/resources/patients.py
  server/data/crud.py
  server/service/view.py
Due: backend unit tests, backend system tests, backend format

CRDL-208 udpated docs
  server/specifications/patients-get.yml
  server/specifications/referrals-get.yml
Due: backend unit tests, backend system tests, backend format

CRDL-208 updated query Co-Author: Ethan
  server/data/crud.py
  server/service/serialize.py
Due: backend unit tests, backend system tests, backend format

CRDL-208 first draft android/patients
  server/api/__init__.py
  server/api/resources/patients.py
  server/data/crud.py
Due: backend unit tests, backend system tests, backend format

CRDL-208 added few comments
  server/data/crud.py
Due: backend unit tests, backend system tests, backend format

CRDL-208 updated to cover normal case
  server/data/crud.py
Due: backend unit tests, backend system tests, backend format

Pull out APITable component from new Patient and Referral tables
  client/src/pages/patients/PatientRow.tsx
  client/src/pages/patients/PatientTable.tsx
  client/src/pages/patients/index.tsx
  client/src/pages/referrals/ReferralRow.tsx
  client/src/pages/referrals/index.tsx
  client/src/shared/components/apiTable/Pagination.tsx
  client/src/shared/components/apiTable/index.tsx
  client/src/shared/components/apiTable/rowStyles.ts
  client/src/shared/components/apiTable/types.ts
Due: frontend build, frontend lint, frontend format

Move all shared code from patient/referral tables to APITable component
  client/src/pages/patients/index.tsx
  client/src/pages/patients/types.ts
  client/src/pages/referrals/index.tsx
  client/src/pages/referrals/types.ts
  client/src/shared/components/apiTable/HeaderRow.tsx
  client/src/shared/components/apiTable/index.tsx
Due: frontend build, frontend lint, frontend format

Fix React key for patient table row
  client/src/pages/patients/index.tsx
Due: frontend build, frontend lint, frontend format

CRDL-208 fixe if statement
  server/service/serialize.py
Due: backend unit tests, backend system tests, backend format

CRDL-208 added android all patient route
  server/api/resources/patients.py
  server/data/crud.py
  server/routes.py
  server/service/serialize.py
Due: backend unit tests, backend system tests, backend format

CRDL-208 added android desc
  server/api/resources/patients.py
  server/specifications/android-patients-get.yml
Due: backend unit tests, backend system tests, backend format

CRDL-208 rename
  server/api/__init__.py
  server/api/resources/patients.py
  server/routes.py
Due: backend unit tests, backend system tests, backend format

[ffazlali] Significantly improved speed of /api/android/patients
  server/data/crud.py
  server/prod/gunicorn.conf.py
  server/service/serialize.py
Due: backend unit tests, backend system tests, backend format

CRDL-208 udpate dict func
  server/data/crud.py
  server/service/serialize.py
Due: backend unit tests, backend system tests, backend format

CRDL-206 udpated dictionary for backend
  server/data/crud.py
  server/service/serialize.py
Due: backend unit tests, backend system tests, backend format

CRDL-208 added urine test to reading
  server/data/crud.py
  server/service/serialize.py
Due: backend unit tests, backend system tests, backend format

CRDL-208 fixed patient table view for vht
  server/data/crud.py
  server/service/view.py
Due: backend unit tests, backend system tests, backend format

CRDL-208 addded referral view for vht
  server/data/crud.py
  server/service/view.py
Due: backend unit tests, backend system tests, backend format

CRDL-208 udapted comment
  server/data/crud.py
  server/service/view.py
Due: backend unit tests, backend system tests, backend format

CRDL-208 udpate android/patients for vht
  server/data/crud.py
  server/service/view.py
Due: backend unit tests, backend system tests, backend format

CRDL-208 udpated vht view
  server/data/crud.py
  server/service/view.py
Due: backend unit tests, backend system tests, backend format

Path conditions:
  frontend build: any of: client/**/*
  backend unit tests: any of: server/**/*
  backend system tests: any of: server/**/*
  frontend lint: any of: client/**/*
  frontend format: any of: client/**/*
  backend format: any of: server/**/*
