Repository drbfraser/CRADLE-Platform: changes, and which GitLab CI jobs are due for each by the changed paths.
All: frontend build, backend unit tests, backend system tests, backend format

.gitlab-ci.yml:

stages:
  - build
  - test
  - format
  - deploy

variables:
  DEPLOYMENT_BRANCH: "/master|staging|production/"

frontend build:
  stage: build
  image: node:10
  tags:
    - docker
  rules:
    - if: '$CI_MERGE_REQUEST_ID != null || $CI_COMMIT_BRANCH =~ $DEPLOYMENT_BRANCH'
    - changes:
      - client/**/*
  before_script:
    - cd client
    - npm install
  script:
    - CI=false yarn build

backend unit tests:
  stage: test
  image: python:3.7.6-buster
  tags:
    - docker
  rules:
    - if: '$CI_MERGE_REQUEST_ID != null || $CI_COMMIT_BRANCH =~ $DEPLOYMENT_BRANCH'
    - changes:
      - server/**/*
  before_script:
    - cd server
    - pip install --upgrade pip
    - pip install -r requirements.txt
  script:
    - python -m pytest Tests

backend system tests:
  stage: test
  image: python:3.7.6-buster
  tags:
    - docker
  rules:
    - if: '$CI_MERGE_REQUEST_ID != null || $CI_COMMIT_BRANCH =~ $DEPLOYMENT_BRANCH'
    - changes:
      - server/**/*
  variables:
    # Cradle Server Variables
    DB_USERNAME: "root"
    DB_PASSWORD: "ci-password"
    EMAIL_USER: "ci@ci.com"
    EMAIL_PASSWORD: "ci-password"
    DB_HOSTNAME: "mysql"
    DB_PORT: "3306"
    DB_NAME: "cradle"
    PORT: "5000"
    # MySQL Variables
    MYSQL_DATABASE: "cradle"
    MYSQL_ROOT_PASSWORD: "ci-password"
  services:
    - mysql:5.7
  before_script:
    # Add mysql client so we can execute queries on the database
    - apt-get update -y
    - apt-get install default-mysql-client -y
    - cd server
    - pip install --upgrade pip
    - pip install -r requirements.txt
    # Spin up a server instance in the background
    # Run this first so that the server can warm up whilst we seed the db
    - python3 app.py &
    # Build and seed database
    - python3 db.py rebuild --no-docker
    - python3 manage.py seed_test_data
  script:
    - python -m pytest SystemTests

backend format:
  stage: format
  image: python:3.7.6-buster
  tags:
    - docker
  rules:
    - if: '$CI_MERGE_REQUEST_ID != null || $CI_COMMIT_BRANCH =~ $DEPLOYMENT_BRANCH'
      when: always
    - changes:
      - server/**/*
      when: always
  before_script:
    - pip install --upgrade pip
    - pip install black
  script:
    - black --check --exclude 'server/migrations/.*' server 

deploy staging:
  stage: deploy
  tags:
    - shell
  rules:
    # Only deploy to staging if we are on the master or stating branch.
    - if: '$CI_MERGE_REQUEST_ID == null && $CI_COMMIT_BRANCH =~ "/master|staging/"'
      when: on_success
    - when: never
  script:
    - source /var/cradle/staging.env
    - ./scripts/deploy.sh

Refactor patient page
  client/src/newStructure/app/index.tsx
  client/src/newStructure/pages/patient/index.tsx
  client/src/newStructure/pages/patient/summary/drawable/green.svg
  client/src/newStructure/pages/patient/summary/drawable/red.svg
  client/src/newStructure/pages/patient/summary/drawable/yellow.svg
  client/src/newStructure/pages/patient/summary/index.tsx
  client/src/newStructure/pages/patient/summary/referralInfo/followup/info/index.tsx
  client/src/newStructure/pages/patient/summary/referralInfo/followup/modal/index.tsx
  client/src/newStructure/pages/patient/summary/referralInfo/followup/utils/index.ts
  client/src/newStructure/pages/patient/summary/referralInfo/index.tsx
  client/src/newStructure/pages/patient/summary/utils/index.tsx
  client/src/newStructure/shared/components/patientSummary/referralInfo/followup/utils/index.ts
  client/src/newStructure/shared/components/patientSummary/referralInfo/index.tsx
  client/src/newStructure/types/index.ts
Due: frontend build

CRDL-75 added route from edit patient page
  client/src/newStructure/pages/newReading/newReadingCovid/index.tsx
  client/src/newStructure/shared/components/patientSummary/index.tsx
Due: frontend build

remove age in controller
  server/Controller/PatientsController.py
Due: backend unit tests, backend system tests, backend format

remove age from test/seeding files
  server/SystemTests/api/test_patients.py
  server/SystemTests/flow/conftest.py
  server/SystemTests/mock/factory.py
  server/SystemTests/test_patients.py
  server/Tests/test_patient_validation.py
  server/Validation/PatientValidation.py
  server/manage.py
Due: backend unit tests, backend system tests, backend format

updated doc
  docs/New_Covid Reading_API_Support_Web
Due: none

update doc
  docs/New_Covid Reading_API_Support_Web
Due: none

CRDL-75 fixed post method for new patient add
  client/src/newStructure/pages/newReading/newReadingCovid/formatData/index.tsx
  client/src/newStructure/pages/newReading/newReadingCovid/index.tsx
  client/src/newStructure/shared/reducers/patients/index.ts
Due: frontend build

CRDL-75 updated reading
  client/src/newStructure/pages/newReading/newReadingCovid/formatData/index.tsx
  client/src/newStructure/pages/newReading/newReadingCovid/index.tsx
  client/src/newStructure/shared/reducers/patients/index.ts
Due: frontend build

api for patient with nested reading
  docs/New_Covid Reading_API_Support_Web
Due: none

CRDL-75 added logic for adding new reading
  client/src/newStructure/pages/newReading/newReadingCovid/index.tsx
  client/src/newStructure/shared/reducers/newReadingStatus/index.ts
  client/src/newStructure/shared/reducers/patients/index.ts
Due: frontend build

Started work on new reading modal
  client/package-lock.json
  client/package.json
  client/src/newStructure/context/materialUI/theme/overrides/index.ts
  client/src/newStructure/enums/index.ts
  client/src/newStructure/pages/patient/index.tsx
  client/src/newStructure/pages/patient/summary/header/addNewReading/index.tsx
  client/src/newStructure/pages/patient/summary/header/addNewReading/styles/index.ts
  client/src/newStructure/pages/patient/summary/header/index.tsx
  client/src/newStructure/pages/patient/summary/header/styles/index.ts
  client/src/newStructure/pages/patient/summary/header/title/index.tsx
  client/src/newStructure/pages/patient/summary/header/title/styles/index.ts
  client/src/newStructure/pages/patient/summary/index.tsx
  client/src/newStructure/pages/patient/summary/readingModal/content/form/index.tsx
  client/src/newStructure/pages/patient/summary/readingModal/content/form/styles/index.ts
  client/src/newStructure/pages/patient/summary/readingModal/content/index.tsx
  client/src/newStructure/pages/patient/summary/readingModal/index.tsx
  client/src/newStructure/pages/patient/summary/readingModal/utils/index.ts
  client/src/newStructure/pages/patient/summary/reducers/index.ts
  client/src/newStructure/pages/patient/summary/reducers/utils/index.ts
  client/src/newStructure/pages/patient/summary/utils/index.tsx
  client/src/newStructure/shared/components/form/styles/index.ts
  client/src/newStructure/shared/components/form/symptom/index.tsx
  client/src/newStructure/shared/reducers/patients/index.ts
  client/src/newStructure/types/index.ts
Due: frontend build

Fix
  client/src/newStructure/pages/patient/summary/readingModal/content/form/index.tsx
Due: frontend build

Update new reading submission
  client/src/newStructure/pages/newReading/index.tsx
  client/src/newStructure/pages/newReading/newReadingCovid/index.tsx
  client/src/newStructure/pages/patient/summary/index.tsx
  client/src/newStructure/pages/patient/summary/readingModal/content/form/heart/index.tsx
  client/src/newStructure/pages/patient/summary/readingModal/content/form/hooks/disableSubmit/index.ts
  client/src/newStructure/pages/patient/summary/readingModal/content/form/hooks/submit/index.ts
  client/src/newStructure/pages/patient/summary/readingModal/content/form/hooks/submit/utils/index.ts
  client/src/newStructure/pages/patient/summary/readingModal/content/form/index.tsx
  client/src/newStructure/pages/patient/summary/readingModal/content/form/styles/index.ts
  client/src/newStructure/pages/patient/summary/readingModal/content/form/utils/index.ts
  client/src/newStructure/pages/patient/summary/readingModal/index.tsx
  client/src/newStructure/pages/patient/summary/reducers/index.ts
  client/src/newStructure/pages/patient/summary/reducers/utils/index.ts
  client/src/newStructure/redux/middleware/request/index.ts
  client/src/newStructure/redux/rootReducer/index.ts
  client/src/newStructure/shared/components/form/urineTest/index.tsx
  client/src/newStructure/shared/reducers/newReadingPost/index.ts
  client/src/newStructure/shared/reducers/newReadingStatus/index.ts
  client/src/newStructure/shared/reducers/reading/index.ts
  client/src/newStructure/types/index.ts
Due: frontend build

Return array instead of string for symptoms
  client/src/newStructure/pages/patient/summary/readingModal/content/form/hooks/submit/utils/index.ts
  client/src/newStructure/pages/patient/summary/readingModal/content/form/utils/index.ts
  client/src/newStructure/shared/reducers/reading/index.ts
Due: frontend build

Marshal Reading Symptoms To Array
  server/data/marshal.py
Due: backend unit tests, backend system tests, backend format

Update symptoms to send to backend
  client/src/newStructure/pages/patient/summary/index.tsx
  client/src/newStructure/pages/patient/summary/readingModal/content/form/hooks/submit/index.ts
  client/src/newStructure/pages/patient/summary/reducers/index.ts
  client/src/newStructure/types/index.ts
Due: frontend build

Update selected patient
  client/src/newStructure/pages/patient/summary/readingModal/content/form/hooks/submit/index.ts
Due: frontend build

Add Support For Urine Tests in New APIs
  .gitignore
  server/data/marshal.py
  server/migrations/versions/eb105ee6775b_autoincrement_urine_test_id.py
  server/models.py
Due: backend unit tests, backend system tests, backend format

Started refactor for adding new patient flow
  client/src/newStructure/pages/patient/summary/hooks/readings/index.ts
  client/src/newStructure/pages/patient/summary/hooks/readings/utils/index.ts
  client/src/newStructure/pages/patient/summary/index.tsx
  client/src/newStructure/pages/patient/summary/readingModal/content/form/hooks/submit/index.ts
  client/src/newStructure/pages/patient/summary/readingModal/content/form/index.tsx
  client/src/newStructure/pages/patient/summary/readingModal/index.tsx
  client/src/newStructure/pages/patient/summary/readingModal/utils/index.ts
  client/src/newStructure/pages/patient/summary/reducers/index.ts
  client/src/newStructure/pages/patient/summary/utils/index.tsx
  client/src/newStructure/pages/referrals/index.tsx
  client/src/newStructure/shared/reducers/patients/index.ts
  client/src/newStructure/shared/reducers/reading/index.ts
  client/src/newStructure/shared/utils/index.tsx
Due: frontend build

Updated showing success and error toast messages on add patient response
  client/src/newStructure/pages/login/form/index.tsx
  client/src/newStructure/pages/patient/index.tsx
  client/src/newStructure/pages/patient/summary/readingModal/content/form/hooks/submit/index.ts
  client/src/newStructure/pages/patient/summary/readingModal/content/form/index.tsx
  client/src/newStructure/pages/patient/summary/readingModal/index.tsx
  client/src/newStructure/pages/referrals/index.tsx
  client/src/newStructure/shared/components/toast/index.tsx
  client/src/newStructure/shared/reducers/patients/index.ts
Due: frontend build

CRDL-75 udpated logic for checking existing patient
  client/src/newStructure/pages/newReading/newReadingCovid/alertDialog/index.tsx
  client/src/newStructure/pages/newReading/newReadingCovid/index.tsx
  client/src/newStructure/shared/reducers/patients/index.ts
Due: frontend build

CRDL-75 updated existing patientID
  client/src/newStructure/pages/newReading/newReadingCovid/demographic/hooks/index.tsx
  client/src/newStructure/pages/newReading/newReadingCovid/index.tsx
Due: frontend build

CRDL-75 updated assessment endpoint call
  client/src/newStructure/pages/newReading/newReadingCovid/assessment/hooks/index.tsx
  client/src/newStructure/pages/newReading/newReadingCovid/formatData/index.tsx
  client/src/newStructure/pages/newReading/newReadingCovid/index.tsx
  client/src/newStructure/shared/reducers/newReadingStatus/index.ts
Due: frontend build

CRDL-75 fixed symptoms display
  client/src/newStructure/pages/newReading/newReadingCovid/confirmationPage/index.tsx
  client/src/newStructure/pages/newReading/newReadingCovid/formatData/index.tsx
Due: frontend build

CRDL-75 updated reset button
  client/src/newStructure/pages/newReading/newReadingCovid/assessment/hooks/index.tsx
  client/src/newStructure/pages/newReading/newReadingCovid/demographic/hooks/index.tsx
  client/src/newStructure/pages/newReading/newReadingCovid/index.tsx
  client/src/newStructure/pages/newReading/newReadingCovid/symptoms/hooks/index.tsx
  client/src/newStructure/pages/newReading/newReadingCovid/urineTestAssessment/hooks/index.tsx
  client/src/newStructure/pages/newReading/newReadingCovid/vitalSignAssessment/hooks/index.tsx
Due: frontend build

CRDL-75 updated vitals
  client/src/newStructure/pages/newReading/newReadingCovid/index.tsx
  client/src/newStructure/pages/newReading/newReadingCovid/vitalSignAssessment/hooks/index.tsx
Due: frontend build

example json for reading + assessment
  docs/New_Covid Reading_API_Support_Web
Due: none

CRDL-75 updated assessment flow
  client/src/newStructure/pages/newReading/newReadingCovid/formatData/index.tsx
  client/src/newStructure/pages/newReading/newReadingCovid/index.tsx
  client/src/newStructure/shared/reducers/newReadingStatus/index.ts
Due: frontend build

CRDL-75 fixed bug for required field
  client/src/newStructure/pages/newReading/newReadingCovid/index.tsx
Due: frontend build

CRDL-75 fixed bug with birthday required
  client/src/newStructure/pages/newReading/newReadingCovid/demographic/hooks/index.tsx
  client/src/newStructure/pages/newReading/newReadingCovid/demographic/validation/index.tsx
Due: frontend build

CRDL-75 added flow for add new reading
  client/src/newStructure/pages/newReading/newReadingCovid/demographic/hooks/index.tsx
  client/src/newStructure/pages/newReading/newReadingCovid/formatData/index.tsx
  client/src/newStructure/pages/newReading/newReadingCovid/index.tsx
Due: frontend build

Completed add new reading validation and erro handling
  client/src/newStructure/pages/patient/summary/index.tsx
  client/src/newStructure/pages/patient/summary/readingModal/content/form/hooks/submit/index.ts
  client/src/newStructure/pages/patient/summary/readingModal/content/form/index.tsx
  client/src/newStructure/pages/patient/summary/readingModal/content/index.tsx
  client/src/newStructure/pages/patient/summary/readingModal/index.tsx
  client/src/newStructure/pages/patient/summary/reducers/index.ts
  client/src/newStructure/shared/components/toast/index.tsx
  client/src/newStructure/shared/reducers/patients/index.ts
  client/src/newStructure/shared/reducers/reading/index.ts
Due: frontend build

Started redesign of edit patient flow
  client/src/newStructure/enums/index.ts
  client/src/newStructure/pages/patient/summary/index.tsx
  client/src/newStructure/pages/patient/summary/medicalInformation/basicInformation/index.tsx
  client/src/newStructure/pages/patient/summary/medicalInformation/gestationalAge/index.tsx
  client/src/newStructure/pages/patient/summary/medicalInformation/gestationalAge/styles/index.ts
  client/src/newStructure/pages/patient/summary/medicalInformation/gestationalAge/utils/index.ts
  client/src/newStructure/pages/patient/summary/medicalInformation/historyItem/index.tsx
  client/src/newStructure/pages/patient/summary/medicalInformation/index.tsx
  client/src/newStructure/pages/patient/summary/medicalInformation/patientModal/index.tsx
  client/src/newStructure/pages/patient/summary/medicalInformation/patientModal/styles/index.ts
  client/src/newStructure/pages/patient/summary/medicalInformation/styles/index.ts
  client/src/newStructure/pages/patient/summary/reducers/index.ts
  client/src/newStructure/pages/patient/summary/referralInfo/index.tsx
  client/src/newStructure/pages/patient/summary/utils/index.tsx
  client/src/newStructure/shared/components/form/patient/index.tsx
  client/src/newStructure/shared/components/form/patient/styles/index.ts
  client/src/newStructure/shared/components/form/patient/utils/index.ts
  client/src/newStructure/shared/components/toast/index.tsx
  client/src/newStructure/shared/utils/index.tsx
  client/src/newStructure/types/index.ts
Due: frontend build

Completed edited patient flow
  client/src/newStructure/pages/patient/summary/index.tsx
  client/src/newStructure/pages/patient/summary/medicalInformation/patientModal/hooks/disableSubmit/index.ts
  client/src/newStructure/pages/patient/summary/medicalInformation/patientModal/hooks/submit/index.ts
  client/src/newStructure/pages/patient/summary/medicalInformation/patientModal/index.tsx
  client/src/newStructure/shared/reducers/patients/index.ts
Due: frontend build

Fixed readings updates caused by patient update
  client/src/newStructure/pages/patient/summary/index.tsx
  client/src/newStructure/pages/patient/summary/medicalInformation/patientModal/hooks/submit/index.ts
  client/src/newStructure/shared/reducers/patients/index.ts
  client/src/newStructure/shared/utils/index.tsx
Due: frontend build

Fixed months to weeks conversion
  client/src/newStructure/pages/patient/summary/medicalInformation/patientModal/hooks/disableSubmit/index.ts
  client/src/newStructure/pages/patient/summary/medicalInformation/patientModal/hooks/submit/index.ts
  client/src/newStructure/pages/patient/summary/reducers/index.ts
  client/src/newStructure/shared/components/form/patient/index.tsx
  client/src/newStructure/shared/reducers/patients/index.ts
  client/src/newStructure/shared/utils/index.tsx
  client/src/newStructure/types/index.ts
Due: frontend build

Update vitals display
  client/src/newStructure/app/drawer/index.tsx
  client/src/newStructure/app/index.tsx
  client/src/newStructure/enums/index.ts
  client/src/newStructure/pages/patient/summary/index.tsx
  client/src/newStructure/pages/patient/summary/reducers/index.ts
  client/src/newStructure/pages/patient/summary/vitalsOverTime/content/index.tsx
  client/src/newStructure/pages/patient/summary/vitalsOverTime/content/styles/index.ts
  client/src/newStructure/pages/patient/summary/vitalsOverTime/hooks/trafficLights/index.ts
  client/src/newStructure/pages/patient/summary/vitalsOverTime/hooks/vitals/index.ts
  client/src/newStructure/pages/patient/summary/vitalsOverTime/hooks/vitals/utils/index.ts
  client/src/newStructure/pages/patient/summary/vitalsOverTime/index.tsx
  client/src/newStructure/pages/patient/summary/vitalsOverTime/styles/index.ts
  client/src/newStructure/shared/hooks/timeout/index.ts
  client/src/newStructure/shared/reducers/patientStatistics/index.ts
  client/src/newStructure/types/index.ts
  client/src/oldStructure/containers/patientPage/patientSummary.js
  server/Manager/PatientStatsManager.py
  server/specifications/stats-patient.yml
Due: frontend build, backend unit tests, backend system tests, backend format

Fix lint errors
  client/src/newStructure/pages/patient/summary/medicalInformation/patientModal/index.tsx
  client/src/newStructure/pages/patient/summary/vitalsOverTime/hooks/vitals/index.ts
Due: frontend build

changed endpoint doc
  docs/New_Covid Reading_API_Support_Web
Due: none

Started refactor of referral cards
  client/src/newStructure/enums/index.ts
  client/src/newStructure/pages/patient/summary/index.tsx
  client/src/newStructure/pages/patient/summary/readings/drawable/green.svg
  client/src/newStructure/pages/patient/summary/readings/drawable/red.svg
  client/src/newStructure/pages/patient/summary/readings/drawable/yellow.svg
  client/src/newStructure/pages/patient/summary/readings/header/index.tsx
  client/src/newStructure/pages/patient/summary/readings/header/styles/index.ts
  client/src/newStructure/pages/patient/summary/readings/heart/index.tsx
  client/src/newStructure/pages/patient/summary/readings/heart/styles/index.ts
  client/src/newStructure/pages/patient/summary/readings/hooks/index.ts
  client/src/newStructure/pages/patient/summary/readings/hooks/utils/index.ts
  client/src/newStructure/pages/patient/summary/readings/index.tsx
  client/src/newStructure/pages/patient/summary/readings/referralInfo/followup/info/hooks/index.ts
  client/src/newStructure/pages/patient/summary/readings/referralInfo/followup/info/hooks/utils/index.ts
  client/src/newStructure/pages/patient/summary/readings/referralInfo/followup/info/index.tsx
  client/src/newStructure/pages/patient/summary/readings/referralInfo/followup/modal/index.tsx
  client/src/newStructure/pages/patient/summary/readings/referralInfo/followup/utils/index.ts
  client/src/newStructure/pages/patient/summary/readings/referralInfo/header/index.tsx
  client/src/newStructure/pages/patient/summary/readings/referralInfo/header/styles/index.ts
  client/src/newStructure/pages/patient/summary/readings/referralInfo/index.tsx
  client/src/newStructure/pages/patient/summary/readings/referralInfo/styles/index.ts
  client/src/newStructure/pages/patient/summary/readings/styles/index.ts
  client/src/newStructure/pages/patient/summary/readings/symptoms/index.tsx
  client/src/newStructure/pages/patient/summary/readings/symptoms/styles/index.ts
  client/src/newStructure/pages/patient/summary/readings/urineTests/index.tsx
  client/src/newStructure/pages/patient/summary/readings/urineTests/styles/index.ts
  client/src/newStructure/pages/patient/summary/referralInfo/followup/info/index.tsx
  client/src/newStructure/pages/patient/summary/referralInfo/index.tsx
  client/src/newStructure/pages/patient/summary/utils/index.tsx
  client/src/newStructure/pages/patients/patientTable/hooks/tableColumns/column/lastReadingDate/body/index.tsx
  client/src/newStructure/pages/patients/patientTable/hooks/tableColumns/column/vitalSign/body/index.tsx
  client/src/newStructure/pages/referrals/referralTable/hooks/tableColumns/column/dateReferred/body/index.tsx
  client/src/newStructure/pages/referrals/referralTable/hooks/tableColumns/column/dateReferred/utils/index.ts
  client/src/newStructure/pages/referrals/referralTable/hooks/tableColumns/column/vitalSign/body/index.tsx
  client/src/newStructure/shared/utils/index.tsx
  client/src/newStructure/types/index.ts
Due: frontend build
