Repository drbfraser/CRADLE-Platform: changes, and which GitLab CI jobs are due for each by the changed paths.
All: frontend build, backend unit tests, backend system tests, backend format

frontend build:
  stage: build
  image: node:10
  tags:
  - docker
  before_script:
  - cd client
  - npm install
  script:
  - CI=false yarn build

backend unit tests:
  stage: test
  image: python:3.7.6-buster
  tags:
  - docker
  before_script:
  - cd server
  - pip install --upgrade pip
  - pip install -r requirements.txt
  script:
  - python -m pytest Tests

backend system tests:
  stage: test
  image: python:3.7.6-buster
  tags:
  - docker
  variables:
    DB_USERNAME: root
    DB_PASSWORD: ci-password
    EMAIL_USER: ci@ci.com
    EMAIL_PASSWORD: ci-password
    DB_HOSTNAME: mysql
    DB_PORT: '3306'
    DB_NAME: cradle
    PORT: '5000'
    MYSQL_DATABASE: cradle
    MYSQL_ROOT_PASSWORD: ci-password
  ...

backend format:
  stage: format
  image: python:3.7.6-buster
  tags:
  - docker
  allow_failure: true
  before_script:
  - pip install --upgrade pip
  - pip install black
  script:
  - black --check --exclude 'server/migrations/.*' server

Updated API endpoint to include string type as parameter
  server/Controller/PatientsController.py
Due: backend unit tests, backend system tests, backend format

formatting
  server/Controller/PatientsController.py
  server/Manager/PatientFacilityManager.py
  server/migrations/versions/5df0e66fee22_.py
  server/models.py
  server/routes.py
Due: backend unit tests, backend system tests, backend format

Patients can now be added to the user's health facility
  client/src/newStructure/pages/patients/index.tsx
  client/src/newStructure/server/endpoints/index.ts
  client/src/newStructure/shared/reducers/patients/index.ts
  client/src/newStructure/shared/reducers/patientsV2/index.ts
Due: frontend build

Started on API
  client/src/newStructure/pages/patients/patientTable/hooks/actions/index.tsx
  client/src/newStructure/pages/patients/patientTable/hooks/columns/index.ts
  client/src/newStructure/pages/patients/patientTable/hooks/columns/utils/index.tsx
  client/src/newStructure/pages/patients/patientTable/hooks/columns/utils/styles.module.css
  client/src/newStructure/pages/patients/patientTable/index.tsx
Due: frontend build

Edit actions display
  client/src/newStructure/pages/patients/patientTable/hooks/actions/index.tsx
  client/src/newStructure/pages/patients/patientTable/index.tsx
Due: frontend build

Adapted UI elements to work for global search and referral
  client/src/newStructure/pages/patients/patientTable/action/index.tsx
  client/src/newStructure/pages/patients/patientTable/action/styles/index.ts
  client/src/newStructure/pages/patients/patientTable/hooks/actions/index.tsx
  client/src/newStructure/pages/patients/patientTable/index.tsx
  client/src/newStructure/pages/patients/patientTable/styles/index.ts
  server/Controller/PatientsController.py
  server/routes.py
Due: frontend build, backend unit tests, backend system tests, backend format

Updated endpoint for global search
  client/src/newStructure/pages/patients/patientTable/action/index.tsx
  client/src/newStructure/pages/patients/patientTable/action/styles/index.ts
  client/src/newStructure/pages/patients/patientTable/hooks/actions/index.tsx
  client/src/newStructure/pages/patients/patientTable/index.tsx
  client/src/newStructure/server/endpoints/index.ts
  client/src/newStructure/shared/reducers/patients/index.ts
  client/src/newStructure/shared/reducers/patientsV2/index.ts
  server/Controller/PatientsController.py
  server/routes.py
Due: frontend build, backend unit tests, backend system tests, backend format

Updated debounce
  client/src/newStructure/pages/patients/patientTable/hooks/data/index.ts
Due: frontend build

Enabled sorting on all fields for the referral table
  client/src/newStructure/pages/patients/patientTable/hooks/columns/index.ts
  client/src/newStructure/pages/patients/patientTable/hooks/columns/utils/index.tsx
  client/src/newStructure/pages/referrals/referralTable/index.tsx
  client/src/newStructure/pages/referrals/referralTable/styles/index.ts
  client/src/newStructure/pages/referrals/referralTable/utils/index.tsx
  client/src/newStructure/shared/components/table/columns/index.tsx
  client/src/newStructure/shared/components/table/columns/styles.module.css
Due: frontend build

Updated vital signs sorting
  client/src/newStructure/shared/components/table/columns/index.tsx
Due: frontend build

Add styling to referral table
  client/src/newStructure/pages/referrals/referralTable/index.tsx
Due: frontend build

Updated indentation issues
  server/Manager/GlobalSearchHelper.py
Due: backend unit tests, backend system tests, backend format

Updated backend to properly handle error states
  server/Controller/PatientsController.py
  server/Manager/FilterHelper.py
  server/Manager/GlobalSearchHelper.py
  server/Manager/PatientManagerNew.py
Due: backend unit tests, backend system tests, backend format

Run prettier on all files
  client/package.json
  client/src/index.tsx
  client/src/newStructure/enums/index.ts
  client/src/newStructure/pages/help/HealthWorkerResources/index.tsx
  client/src/newStructure/pages/home/index.tsx
  client/src/newStructure/pages/patients/index.tsx
  client/src/newStructure/pages/patients/patientTable/action/index.tsx
  client/src/newStructure/pages/patients/patientTable/action/styles/index.ts
  client/src/newStructure/pages/patients/patientTable/hooks/actions/index.tsx
  client/src/newStructure/pages/patients/patientTable/hooks/columns/index.ts
  client/src/newStructure/pages/patients/patientTable/hooks/columns/utils/index.tsx
  client/src/newStructure/pages/patients/patientTable/hooks/data/index.ts
  client/src/newStructure/pages/patients/patientTable/index.tsx
  client/src/newStructure/pages/patients/patientTable/styles/index.ts
  client/src/newStructure/pages/referrals/referralTable/index.tsx
  client/src/newStructure/pages/referrals/referralTable/styles/index.ts
  client/src/newStructure/pages/referrals/referralTable/utils/index.tsx
  client/src/newStructure/shared/components/table/columns/index.tsx
  client/src/newStructure/shared/reducers/patients/index.ts
  client/src/newStructure/shared/reducers/patientsV2/index.ts
Due: frontend build

Added eslint configuration
  client/.eslintignore
  client/.eslintrc.json
  client/.prettierignore
  client/.prettierrc
  client/.prettierrc.json
  client/package-lock.json
  client/package.json
  client/src/newStructure/app/index.tsx
  client/src/newStructure/app/styles/index.ts
  client/src/newStructure/app/toolbar/utils/index.ts
  client/src/newStructure/pages/admin/index.tsx
  client/src/newStructure/pages/help/CommunityWorkerResource/index.tsx
  client/src/newStructure/pages/help/HealthWorkerResources/index.tsx
  client/src/newStructure/pages/help/ResourceTabPage/index.tsx
  client/src/newStructure/pages/login/index.tsx
  client/src/newStructure/pages/newReading/bpForm/index.tsx
  client/src/newStructure/pages/newReading/index.tsx
  client/src/newStructure/pages/newReading/patientInfoForm/index.tsx
  client/src/newStructure/pages/newReading/symptomForm/index.tsx
  client/src/newStructure/pages/newReading/urineTestForm/index.tsx
  client/src/newStructure/pages/referrals/index.tsx
  client/src/newStructure/pages/referrals/referralTable/index.tsx
  client/src/newStructure/pages/referrals/referralTable/utils/index.tsx
  client/src/newStructure/pages/signUp/index.tsx
  client/src/newStructure/pages/statistics/allAssessedWomen/utils/index.ts
  client/src/newStructure/pages/statistics/global/utils/index.ts
  client/src/newStructure/pages/videoChat/index.tsx
  client/src/newStructure/pages/videoSession/chat/history/index.tsx
  client/src/newStructure/pages/videoSession/chat/index.tsx
  client/src/newStructure/pages/videoSession/hooks/utils/index.ts
  client/src/newStructure/pages/videoSession/index.tsx
  client/src/newStructure/shared/components/patientSummary/index.tsx
  client/src/newStructure/shared/components/patientSummary/referralInfo/followup/modal/index.tsx
  client/src/newStructure/shared/components/patientSummary/referralInfo/index.tsx
  client/src/newStructure/shared/components/patientSummary/utils/index.tsx
  client/src/newStructure/shared/reducers/patients/index.ts
  client/src/newStructure/shared/reducers/patientsV2/index.ts
  client/src/newStructure/shared/reducers/referrals/index.ts
  client/src/newStructure/shared/reducers/user/allVhts/index.ts
  client/src/newStructure/shared/utils/index.tsx
Due: frontend build

Fix import sort order for all files
  client/src/newStructure/app/drawer/index.tsx
  client/src/newStructure/app/privateRoute/index.tsx
  client/src/newStructure/app/toolbar/index.tsx
  client/src/newStructure/pages/help/index.tsx
  client/src/newStructure/pages/home/index.tsx
  client/src/newStructure/pages/login/form/index.tsx
  client/src/newStructure/pages/newReading/symptomForm/index.tsx
  client/src/newStructure/pages/statistics/global/index.tsx
  client/src/newStructure/pages/statistics/healthFacility/index.tsx
  client/src/newStructure/pages/statistics/index.tsx
  client/src/newStructure/pages/videoSession/hooks/index.tsx
  client/src/newStructure/redux/rootReducer/index.ts
  client/src/newStructure/redux/store/index.ts
  client/src/newStructure/shared/components/form/patient/index.tsx
  client/src/newStructure/shared/components/form/symptom/index.tsx
  client/src/newStructure/shared/components/form/urineTest/index.tsx
  client/src/newStructure/shared/components/patientSummary/container/index.tsx
  client/src/newStructure/shared/components/patientSummary/referralInfo/followup/info/index.tsx
  client/src/newStructure/shared/reducers/newReadingStatus/index.ts
  client/src/newStructure/shared/reducers/patient/index.ts
  client/src/newStructure/shared/reducers/patientStatistics/index.ts
  client/src/newStructure/shared/reducers/statistics/index.ts
  client/src/newStructure/shared/reducers/user/allUsers/index.ts
  client/src/newStructure/shared/reducers/user/registerStatus/index.ts
Due: frontend build

Fixed eslint warnings
  client/src/newStructure/app/index.tsx
  client/src/newStructure/app/privateRoute/index.tsx
  client/src/newStructure/pages/help/ResourceTabPage/index.tsx
  client/src/newStructure/pages/login/index.tsx
  client/src/newStructure/pages/newReading/index.tsx
  client/src/newStructure/pages/patients/index.tsx
  client/src/newStructure/pages/patients/patientTable/hooks/actions/index.tsx
  client/src/newStructure/pages/patients/patientTable/hooks/data/index.ts
  client/src/newStructure/pages/videoSession/chat/history/index.tsx
  client/src/newStructure/pages/videoSession/chat/index.tsx
  client/src/newStructure/pages/videoSession/index.tsx
  client/src/newStructure/server/utils/index.ts
  client/src/newStructure/shared/components/patientSummary/referralInfo/followup/info/index.tsx
Due: frontend build

Push
  client/src/newStructure/app/index.tsx
  client/src/newStructure/pages/patients/index.tsx
  client/src/newStructure/pages/videoSession/chat/history/index.tsx
Due: frontend build

Fixed styling for statistics page
  client/src/newStructure/pages/statistics/styles.module.css
Due: frontend build

Updated client details
  client/package.json
Due: frontend build

Reformat all backend files using the black tool
  server/Controller/FollowUpController.py
  server/Controller/HealthFacilityController.py
  server/Controller/HelloWorld.py
  server/Controller/Helpers.py
  server/Controller/Multi.py
  server/Controller/PasswordResetController.py
  server/Controller/PatientStatsController.py
  server/Controller/ReferralsController.py
  server/Controller/SMSController.py
  server/Controller/StatsController.py
  server/Controller/UsersController.py
  server/Database/Database.py
  server/Database/FollowUpRepo.py
  server/Database/HealthFacilityRepoNew.py
  server/Database/PatientFacilityRepo.py
  server/Database/PatientRepoNew.py
  server/Database/ReadingRepoNew.py
  server/Database/ReferralRepo.py
  server/Database/UserRepo.py
  server/Database/urineTestRepo.py
  server/Manager/FollowUpManager.py
  server/Manager/HealthFacilityManager.py
  server/Manager/Manager.py
  server/Manager/PatientStatsManager.py
  server/Manager/ReadingManagerNew.py
  server/Manager/ReferralManager.py
  server/Manager/RoleManager.py
  server/Manager/StatsManager.py
  server/Manager/UserManager.py
  server/Manager/__init__.py
  server/Manager/urineTestManager.py
  server/SystemTests/test_patients_endpoints.py
  server/SystemTests/test_referral_validator.py
  server/Validation/ReferralValidator.py
  server/Validation/errors.py
Due: backend unit tests, backend system tests, backend format

Reformat some missed files
  server/app.py
  server/config.py
  server/prod/gunicorn.conf.py
  server/routes.py
Due: backend unit tests, backend system tests, backend format

Fix a bug where error is thrown if dob is present but age is not. Also fixed a bug where age would always be set to 15 if field not filled in.
  server/Controller/PatientsController.py
Due: backend unit tests, backend system tests, backend format

Add frontend fix to stop age from being 15 every time if age field not filled in
  client/src/newStructure/pages/newReading/index.tsx
Due: frontend build

Make patientAge field nullable
  client/src/newStructure/pages/newReading/index.tsx
  client/src/newStructure/types/index.ts
  server/Controller/PatientsController.py
Due: frontend build, backend unit tests, backend system tests, backend format

Add tests where dob has value and patientAge is null
  server/Controller/PatientsController.py
  server/SystemTests/test_patients.py
Due: backend unit tests, backend system tests, backend format

Remove magic numbers, fix variable names in test_patients tests
  server/SystemTests/test_patients.py
Due: backend unit tests, backend system tests, backend format

CRDL-66 new approach for dropdown
  client/src/newStructure/app/index.tsx
Due: frontend build

CRDL-66 added menu isntead of collapse
  client/src/newStructure/app/index.tsx
Due: frontend build

CRDL-66 added style testing for menu
  client/src/newStructure/app/index.tsx
Due: frontend build

CRDL-66 added hover
  client/src/newStructure/app/index.tsx
Due: frontend build

#CRDL-66 added on hover leave and style
  client/src/newStructure/app/index.tsx
Due: frontend build

#CRDL-66 added styling for sidebar
  client/src/newStructure/app/index.tsx
Due: frontend build

#CRDL-66 fixed anchor issue
  client/src/newStructure/app/index.tsx
Due: frontend build

#CRDL-66 added data collection page
  client/src/newStructure/app/index.tsx
  client/src/newStructure/pages/statistics/covidCollection/index.tsx
Due: frontend build

#CRDL-66 added onlcik
  client/src/newStructure/app/index.tsx
Due: frontend build

handled empty list
  server/Manager/PatientManagerNew.py
Due: backend unit tests, backend system tests, backend format

modified comments + used black to reformat
  server/Manager/PatientManagerNew.py
Due: backend unit tests, backend system tests, backend format

edited error msg
  server/Manager/PatientFacilityManager.py
Due: backend unit tests, backend system tests, backend format

Fix Database Not Being Dropped On Manual Env
  cradle.py
Due: none

Path conditions:
  frontend build: any of: client/**/*
  backend unit tests: any of: server/**/*
  backend system tests: any of: server/**/*
  backend format: any of: server/**/*
