Repository drbfraser/CRADLE-Platform: changes, and which GitLab CI jobs are due for each by the changed paths.
All: frontend build, backend unit tests, backend system tests, backend format

frontend build:
  stage: build
  image: node:10
  tags:
  - docker
  before_script:
  - cd client
  - npm install
  script:
  - CI=false yarn build

backend unit tests:
  stage: test
  image: python:3.7.6-buster
  tags:
  - docker
  before_script:
  - cd server
  - pip install --upgrade pip
  - pip install -r requirements.txt
  script:
  - python -m pytest Tests

backend system tests:
  stage: test
  image: python:3.7.6-buster
  tags:
  - docker
  variables:
    DB_USERNAME: root
    DB_PASSWORD: ci-password
    EMAIL_USER: ci@ci.com
    EMAIL_PASSWORD: ci-password
    DB_HOSTNAME: mysql
    DB_PORT: '3306'
    DB_NAME: cradle
    PORT: '5000'
    MYSQL_DATABASE: cradle
    MYSQL_ROOT_PASSWORD: ci-password
  ...

backend format:
  stage: format
  image: python:3.7.6-buster
  tags:
  - docker
  before_script:
  - pip install --upgrade pip
  - pip install black
  script:
  - black --check --exclude 'server/migrations/.*' server

Fix traffic light positioning
  client/src/newStructure/pages/patients/patientTable/hooks/tableColumns/column/vitalSign/body/index.tsx
  client/src/newStructure/pages/referrals/referralTable/hooks/tableColumns/column/vitalSign/body/index.tsx
  client/src/newStructure/shared/components/table/column/trafficLights/index.ts
Due: frontend build

merge reset title
  client/src/newStructure/pages/newReading/newReadingCovid/index.tsx
Due: frontend build

merge updated title
  client/src/newStructure/pages/newReading/newReadingCovid/index.tsx
Due: frontend build

Send back to patient page on submit
  client/src/newStructure/pages/newReading/newReadingCovid/index.tsx
Due: frontend build

Add validation for /api/patients post requests
  server/Controller/PatientsController.py
  server/Validation/patients.py
  server/api/resources/patients.py
Due: backend unit tests, backend system tests, backend format

Reformat files using black tool
  server/Validation/patients.py
Due: backend unit tests, backend system tests, backend format

Add validation for reading and assessments
  server/Validation/assessments.py
  server/Validation/patients.py
  server/Validation/readings.py
  server/Validation/validate.py
  server/api/resources/assessments.py
  server/api/resources/patients.py
  server/api/resources/readings.py
Due: backend unit tests, backend system tests, backend format

Add a couple of useful comments
  server/Controller/FollowUpController.py
  server/Validation/patients.py
Due: backend unit tests, backend system tests, backend format

Fix gestational age bug
  client/src/newStructure/pages/newReading/newReadingCovid/demographic/hooks/index.tsx
  client/src/newStructure/pages/newReading/newReadingCovid/index.tsx
  client/src/newStructure/pages/patient/summary/medicalInformation/gestationalAge/index.tsx
Due: frontend build

Remove unneeded old endpoints
  server/Controller/FollowUpController.py
  server/Controller/PatientsController.py
  server/routes.py
Due: backend unit tests, backend system tests, backend format

Add validation for referrals, facilities, associations
  server/Controller/FollowUpController.py
  server/Controller/ReferralsController.py
  server/Validation/assessments.py
  server/Validation/associations.py
  server/Validation/facilities.py
  server/Validation/readings.py
  server/Validation/referrals.py
  server/api/resources/associations.py
  server/api/resources/facilities.py
  server/api/resources/patients.py
  server/api/resources/referrals.py
Due: backend unit tests, backend system tests, backend format

Add new tests for Validation, modify old ones
  server/SystemTests/api/test_patients.py
  server/SystemTests/api/test_readings.py
  server/SystemTests/test_followup.py
  server/SystemTests/test_patients.py
  server/SystemTests/test_search.py
  server/Tests/Validation/test_assessments.py
  server/Tests/Validation/test_associations.py
  server/Tests/Validation/test_facilities.py
  server/Tests/test_foo.py
  server/Validation/assessments.py
  server/Validation/associations.py
  server/Validation/facilities.py
  server/Validation/patients.py
  server/Validation/readings.py
  server/Validation/validate.py
  server/api/resources/patients.py
Due: backend unit tests, backend system tests, backend format

Reformat files with black
  server/SystemTests/api/test_readings.py
  server/Tests/Validation/test_assessments.py
  server/Tests/Validation/test_associations.py
  server/Tests/Validation/test_facilities.py
  server/Validation/validate.py
Due: backend unit tests, backend system tests, backend format

Add tests for patients and readings
  server/Tests/Validation/test_patients.py
  server/Tests/Validation/test_readings.py
  server/Tests/Validation/test_referrals.py
  server/Validation/patients.py
  server/Validation/readings.py
  server/Validation/referrals.py
Due: backend unit tests, backend system tests, backend format

Reformat with black tool
  server/Tests/Validation/test_patients.py
  server/Tests/Validation/test_readings.py
  server/Tests/Validation/test_referrals.py
  server/Validation/patients.py
Due: backend unit tests, backend system tests, backend format

Add referral tests
  server/Tests/Validation/test_referrals.py
  server/Validation/referrals.py
Due: backend unit tests, backend system tests, backend format

Reformat file
  server/Tests/Validation/test_referrals.py
Due: backend unit tests, backend system tests, backend format

Update README With Backend Setup Instructions
  README.md
Due: none

Add system tests for faulty validation checks
  server/SystemTests/api/test_assessments.py
  server/SystemTests/api/test_facilities.py
  server/SystemTests/api/test_patients.py
  server/SystemTests/api/test_readings.py
  server/SystemTests/test_patients.py
  server/Tests/test_patient_validation.py
  server/Validation/PatientValidation.py
  server/api/resources/facilities.py
Due: backend unit tests, backend system tests, backend format

Remove extra lines of code
  server/Controller/FollowUpController.py
  server/SystemTests/api/test_patients.py
  server/SystemTests/api/test_readings.py
  server/api/resources/patients.py
Due: backend unit tests, backend system tests, backend format

Reformat FollowUpController
  server/Controller/FollowUpController.py
Due: backend unit tests, backend system tests, backend format

Updated server folder structure in client setup
  client/src/newStructure/redux/middleware/index.ts
  client/src/newStructure/redux/reducers/healthFacilities/index.ts
  client/src/newStructure/redux/reducers/newReadingStatus/index.ts
  client/src/newStructure/redux/reducers/patientStatistics/index.ts
  client/src/newStructure/redux/reducers/patients/index.ts
  client/src/newStructure/redux/reducers/reading/index.ts
  client/src/newStructure/redux/reducers/statistics/index.ts
  client/src/newStructure/redux/reducers/user/allUsers/index.ts
  client/src/newStructure/redux/reducers/user/allVhts/index.ts
  client/src/newStructure/redux/reducers/user/currentUser/index.ts
  client/src/newStructure/redux/reducers/utils/index.ts
  client/src/newStructure/server/endpoints/index.ts
  client/src/newStructure/server/index.ts
  client/src/newStructure/server/methods/index.ts
Due: frontend build

Update README.md
  README.md
Due: none

Update README.md
  client/README.md
Due: frontend build

Address MR comments
  server/Tests/Validation/test_patients.py
  server/Validation/assessments.py
  server/Validation/associations.py
  server/Validation/facilities.py
  server/Validation/patients.py
  server/Validation/readings.py
  server/Validation/referrals.py
  server/Validation/validate.py
  server/api/resources/patients.py
Due: backend unit tests, backend system tests, backend format

Add missing test
  server/Tests/Validation/test_patients.py
Due: backend unit tests, backend system tests, backend format

Initial commit to add updated swagger docs
  server/Controller/HealthFacilityController.py
  server/Controller/StatsController.py
  server/Validation/readings.py
  server/api/resources/assessments.py
  server/api/resources/associations.py
  server/api/resources/facilities.py
  server/api/resources/patients.py
  server/routes.py
  server/specifications/assessments-post.yml
  server/specifications/associations-post.yml
  server/specifications/facilities-get.yml
  server/specifications/facilities-post.yml
  server/specifications/followup-get.yml
  server/specifications/followup-post.yml
  server/specifications/followups-get.yml
  server/specifications/healthfacility-post.yml
  server/specifications/patient-get.yml
  server/specifications/patients-get.yml
  server/specifications/patients-post.yml
  server/specifications/single-assessment-get.yml
Due: backend unit tests, backend system tests, backend format

Add rest of swagger docs for new endpoints
  server/Controller/HealthFacilityController.py
  server/Controller/ReferralsController.py
  server/Controller/StatsController.py
  server/Validation/patients.py
  server/api/resources/assessments.py
  server/api/resources/facilities.py
  server/api/resources/patients.py
  server/api/resources/readings.py
  server/api/resources/referrals.py
  server/routes.py
  server/specifications/assessments-post.yml
  server/specifications/mobile-followup-summarized.yml
  server/specifications/mobile-followup.yml
  server/specifications/patient-all.yml
  server/specifications/patient-info-get.yml
  server/specifications/patient-info-put.yml
  server/specifications/patient-put.yml
  server/specifications/patient-reading-post.yml
  server/specifications/patient-readings-get.yml
  server/specifications/patient-stats-get.yml
  server/specifications/patients-get.yml
  server/specifications/patients-post.yml
  server/specifications/readings-post.yml
  server/specifications/referrals-get.yml
  server/specifications/referrals-post.yml
  server/specifications/single-patient-get.yml
  server/specifications/single-reading-get.yml
  server/specifications/single-referral-get.yml
Due: backend unit tests, backend system tests, backend format

Remove unused swagger yml's
  server/Controller/HelloWorld.py
  server/routes.py
  server/specifications/hello-world.yml
  server/specifications/patient-all.yml
  server/specifications/patient-put.yml
  server/specifications/patient-reading-post.yml
  server/specifications/referrals-get.yml
  server/specifications/stats-patient.yml
Due: backend unit tests, backend system tests, backend format

Minor change in wording of swagger docs
  server/specifications/patients-post.yml
  server/specifications/readings-post.yml
  server/specifications/referrals-post.yml
  server/specifications/single-assessment-get.yml
  server/specifications/single-patient-get.yml
Due: backend unit tests, backend system tests, backend format

Fix Assessment Api Doc
  server/api/resources/assessments.py
  server/specifications/assessments-post.yml
Due: backend unit tests, backend system tests, backend format

Mass Format
  server/Controller/PatientsController.py
  server/Controller/ReferralsController.py
  server/Manager/StatsManager.py
  server/SystemTests/flow/conftest.py
  server/SystemTests/mock/factory.py
  server/Validation/ReferralValidator.py
  server/Validation/assessments.py
  server/Validation/associations.py
  server/Validation/facilities.py
  server/Validation/patients.py
  server/Validation/readings.py
  server/Validation/referrals.py
  server/Validation/validate.py
  server/migrations/env.py
  server/migrations/versions/1a82dffadaab_.py
  server/migrations/versions/3d7d77465333_.py
  server/migrations/versions/690e8766e4ac_.py
  server/migrations/versions/6fddb8c23bba_.py
  server/migrations/versions/760c99261b86_.py
  server/migrations/versions/767282df9ea8_.py
  server/migrations/versions/7904e9f1d50e_created_column_for_patient_table.py
  server/migrations/versions/8c1d925451fe_.py
  server/migrations/versions/9e78d55f356e_.py
  server/migrations/versions/b709146560cb_.py
  server/migrations/versions/c1e8120fe80e_.py
  server/migrations/versions/cc4478373908_nullable_associations.py
  server/migrations/versions/ced944a17e66_.py
  server/migrations/versions/d41dc6eb7f5d_three_way_patient_associations.py
  server/models.py
Due: backend unit tests, backend system tests, backend format

Link To Wiki
  README.md
Due: none

Add -pub CLI Flag
  server/app.py
Due: backend unit tests, backend system tests, backend format

updated migration order
  server/migrations/versions/3a4b8033a6d9_dob_only_remove_age.py
Due: backend unit tests, backend system tests, backend format

fixed comment
  server/migrations/versions/3a4b8033a6d9_dob_only_remove_age.py
  server/migrations/versions/3d49263fe82c_new_covid_reading_changes.py
Due: backend unit tests, backend system tests, backend format

remove patient age in tests
  server/SystemTests/api/test_patients.py
Due: backend unit tests, backend system tests, backend format

formatting
  server/migrations/versions/3a4b8033a6d9_dob_only_remove_age.py
Due: backend unit tests, backend system tests, backend format

Path conditions:
  frontend build: any of: client/**/*
  backend unit tests: any of: server/**/*
  backend system tests: any of: server/**/*
  backend format: any of: server/**/*
