Repository drbfraser/CRADLE-Platform: changes, and which GitLab CI jobs are due for each by the changed paths.
All: frontend build, backend unit tests, backend system tests, backend format

frontend build:
  stage: build
  image: node:10
  tags:
  - docker
  before_script:
  - cd client
  - npm install
  script:
  - CI=false yarn build

backend unit tests:
  stage: test
  image: python:3.7.6-buster
  tags:
  - docker
  before_script:
  - cd server
  - pip install --upgrade pip
  - pip install -r requirements.txt
  script:
  - python -m pytest Tests

backend system tests:
  stage: test
  image: python:3.7.6-buster
  tags:
  - docker
  variables:
    DB_USERNAME: root
    DB_PASSWORD: ci-password
    EMAIL_USER: ci@ci.com
    EMAIL_PASSWORD: ci-password
    DB_HOSTNAME: mysql
    DB_PORT: '3306'
    DB_NAME: cradle
    PORT: '5000'
    MYSQL_DATABASE: cradle
    MYSQL_ROOT_PASSWORD: ci-password
  ...

backend format:
  stage: format
  image: python:3.7.6-buster
  tags:
  - docker
  allow_failure: true
  before_script:
  - pip install --upgrade pip
  - pip install black
  script:
  - black --check --exclude 'server/migrations/.*' server

renamed testing file
  server/SystemTests/test_users.py
Due: backend unit tests, backend system tests, backend format

wrote testcases for new api + error message tweaks
  server/Controller/PatientsController.py
  server/Manager/PatientFacilityManager.py
  server/SystemTests/test_patients.py
Due: backend unit tests, backend system tests, backend format

fixed formatting
  server/SystemTests/test_patients.py
Due: backend unit tests, backend system tests, backend format

Add prettier check command
  client/package.json
Due: frontend build

Add Flag For manage.py Path
  cradle.py
Due: none

copied changes over from stats branch
  server/Controller/PatientStatsController.py
  server/Controller/StatsController.py
  server/Manager/PatientStatsManager.py
  server/Manager/StatsManager.py
  server/manage.py
  server/routes.py
Due: backend unit tests, backend system tests, backend format

changed to snake case
  server/SystemTests/test_patients.py
Due: backend unit tests, backend system tests, backend format

updating file to snake casing
  server/SystemTests/test_patients.py
Due: backend unit tests, backend system tests, backend format

return empty array instead of throwing an error
  server/Controller/PatientsController.py
Due: backend unit tests, backend system tests, backend format

Fix bug where birthdate not displayed as it was entered
  client/src/newStructure/shared/components/patientSummary/index.tsx
  client/src/newStructure/shared/utils/index.tsx
Due: frontend build

Updated linting error with == to replace with ===
  client/src/newStructure/pages/newReading/index.tsx
Due: frontend build

updated patient/facility api
  server/Controller/PatientsController.py
  server/SystemTests/test_patients.py
  server/routes.py
Due: backend unit tests, backend system tests, backend format

formatted with black
  server/Controller/PatientsController.py
  server/SystemTests/test_patients.py
  server/routes.py
Due: backend unit tests, backend system tests, backend format

Refactored Global Search UI
  client/package-lock.json
  client/package.json
  client/src/newStructure/pages/patients/patientTable/action/index.tsx
  client/src/newStructure/pages/patients/patientTable/action/styles/index.ts
  client/src/newStructure/pages/patients/patientTable/hooks/actions/index.tsx
  client/src/newStructure/pages/patients/patientTable/hooks/columns/index.ts
  client/src/newStructure/pages/patients/patientTable/index.tsx
  client/src/newStructure/pages/patients/patientTable/utils/index.tsx
  client/src/newStructure/shared/reducers/patients/index.ts
  client/src/newStructure/shared/reducers/patientsV2/index.ts
Due: frontend build

Persist global search and make globally searched rows clickable
  client/src/newStructure/pages/patients/index.tsx
  client/src/newStructure/pages/patients/patientTable/action/index.tsx
  client/src/newStructure/pages/patients/patientTable/hooks/data/index.ts
  client/src/newStructure/pages/patients/patientTable/index.tsx
  client/src/newStructure/shared/components/patientSummary/index.tsx
  client/src/newStructure/shared/reducers/patients/index.ts
Due: frontend build

CRDL-66 added page paper
  client/src/newStructure/pages/statistics/covidCollection/index.tsx
Due: frontend build

added test case for empty patient id
  server/SystemTests/test_patients.py
Due: backend unit tests, backend system tests, backend format

CRDL-66 added form and fields
  client/src/newStructure/pages/statistics/covidCollection/index.tsx
Due: frontend build

cleanup
  server/SystemTests/test_patients.py
Due: backend unit tests, backend system tests, backend format

CRDL-66 added table and icons
  client/src/newStructure/pages/statistics/covidCollection/index.tsx
Due: frontend build

created script
  server/run_tests
Due: backend unit tests, backend system tests, backend format

added tip
  server/run_tests
Due: backend unit tests, backend system tests, backend format

edited usage
  server/run_tests
Due: backend unit tests, backend system tests, backend format

CRDL-66 added list design one
  client/src/newStructure/pages/statistics/covidCollection/index.tsx
Due: frontend build

CRDL-66 added pop up
  client/src/newStructure/pages/statistics/covidCollection/index.tsx
Due: frontend build

Updated patient table display
  client/src/newStructure/pages/patients/index.tsx
  client/src/newStructure/pages/patients/patientTable/components/actions/index.tsx
  client/src/newStructure/pages/patients/patientTable/components/actions/styles/index.ts
  client/src/newStructure/pages/patients/patientTable/hooks/localization/index.ts
  client/src/newStructure/pages/patients/patientTable/hooks/search/change/index.ts
  client/src/newStructure/pages/patients/patientTable/hooks/search/focus/index.ts
  client/src/newStructure/pages/patients/patientTable/hooks/updatePageNumber/index.tsx
  client/src/newStructure/pages/patients/patientTable/index.tsx
  client/src/newStructure/pages/patients/patientTable/utils/index.tsx
  client/src/newStructure/shared/reducers/patients/index.ts
  client/src/newStructure/shared/reducers/patientsV2/index.ts
Due: frontend build

CRDL-66 added pop up info
  client/src/newStructure/pages/statistics/covidCollection/index.tsx
Due: frontend build

CRDL-66 new icons for drop down
  client/src/newStructure/pages/statistics/covidCollection/index.tsx
Due: frontend build

CRDL-66 moved select for better design
  client/src/newStructure/pages/statistics/covidCollection/index.tsx
Due: frontend build

CRDFL-66 fixed ui styling
  client/src/newStructure/pages/statistics/covidCollection/index.tsx
Due: frontend build

CRDL-66 fixed styling
  client/src/newStructure/pages/statistics/covidCollection/index.tsx
Due: frontend build

CRDL-66 added connection(demo) for dialog
  client/src/newStructure/pages/statistics/covidCollection/index.tsx
Due: frontend build

CRDL-66 completed demo look data collection
  client/src/newStructure/pages/statistics/covidCollection/index.tsx
Due: frontend build

Update swagger docs for follow-ups
  server/Controller/FollowUpController.py
  server/specifications/followup-delete.yml
  server/specifications/followup-get.yml
  server/specifications/followup-post.yml
  server/specifications/followup-put.yml
  server/specifications/followups-get.yml
Due: backend unit tests, backend system tests, backend format

Updated scripts
  client/package-lock.json
  client/package.json
  client/src/newStructure/pages/patients/patientTable/action/index.tsx
  client/src/newStructure/pages/patients/patientTable/hooks/actions/index.tsx
  client/src/newStructure/pages/patients/patientTable/hooks/data/index.ts
  client/src/newStructure/shared/components/patientSummary/index.tsx
Due: frontend build

CRDL-41 added new help page design and new covid reading page, formatter and linted
  client/package-lock.json
  client/package.json
  client/public/images/covid/address_fear.jpg
  client/public/images/covid/address_stigma.jpg
  client/public/images/covid/always_be_kind.jpg
  client/public/images/covid/always_stay_informed.jpg
  client/public/images/covid/avoid_close_contact.png
  client/public/images/covid/be_informed.jpg
  client/public/images/covid/be_ready_for_covid.jpg
  client/public/images/covid/be_smart.jpg
  client/public/images/covid/be_supportive.jpg
  client/public/images/covid/protct_others_from.png
  client/public/images/covid/stay_informed.jpg
  client/public/images/covid/wash_your_hands.png
  client/public/images/education/cradleVSA.png
  client/public/images/education/how.png
  client/public/images/education/redCW.png
  client/public/images/education/redHCW.png
  client/public/images/education/why.png
  client/public/images/education/yellowCW.png
  client/public/images/education/yellowHCW.png
  client/src/newStructure/app/index.tsx
  client/src/newStructure/pages/help/CommunityWorkerResource/index.tsx
  client/src/newStructure/pages/help/CovidHelp/index.tsx
  client/src/newStructure/pages/help/HealthWorkerResources/index.tsx
  client/src/newStructure/pages/help/ResourceTabPage/index.tsx
  client/src/newStructure/pages/help/index.css
  client/src/newStructure/pages/help/index.tsx
  client/src/newStructure/pages/newReading/index.tsx
  client/src/newStructure/pages/newReading/newReadingCovid/index.tsx
  client/src/newStructure/shared/components/patientSummary/index.tsx
Due: frontend build

CRDL-66 updated link
  client/src/newStructure/pages/statistics/covidCollection/index.tsx
Due: frontend build

CRDL-66 demo changes
  client/src/newStructure/pages/newReading/newReadingCovid/index.tsx
  client/src/newStructure/pages/statistics/covidCollection/index.tsx
Due: frontend build

remove one followup delete from the docs
  server/Controller/FollowUpController.py
Due: backend unit tests, backend system tests, backend format

Add endpoint docs for mobile followups
  server/Controller/FollowUpController.py
  server/specifications/mobile-followup-summarized.yml
  server/specifications/mobile-followup.yml
Due: backend unit tests, backend system tests, backend format

Path conditions:
  frontend build: any of: client/**/*
  backend unit tests: any of: server/**/*
  backend system tests: any of: server/**/*
  backend format: any of: server/**/*
