Repository drbfraser/CRADLE-Platform: changes, and which GitLab CI jobs are due for each by the changed paths.
All: frontend build, backend unit tests, backend system tests, frontend lint, frontend format, backend format

Path conditions:
  frontend build: any of: client/**/*
  backend unit tests: any of: server/**/*
  backend system tests: any of: server/**/*
  frontend lint: any of: client/**/*
  frontend format: any of: client/**/*
  backend format: any of: server/**/*

formatting and fix color readings
  server/api/resources/stats.py
Due: backend unit tests, backend system tests, backend format

Allow editing existing health care facilities and prevent creating new ones with duplicate name
  client/src/pages/admin/manageFacilities/EditFacility.tsx
  client/src/pages/admin/manageFacilities/ManageFacilities.tsx
  client/src/pages/admin/manageFacilities/state.ts
Due: frontend build, frontend lint, frontend format

Just some further changes to the docs
  server/specifications/facilities-put.yml
Due: backend unit tests, backend system tests, backend format

new jwt decorators
  client/package-lock.json
  server/api/resources/stats.py
Due: frontend build, backend unit tests, backend system tests, frontend lint, frontend format, backend format

stats/all swagger docs
  server/api/resources/stats.py
  server/specifications/stats.yml
Due: backend unit tests, backend system tests, backend format

Had to remove all PUT request code and documentation
  server/api/resources/facilities.py
  server/controller/UsersController.py
  server/specifications/facilities-put.yml
Due: backend unit tests, backend system tests, backend format

Committing results of black
  server/api/resources/facilities.py
  server/controller/UsersController.py
Due: backend unit tests, backend system tests, backend format

test facilities seems to need the facilities.py file, check to see if this passes pipline
  server/validation/facilities.py
Due: backend unit tests, backend system tests, backend format

This line might be causing the issue
  server/validation/facilities.py
Due: backend unit tests, backend system tests, backend format

Formatting after deleting the problematic reference
  server/validation/facilities.py
Due: backend unit tests, backend system tests, backend format

Fixed the typo
  server/routes.py
Due: backend unit tests, backend system tests, backend format

Add ability for users to change their own passwords
  client/src/app/topBar/changePassword/ChangePassword.tsx
  client/src/app/topBar/changePassword/state.ts
  client/src/app/topBar/index.tsx
  client/src/server/index.ts
Due: frontend build, frontend lint, frontend format

Fixed the no response issue
  server/api/resources/facilities.py
Due: backend unit tests, backend system tests, backend format

Fixed comment and format
  server/api/resources/facilities.py
Due: backend unit tests, backend system tests, backend format

Add confirm password field to change password dialog
  client/src/app/topBar/changePassword/ChangePassword.tsx
  client/src/app/topBar/changePassword/state.ts
Due: frontend build, frontend lint, frontend format

Hide password error message when password is successfully changed
  client/src/app/topBar/changePassword/ChangePassword.tsx
Due: frontend build, frontend lint, frontend format

removing unused code
  server/manager/PatientStatsManager.py
Due: backend unit tests, backend system tests, backend format

changing yml filenames
  server/api/resources/stats.py
  server/specifications/stats-all.yml
  server/specifications/stats.yml
Due: backend unit tests, backend system tests, backend format

Need to connect with backend api
  client/package-lock.json
  client/package.json
  client/src/app/routes/utils/index.tsx
  client/src/pages/newStatistics/VHTStatistics/index.tsx
  client/src/pages/newStatistics/allStatistics/index.tsx
  client/src/pages/newStatistics/basicStatistics.tsx
  client/src/pages/newStatistics/basicStatistics/index.tsx
  client/src/pages/newStatistics/facilitiesList/index.tsx
  client/src/pages/newStatistics/facilityStatistics/index.tsx
  client/src/pages/newStatistics/index.tsx
  client/src/pages/newStatistics/myStatistics/index.tsx
  client/src/pages/newStatistics/usersList/index.tsx
Due: frontend build, frontend lint, frontend format

Remove previous users table, add new users table (WIP)
  client/src/pages/admin/manageUsers/EditUser.tsx
  client/src/pages/admin/manageUsers/ManageUsers.tsx
  client/src/pages/admin/manageUsers/UsersTable.tsx
  client/src/pages/admin/manageUsers/hooks/data/filterBySearchText/index.ts
  client/src/pages/admin/manageUsers/hooks/data/index.ts
  client/src/pages/admin/manageUsers/hooks/tableColumns/column/email/body/index.tsx
  client/src/pages/admin/manageUsers/hooks/tableColumns/column/email/head/index.tsx
  client/src/pages/admin/manageUsers/hooks/tableColumns/column/email/index.tsx
  client/src/pages/admin/manageUsers/hooks/tableColumns/column/firstName/body/index.tsx
  client/src/pages/admin/manageUsers/hooks/tableColumns/column/firstName/head/index.tsx
  client/src/pages/admin/manageUsers/hooks/tableColumns/column/firstName/index.tsx
  client/src/pages/admin/manageUsers/hooks/tableColumns/column/firstName/utils/index.ts
  client/src/pages/admin/manageUsers/hooks/tableColumns/column/healthFacility/body/index.tsx
  client/src/pages/admin/manageUsers/hooks/tableColumns/column/healthFacility/head/index.tsx
  client/src/pages/admin/manageUsers/hooks/tableColumns/column/healthFacility/index.tsx
  client/src/pages/admin/manageUsers/hooks/tableColumns/column/roles/body/index.tsx
  client/src/pages/admin/manageUsers/hooks/tableColumns/column/roles/body/styles/index.ts
  client/src/pages/admin/manageUsers/hooks/tableColumns/column/roles/head/index.tsx
  client/src/pages/admin/manageUsers/hooks/tableColumns/column/roles/index.tsx
  client/src/pages/admin/manageUsers/hooks/tableColumns/column/takeAction/body/index.tsx
  client/src/pages/admin/manageUsers/hooks/tableColumns/column/takeAction/body/modal/deleteUser/index.tsx
  client/src/pages/admin/manageUsers/hooks/tableColumns/column/takeAction/body/modal/editUser/index.tsx
  client/src/pages/admin/manageUsers/hooks/tableColumns/column/takeAction/body/modal/editUser/styles/index.ts
  client/src/pages/admin/manageUsers/hooks/tableColumns/column/takeAction/body/modal/index.tsx
  client/src/pages/admin/manageUsers/hooks/tableColumns/column/takeAction/body/reducer/index.ts
  client/src/pages/admin/manageUsers/hooks/tableColumns/column/takeAction/body/styles/index.ts
  client/src/pages/admin/manageUsers/hooks/tableColumns/column/takeAction/context/hooks/index.ts
  client/src/pages/admin/manageUsers/hooks/tableColumns/column/takeAction/context/index.tsx
  client/src/pages/admin/manageUsers/hooks/tableColumns/column/takeAction/head/index.tsx
  client/src/pages/admin/manageUsers/hooks/tableColumns/column/takeAction/index.tsx
  client/src/pages/admin/manageUsers/hooks/tableColumns/index.tsx
  client/src/pages/admin/manageUsers/hooks/utils/index.ts
  client/src/pages/admin/manageUsers/hooks/vhtOptions/index.ts
  client/src/pages/admin/manageUsers/state.ts
  client/src/pages/admin/manageUsers/styles/index.ts
  client/src/pages/admin/manageUsers/toolbar/createUser/index.tsx
  client/src/pages/admin/manageUsers/toolbar/createUser/modal/index.tsx
  client/src/pages/admin/manageUsers/toolbar/createUser/modal/styles/index.ts
  client/src/pages/admin/manageUsers/toolbar/index.tsx
  client/src/pages/admin/manageUsers/toolbar/styles/index.ts
Due: frontend build, frontend lint, frontend format

adding generator scrip
  server/manage.py
  server/seed.json
  server/seedJson.py
Due: backend unit tests, backend system tests, backend format

fixed phone number generator
  server/database/seed_data/cities.txt
  server/manage.py
  server/seedJson.py
Due: backend unit tests, backend system tests, backend format

added village and health fac generation
  server/manage.py
Due: backend unit tests, backend system tests, backend format

added gender to names.txt
  server/database/seed_data/names.txt
  server/manage.py
Due: backend unit tests, backend system tests, backend format

generated name / gender
  server/manage.py
  server/seed.json
  server/seedJson.py
Due: backend unit tests, backend system tests, backend format

Date of birth generation and pregancy
  server/database/seed_data/names.txt
  server/manage.py
Due: backend unit tests, backend system tests, backend format

generation partially working, fix random name bug
  server/manage.py
Due: backend unit tests, backend system tests, backend format

formatting'
  server/manage.py
Due: backend unit tests, backend system tests, backend format

added files
  server/api/resources/stats.py
Due: backend unit tests, backend system tests, backend format

Hotfix: Downgrade SQLAlchemy
  server/requirements.txt
Due: backend unit tests, backend system tests, backend format

Add create / edit user form to new admin users table
  client/src/pages/admin/manageUsers/EditUser.tsx
  client/src/pages/admin/manageUsers/ManageUsers.tsx
  client/src/pages/admin/manageUsers/state.ts
Due: frontend build, frontend lint, frontend format

Added password reset popup to admin user table
  client/src/pages/admin/manageUsers/EditUser.tsx
  client/src/pages/admin/manageUsers/ManageUsers.tsx
  client/src/pages/admin/manageUsers/ResetPassword.tsx
  client/src/pages/admin/manageUsers/state.ts
  client/src/server/index.ts
Due: frontend build, frontend lint, frontend format

changed names to African names, had to write a websraper script to make this faster
  server/database/seed_data/cities.txt
  server/database/seed_data/lastnames.txt
  server/database/seed_data/names.txt
  server/manage.py
Due: backend unit tests, backend system tests, backend format

generated patients
  server/database/seed_data/cities.txt
  server/database/seed_data/lastnames.txt
  server/database/seed_data/names.txt
  server/manage.py
Due: backend unit tests, backend system tests, backend format

adding referral comments and removing 1 referral per patient limit
  server/manage.py
Due: backend unit tests, backend system tests, backend format

added more fields to be generated
  server/manage.py
Due: backend unit tests, backend system tests, backend format

added timings
  server/manage.py
Due: backend unit tests, backend system tests, backend format

added counters to monitor seeds and timer for the large data sed
  server/manage.py
Due: backend unit tests, backend system tests, backend format

changed the seed_test_data function back to original to pass the tests
  server/manage.py
Due: backend unit tests, backend system tests, backend format

Remove password changing functionality from users edit
  server/controller/UsersController.py
Due: backend unit tests, backend system tests, backend format
