Repository drbfraser/CRADLE-Platform: changes, and which GitLab CI jobs are due for each by the changed paths.
All: frontend build, backend unit tests, backend system tests, frontend lint, frontend format, backend format

frontend build:
  stage: build
  image: node:10
  tags:
  - docker
  before_script:
  - cd client
  - npm install
  script:
  - CI=false npm run build
  after_script:
  - tar -czvf frontend.tar.gz client/build
  artifacts:
    paths:
    - frontend.tar.gz

backend unit tests:
  stage: test
  image: python:3.7.6-buster
  tags:
  - docker
  before_script:
  - cd server
  - pip install --upgrade pip
  - pip install -r requirements.txt
  script:
  - python -m pytest tests

backend system tests:
  stage: test
  image: python:3.7.6-buster
  tags:
  - docker
  variables:
    DB_USERNAME: root
    DB_PASSWORD: ci-password
    EMAIL_USER: ci@ci.com
    EMAIL_PASSWORD: ci-password
    DB_HOSTNAME: mysql
    DB_PORT: '3306'
    DB_NAME: cradle
    PORT: '5000'
    MYSQL_DATABASE: cradle
    MYSQL_ROOT_PASSWORD: ci-password
  ...

frontend lint:
  stage: format
  image: node:10
  tags:
  - docker
  before_script:
  - cd client
  - npm install
  script:
  - ./node_modules/.bin/eslint "src/**/*.{ts,tsx}"

frontend format:
  stage: format
  image: node:10
  tags:
  - docker
  before_script:
  - npm install prettier --global
  script:
  - prettier --check "client/src/**/*.{ts,tsx}"

backend format:
  stage: format
  image: python:3.7.6-buster
  tags:
  - docker
  before_script:
  - pip install --upgrade pip
  - pip install black
  script:
  - black --check --exclude 'server/migrations/.*' server

CRDL-223 fixed bug reported by paul
  server/data/crud.py
Due: backend unit tests, backend system tests, backend format

CRDL-223 template for new sync logic
  server/api/resources/sync.py
Due: backend unit tests, backend system tests, backend format

fix format
  client/src/pages/newReading/confirmationPage/index.tsx
Due: frontend build, frontend lint, frontend format

fix format2
  client/src/pages/newReading/confirmationPage/index.tsx
Due: frontend build, frontend lint, frontend format

crud: fix other dict reusage bugs
  server/data/crud.py
Due: backend unit tests, backend system tests, backend format

CRDL-223 fixed dictionary bug
  server/api/resources/sync.py
  server/data/crud.py
Due: backend unit tests, backend system tests, backend format

CRDL-223 synce optimization stage1 moving basic functionality of processing to backend
  server/api/resources/sync.py
  server/service/invariant.py
Due: backend unit tests, backend system tests, backend format

Fix Prettier issues
  .gitlab-ci.yml
  client/package-lock.json
  client/package.json
  client/src/pages/patient/summary/medicalInformation/index.tsx
  client/src/redux/reducers/patients/index.ts
Due: frontend build, frontend lint, frontend format

fix format3
  client/src/pages/newReading/confirmationPage/index.tsx
Due: frontend build, frontend lint, frontend format

update error message
  client/src/pages/newReading/vitalSignAssessment/index.tsx
Due: frontend build, frontend lint, frontend format

CRDL-223 return patients
  server/api/resources/sync.py
Due: backend unit tests, backend system tests, backend format

CRDL-223 remove since variable
  server/api/resources/sync.py
Due: backend unit tests, backend system tests, backend format

update error message: change integer to whole number.
  client/src/pages/newReading/vitalSignAssessment/index.tsx
Due: frontend build, frontend lint, frontend format

CRDL-223
  server/api/resources/sync.py
  server/data/crud.py
Due: backend unit tests, backend system tests, backend format

Update new patient form to use Formik
  client/package-lock.json
  client/package.json
  client/src/pages/newPatient/index.tsx
  client/src/pages/newPatient/state.ts
  client/src/pages/newPatient/state/actions.ts
  client/src/pages/newPatient/state/reducer.ts
  client/src/pages/newPatient/state/validation.ts
  client/src/pages/newPatient/validation.ts
Due: frontend build, frontend lint, frontend format

New patient form: check if patient ID already exists
  client/src/pages/newPatient/PatientIDExists.tsx
  client/src/pages/newPatient/handlers.ts
  client/src/pages/newPatient/index.tsx
  client/src/pages/newPatient/validation.ts
Due: frontend build, frontend lint, frontend format

New patient form: validation improvements
  client/src/pages/newPatient/handlers.ts
  client/src/pages/newPatient/validation.ts
Due: frontend build, frontend lint, frontend format

CRDL-223 removed none needed import
  server/api/resources/sync.py
Due: backend unit tests, backend system tests, backend format

CRDL-229 updated empty Symptoms call
  server/data/crud.py
  server/data/marshal.py
Due: backend unit tests, backend system tests, backend format

Health Facility Manager has been removed
  server/manager/HealthFacilityManager.py
Due: backend unit tests, backend system tests, backend format

CRDL-223 updated sync call
  server/api/resources/sync.py
Due: backend unit tests, backend system tests, backend format

Make patient table look better when patient has no associated reading
  client/src/pages/patients/PatientRow.tsx
  client/src/shared/components/trafficLight/index.tsx
Due: frontend build, frontend lint, frontend format

intructions should be required when follow-up needed
  client/src/pages/newReading/assessment/index.tsx
Due: frontend build, frontend lint, frontend format

disabled health facility when role== admin
  client/src/pages/admin/adminTable/toolbar/createUser/modal/index.tsx
Due: frontend build, frontend lint, frontend format

Allow editing existing patients with new form
  client/src/app/routes/utils/index.tsx
  client/src/pages/editPatient/PatientForm.tsx
  client/src/pages/editPatient/PatientIDExists.tsx
  client/src/pages/editPatient/handlers.ts
  client/src/pages/editPatient/index.tsx
  client/src/pages/editPatient/state.ts
  client/src/pages/editPatient/validation.ts
  client/src/pages/patient/summary/personalInformation/index.tsx
Due: frontend build, frontend lint, frontend format

New patient form: properly modify data to be what the server expects
  client/src/pages/editPatient/PatientForm.tsx
  client/src/pages/editPatient/handlers.ts
  client/src/pages/editPatient/state.ts
  client/src/pages/editPatient/validation.ts
  client/src/shared/utils/index.ts
Due: frontend build, frontend lint, frontend format

Run Prettifier on the frontend new patient form
  client/src/pages/editPatient/PatientForm.tsx
  client/src/pages/editPatient/PatientIDExists.tsx
  client/src/pages/editPatient/handlers.ts
  client/src/pages/editPatient/index.tsx
  client/src/pages/editPatient/state.ts
  client/src/pages/editPatient/validation.ts
  client/src/pages/patient/summary/medicalInformation/index.tsx
  client/src/pages/patient/summary/personalInformation/index.tsx
  client/src/pages/patients/PatientRow.tsx
  client/src/redux/reducers/patients/index.ts
  client/src/shared/components/trafficLight/index.tsx
  client/src/shared/utils/index.ts
Due: frontend build, frontend lint, frontend format

Add back arrow to new / edit patient page
  client/src/pages/editPatient/index.tsx
Due: frontend build, frontend lint, frontend format

Fix running wrong version of Prettier
  client/src/pages/editPatient/PatientForm.tsx
  client/src/pages/editPatient/handlers.ts
  client/src/pages/patient/summary/medicalInformation/index.tsx
  client/src/redux/reducers/patients/index.ts
Due: frontend build, frontend lint, frontend format

CRDL-223 updated based on MR feedback
  server/api/resources/sync.py
  server/service/invariant.py
Due: backend unit tests, backend system tests, backend format

CRDL-223 updated based on pr review
  server/api/resources/sync.py
Due: backend unit tests, backend system tests, backend format

change LICENCE from GPLv3 to AGPLv3
  LICENSE
Due: none

add contributors list to README.md
  README.md
Due: none

fix name in api/mobile/patients spec for CI
  server/specifications/android-patients-get.yml
Due: backend unit tests, backend system tests, backend format

CRDL-223 udpated referal and followup
  server/api/resources/sync.py
Due: backend unit tests, backend system tests, backend format

associations.py api/associations is renamed to patientAssociations.py api/patientAssociations.
  server/api/__init__.py
  server/api/resources/patientAssociations.py
  server/routes.py
Due: backend unit tests, backend system tests, backend format

Add some comments to explain Regex validation
  client/src/pages/editPatient/validation.ts
Due: frontend build, frontend lint, frontend format

CRDL-223 updated referral json
  server/api/resources/sync.py
Due: backend unit tests, backend system tests, backend format

Path conditions:
  frontend build: any of: client/**/*
  backend unit tests: any of: server/**/*
  backend system tests: any of: server/**/*
  frontend lint: any of: client/**/*
  frontend format: any of: client/**/*
  backend format: any of: server/**/*
