Repository drbfraser/CRADLE-Platform: changes, and which GitLab CI jobs are due for each by the changed paths.
All: frontend build, backend unit tests, backend system tests, backend format

.gitlab-ci.yml:

stages:
  - build
  - test
  - format
  - deploy

variables:
  DEPLOYMENT_BRANCH: "/master|staging|production/"

frontend build:
  stage: build
  image: node:10
  tags:
    - docker
  rules:
    - if: '$CI_MERGE_REQUEST_ID != null || $CI_COMMIT_BRANCH =~ $DEPLOYMENT_BRANCH'
    - changes:
      - client/**/*
  before_script:
    - cd client
    - npm install
  script:
    - CI=false yarn build

backend unit tests:
  stage: test
  image: python:3.7.6-buster
  tags:
    - docker
  rules:
    - if: '$CI_MERGE_REQUEST_ID != null || $CI_COMMIT_BRANCH =~ $DEPLOYMENT_BRANCH'
    - changes:
      - server/**/*
  before_script:
    - cd server
    - pip install --upgrade pip
    - pip install -r requirements.txt
  script:
    - python -m pytest Tests

backend system tests:
  stage: test
  image: python:3.7.6-buster
  tags:
    - docker
  rules:
    - if: '$CI_MERGE_REQUEST_ID != null || $CI_COMMIT_BRANCH =~ $DEPLOYMENT_BRANCH'
    - changes:
      - server/**/*
  variables:
    # Cradle Server Variables
    DB_USERNAME: "root"
    DB_PASSWORD: "ci-password"
    EMAIL_USER: "ci@ci.com"
    EMAIL_PASSWORD: "ci-password"
    DB_HOSTNAME: "mysql"
    DB_PORT: "3306"
    DB_NAME: "cradle"
    PORT: "5000"
    # MySQL Variables
    MYSQL_DATABASE: "cradle"
    MYSQL_ROOT_PASSWORD: "ci-password"
  services:
    - mysql:5.7
  before_script:
    # Add mysql client so we can execute queries on the database
    - apt-get update -y
    - apt-get install default-mysql-client -y
    - cd server
    - pip install --upgrade pip
    - pip install -r requirements.txt
    # Spin up a server instance in the background
    # Run this first so that the server can warm up whilst we seed the db
    - python3 app.py &
    # Build and seed database
    - python3 db.py rebuild --no-docker
    - python3 manage.py seed_test_data
  script:
    - python -m pytest SystemTests

backend format:
  stage: format
  image: python:3.7.6-buster
  tags:
    - docker
  rules:
    - if: '$CI_MERGE_REQUEST_ID != null || $CI_COMMIT_BRANCH =~ $DEPLOYMENT_BRANCH'
      when: always
    - changes:
      - server/**/*
      when: always
  before_script:
    - pip install --upgrade pip
    - pip install black
  script:
    - black --check --exclude 'server/migrations/.*' server 

deploy staging:
  stage: deploy
  tags:
    - shell
  rules:
    # Only deploy to staging if we are on the master or stating branch.
    - if: '$CI_MERGE_REQUEST_ID == null && $CI_COMMIT_BRANCH =~ "/master|staging/"'
      when: on_success
    - when: never
  script:
    - source /var/cradle/staging.env
    - ./scripts/deploy.sh

convert dob closes crdl-131
  server/api/resources/patients.py
  server/data/marshal.py
Due: backend unit tests, backend system tests, backend format

updating migration order since master has new migration file
  server/migrations/versions/3d49263fe82c_new_covid_reading_changes.py
Due: backend unit tests, backend system tests, backend format

formatting
  server/data/marshal.py
Due: backend unit tests, backend system tests, backend format

temp migration order until crdl-90 is merged into master
  server/migrations/versions/3a4b8033a6d9_dob_only_remove_age.py
Due: backend unit tests, backend system tests, backend format

formatting
  server/Controller/PatientsController.py
  server/SystemTests/test_patients.py
  server/Tests/test_patient_validation.py
  server/Validation/PatientValidation.py
  server/manage.py
Due: backend unit tests, backend system tests, backend format

edit tests and remove api doc comments
  server/SystemTests/test_patients.py
  server/Validation/PatientValidation.py
Due: backend unit tests, backend system tests, backend format

CRDL-75 updated new flow based on feedback
  client/src/newStructure/pages/newReading/newReadingCovid/alertDialog/index.tsx
  client/src/newStructure/pages/newReading/newReadingCovid/demographic/hooks/index.tsx
  client/src/newStructure/pages/newReading/newReadingCovid/formatData/index.tsx
  client/src/newStructure/pages/newReading/newReadingCovid/index.tsx
  client/src/newStructure/shared/reducers/patients/index.ts
Due: frontend build

updated doc... again
  docs/New_Covid Reading_API_Support_Web
Due: none

Made refactor to update/create assessment flow
  client/src/newStructure/enums/index.ts
  client/src/newStructure/pages/patient/summary/index.tsx
  client/src/newStructure/pages/patient/summary/readings/index.tsx
  client/src/newStructure/pages/patient/summary/readings/referralInfo/assessment/index.tsx
  client/src/newStructure/pages/patient/summary/readings/referralInfo/followup/info/hooks/index.ts
  client/src/newStructure/pages/patient/summary/readings/referralInfo/followup/info/hooks/utils/index.ts
  client/src/newStructure/pages/patient/summary/readings/referralInfo/followup/info/index.tsx
  client/src/newStructure/pages/patient/summary/readings/referralInfo/followup/modal/index.tsx
  client/src/newStructure/pages/patient/summary/readings/referralInfo/followup/utils/index.ts
  client/src/newStructure/pages/patient/summary/readings/referralInfo/followupModal/index.tsx
  client/src/newStructure/pages/patient/summary/readings/referralInfo/followupModal/styles/index.ts
  client/src/newStructure/pages/patient/summary/readings/referralInfo/header/index.tsx
  client/src/newStructure/pages/patient/summary/readings/referralInfo/index.tsx
  client/src/newStructure/pages/patient/summary/readings/utils/index.ts
  client/src/newStructure/pages/patient/summary/reducers/index.ts
  client/src/newStructure/pages/patient/summary/utils/index.ts
  client/src/newStructure/pages/patient/summary/vitalsOverTime/index.tsx
  client/src/newStructure/redux/middleware/request/index.ts
  client/src/newStructure/shared/reducers/referrals/index.ts
  client/src/newStructure/types/index.ts
Due: frontend build

Updated assessment created message
  client/src/newStructure/shared/reducers/referrals/index.ts
Due: frontend build

Return empty array when there are no results on global search & add message to be displayed when no results
  client/src/newStructure/pages/patients/patientTable/hooks/localization/index.ts
  client/src/newStructure/pages/patients/patientTable/index.tsx
  server/Controller/PatientsController.py
  server/SystemTests/test_search.py
Due: frontend build, backend unit tests, backend system tests, backend format

Lint a frontend file
  client/src/newStructure/pages/patients/patientTable/index.tsx
Due: frontend build

Updated create assessment
  client/src/newStructure/pages/patient/summary/medicalInformation/gestationalAge/index.tsx
  client/src/newStructure/pages/patient/summary/medicalInformation/index.tsx
  client/src/newStructure/pages/patient/summary/readingModal/content/form/hooks/submit/index.ts
  client/src/newStructure/pages/patient/summary/readingModal/content/form/hooks/submit/utils/index.ts
  client/src/newStructure/pages/patient/summary/readings/hooks/index.ts
  client/src/newStructure/pages/patient/summary/readings/hooks/utils/index.ts
  client/src/newStructure/pages/patient/summary/readings/index.tsx
  client/src/newStructure/pages/patient/summary/readings/referralInfo/assessment/index.tsx
  client/src/newStructure/pages/patient/summary/readings/referralInfo/followupModal/hooks/disableSubmit/index.ts
  client/src/newStructure/pages/patient/summary/readings/referralInfo/followupModal/index.tsx
  client/src/newStructure/pages/patient/summary/readings/referralInfo/index.tsx
  client/src/newStructure/pages/patient/summary/readings/symptoms/index.tsx
  client/src/newStructure/pages/patient/summary/readings/utils/index.ts
  client/src/newStructure/pages/patient/summary/reducers/index.ts
  client/src/newStructure/pages/patient/summary/vitalsOverTime/hooks/trafficLights/index.ts
  client/src/newStructure/pages/patients/index.tsx
  client/src/newStructure/pages/patients/patientTable/index.tsx
  client/src/newStructure/redux/rootReducer/index.ts
  client/src/newStructure/server/endpoints/index.ts
  client/src/newStructure/shared/reducers/patientStatistics/index.ts
  client/src/newStructure/shared/reducers/patients/index.ts
  client/src/newStructure/shared/reducers/reading/index.ts
  client/src/newStructure/shared/reducers/referrals/index.ts
  client/src/newStructure/shared/reducers/user/registerStatus/index.ts
  client/src/newStructure/shared/utils/index.tsx
  client/src/newStructure/types/index.ts
  server/Manager/ReadingManagerNew.py
Due: frontend build, backend unit tests, backend system tests, backend format

Updated showing global search error
  client/src/newStructure/app/index.tsx
  client/src/newStructure/pages/patient/summary/index.tsx
  client/src/newStructure/pages/patients/index.tsx
  client/src/newStructure/pages/referrals/index.tsx
  client/src/newStructure/shared/components/addPatientPrompt/index.tsx
  client/src/newStructure/shared/reducers/patients/index.ts
  client/src/newStructure/shared/utils/index.tsx
Due: frontend build

Updated UI experience
  client/src/newStructure/pages/patient/summary/index.tsx
Due: frontend build

Fixed linting errors
  client/.eslintrc.json
  client/src/newStructure/pages/patient/summary/readings/referralInfo/followupModal/index.tsx
Due: frontend build

Handle error for global search addition
  client/src/newStructure/pages/patients/index.tsx
  client/src/newStructure/pages/patients/patientTable/hooks/data/index.ts
  client/src/newStructure/pages/patients/patientTable/hooks/tableColumns/column/takeAction/body/addPatient/index.ts
  client/src/newStructure/pages/patients/patientTable/hooks/tableColumns/column/takeAction/body/index.tsx
  client/src/newStructure/pages/patients/patientTable/index.tsx
  client/src/newStructure/pages/patients/patientTable/toolbar/globalSearch/index.tsx
  client/src/newStructure/pages/patients/patientTable/toolbar/index.tsx
  client/src/newStructure/pages/patients/patientTable/toolbar/referredPatients/index.tsx
  client/src/newStructure/shared/hooks/table/searchChange/index.ts
  client/src/newStructure/shared/reducers/patients/index.ts
Due: frontend build

Update hidePrompt to callback version
  client/src/newStructure/pages/patients/patientTable/hooks/tableColumns/column/takeAction/body/addPatient/index.ts
Due: frontend build

Fix error state
  client/src/newStructure/shared/reducers/patients/index.ts
Due: frontend build

Updated showing followups
  client/src/newStructure/pages/patient/summary/readings/index.tsx
  client/src/newStructure/pages/patient/summary/readings/referralInfo/assessment/index.tsx
  client/src/newStructure/pages/patient/summary/readings/referralInfo/index.tsx
  client/src/newStructure/shared/reducers/patients/index.ts
  client/src/newStructure/types/index.ts
Due: frontend build

Address MR comments
  client/src/newStructure/pages/patients/patientTable/hooks/localization/index.ts
  client/src/newStructure/pages/patients/patientTable/index.tsx
Due: frontend build

Fix frontend formatting
  client/src/newStructure/pages/patients/patientTable/hooks/localization/index.ts
Due: frontend build

CRDL-75 updated flow
  client/src/newStructure/pages/newReading/newReadingCovid/demographic/hooks/index.tsx
  client/src/newStructure/pages/newReading/newReadingCovid/index.tsx
  client/src/newStructure/shared/reducers/patients/index.ts
Due: frontend build

CRDL-75 updated patient edit flow
  client/src/newStructure/pages/newReading/newReadingCovid/index.tsx
Due: frontend build

CRDL-75 blocked user from going back
  client/src/newStructure/pages/newReading/newReadingCovid/confirmationPage/index.tsx
  client/src/newStructure/pages/newReading/newReadingCovid/index.tsx
Due: frontend build

CRDL-75 cleaned up patient reading
  client/src/newStructure/pages/newReading/newReadingCovid/index.tsx
Due: frontend build

CRDL-75 updated header based on flow
  client/src/newStructure/pages/newReading/newReadingCovid/index.tsx
Due: frontend build

CRDL-75 cleaned up patient state
  client/src/newStructure/pages/newReading/newReadingCovid/demographic/hooks/index.tsx
Due: frontend build

CRDL-75 cleaned up vitals
  client/src/newStructure/pages/newReading/newReadingCovid/vitalSignAssessment/hooks/index.tsx
Due: frontend build

CRDL-75 updated patient create field
  client/src/newStructure/pages/newReading/newReadingCovid/formatData/index.tsx
Due: frontend build

Enabled creating and updating an assessment
  client/src/newStructure/pages/patient/summary/readings/referralInfo/followupModal/index.tsx
  client/src/newStructure/pages/patient/summary/readings/referralInfo/index.tsx
  client/src/newStructure/pages/patient/summary/reducers/index.ts
  client/src/newStructure/shared/reducers/patients/index.ts
  client/src/newStructure/types/index.ts
  server/api/resources/assessments.py
Due: frontend build, backend unit tests, backend system tests, backend format

Fixed updating referrals after assessment
  client/src/newStructure/pages/referrals/index.tsx
  client/src/newStructure/pages/referrals/referralTable/hooks/tableColumns/column/assessment/body/index.tsx
  client/src/newStructure/pages/referrals/referralTable/hooks/tableColumns/column/assessment/index.tsx
  client/src/newStructure/pages/referrals/referralTable/hooks/tableColumns/column/assessment/utils/index.ts
  client/src/newStructure/pages/referrals/referralTable/hooks/tableColumns/column/dateReferred/body/index.tsx
  client/src/newStructure/pages/referrals/referralTable/hooks/tableColumns/column/utils/index.ts
  client/src/newStructure/shared/reducers/patients/index.ts
Due: frontend build

Update middleware
  client/src/newStructure/redux/middleware/index.ts
  client/src/newStructure/redux/store/index.ts
Due: frontend build

Started update to admin page
  client/src/newStructure/enums/index.ts
  client/src/newStructure/pages/admin/adminTable/hooks/data/filterBySearchText/index.ts
  client/src/newStructure/pages/admin/adminTable/hooks/data/index.ts
  client/src/newStructure/pages/admin/adminTable/hooks/tableColumns/column/actions/body/index.tsx
  client/src/newStructure/pages/admin/adminTable/hooks/tableColumns/column/actions/body/styles/index.ts
  client/src/newStructure/pages/admin/adminTable/hooks/tableColumns/column/actions/head/index.tsx
  client/src/newStructure/pages/admin/adminTable/hooks/tableColumns/column/actions/index.tsx
  client/src/newStructure/pages/admin/adminTable/hooks/tableColumns/column/email/body/index.tsx
  client/src/newStructure/pages/admin/adminTable/hooks/tableColumns/column/email/body/styles/index.ts
  client/src/newStructure/pages/admin/adminTable/hooks/tableColumns/column/email/head/index.tsx
  client/src/newStructure/pages/admin/adminTable/hooks/tableColumns/column/email/index.tsx
  client/src/newStructure/pages/admin/adminTable/hooks/tableColumns/column/firstName/body/index.tsx
  client/src/newStructure/pages/admin/adminTable/hooks/tableColumns/column/firstName/head/index.tsx
  client/src/newStructure/pages/admin/adminTable/hooks/tableColumns/column/firstName/index.tsx
  client/src/newStructure/pages/admin/adminTable/hooks/tableColumns/column/firstName/utils/index.ts
  client/src/newStructure/pages/admin/adminTable/hooks/tableColumns/column/healthFacility/body/index.tsx
  client/src/newStructure/pages/admin/adminTable/hooks/tableColumns/column/healthFacility/head/index.tsx
  client/src/newStructure/pages/admin/adminTable/hooks/tableColumns/column/healthFacility/index.tsx
  client/src/newStructure/pages/admin/adminTable/hooks/tableColumns/column/roles/body/index.tsx
  client/src/newStructure/pages/admin/adminTable/hooks/tableColumns/column/roles/head/index.tsx
  client/src/newStructure/pages/admin/adminTable/hooks/tableColumns/column/roles/index.tsx
  client/src/newStructure/pages/admin/adminTable/hooks/tableColumns/column/utils/index.ts
  client/src/newStructure/pages/admin/adminTable/hooks/tableColumns/index.tsx
  client/src/newStructure/pages/admin/adminTable/hooks/tableColumns/styles/index.ts
  client/src/newStructure/pages/admin/adminTable/index.tsx
  client/src/newStructure/pages/admin/adminTable/tableRow/index.tsx
  client/src/newStructure/pages/admin/adminTable/tableRow/styles/index.ts
  client/src/newStructure/pages/admin/adminTable/toolbar/index.tsx
  client/src/newStructure/pages/admin/index.tsx
  client/src/newStructure/pages/admin/utils/index.ts
  client/src/newStructure/redux/reducers/user/allUsers/index.ts
Due: frontend build

Add edit and delete modals
  client/src/newStructure/pages/admin/adminTable/hooks/tableColumns/column/actions/body/deleteUserModal/index.tsx
  client/src/newStructure/pages/admin/adminTable/hooks/tableColumns/column/actions/body/editUserModal/hooks/index.ts
  client/src/newStructure/pages/admin/adminTable/hooks/tableColumns/column/actions/body/editUserModal/index.tsx
  client/src/newStructure/pages/admin/adminTable/hooks/tableColumns/column/actions/body/index.tsx
  client/src/newStructure/pages/admin/adminTable/hooks/tableColumns/column/actions/body/styles/index.ts
  client/src/newStructure/pages/admin/adminTable/hooks/tableColumns/column/actions/index.tsx
  client/src/newStructure/pages/admin/adminTable/hooks/tableColumns/index.tsx
  client/src/newStructure/pages/admin/index.tsx
  client/src/newStructure/redux/reducers/healthFacilities/index.ts
Due: frontend build

Add delete user modal
  client/src/newStructure/pages/admin/adminTable/hooks/tableColumns/column/actions/body/editUserModal/hooks/healthFacilityOptions/index.ts
  client/src/newStructure/pages/admin/adminTable/hooks/tableColumns/column/actions/body/editUserModal/hooks/vhtOptions/index.ts
  client/src/newStructure/pages/admin/adminTable/hooks/tableColumns/column/actions/body/editUserModal/index.tsx
Due: frontend build

Fix lint errors
  client/src/newStructure/pages/admin/adminTable/hooks/tableColumns/column/actions/index.tsx
  client/src/newStructure/pages/admin/adminTable/hooks/tableColumns/column/healthFacility/index.tsx
  client/src/newStructure/pages/admin/adminTable/hooks/tableColumns/index.tsx
Due: frontend build

Fix unused import
  client/src/newStructure/pages/admin/adminTable/hooks/tableColumns/column/actions/head/index.tsx
Due: frontend build

Fix vital sign positioning and sort logic
  client/src/newStructure/pages/admin/adminTable/hooks/tableColumns/column/firstName/utils/index.ts
  client/src/newStructure/pages/admin/adminTable/hooks/tableColumns/column/utils/index.ts
  client/src/newStructure/pages/patient/summary/utils/index.ts
  client/src/newStructure/pages/patients/patientTable/hooks/tableColumns/column/vitalSign/body/index.tsx
  client/src/newStructure/pages/patients/patientTable/hooks/tableColumns/column/vitalSign/body/styles/index.ts
  client/src/newStructure/pages/patients/patientTable/hooks/tableColumns/column/vitalSign/head/index.tsx
  client/src/newStructure/pages/patients/patientTable/hooks/tableColumns/column/vitalSign/utils/index.ts
  client/src/newStructure/pages/referrals/referralTable/hooks/tableColumns/column/assessment/utils/index.ts
  client/src/newStructure/pages/referrals/referralTable/hooks/tableColumns/column/dateReferred/utils/index.ts
  client/src/newStructure/pages/referrals/referralTable/hooks/tableColumns/column/utils/index.ts
  client/src/newStructure/pages/referrals/referralTable/hooks/tableColumns/column/vitalSign/body/index.tsx
  client/src/newStructure/pages/referrals/referralTable/hooks/tableColumns/column/vitalSign/body/styles/index.ts
  client/src/newStructure/pages/referrals/referralTable/hooks/tableColumns/column/vitalSign/head/index.tsx
  client/src/newStructure/shared/hooks/table/localization/index.ts
  client/src/newStructure/shared/utils/index.tsx
Due: frontend build
