Repository drbfraser/CRADLE-Platform: changes, and which GitLab CI jobs are due for each by the changed paths.
All: frontend build, backend unit tests, backend system tests, frontend lint, frontend format, backend format

frontend build:
  stage: build
  image: node:10
  tags:
  - docker
  before_script:
  - cd client
  - npm install
  script:
  - CI=false npm run build
  after_script:
  - tar -czvf frontend.tar.gz client/build
  artifacts:
    paths:
    - frontend.tar.gz

backend unit tests:
  stage: test
  image: python:3.7.6-buster
  tags:
  - docker
  before_script:
  - cd server
  - pip install --upgrade pip
  - pip install -r requirements.txt
  script:
  - python -m pytest tests

backend system tests:
  stage: test
  image: python:3.7.6-buster
  tags:
  - docker
  variables:
    DB_USERNAME: root
    DB_PASSWORD: ci-password
    EMAIL_USER: ci@ci.com
    EMAIL_PASSWORD: ci-password
    DB_HOSTNAME: mysql
    DB_PORT: '3306'
    DB_NAME: cradle
    PORT: '5000'
    MYSQL_DATABASE: cradle
    MYSQL_ROOT_PASSWORD: ci-password
  ...

frontend lint:
  stage: format
  image: node:10
  tags:
  - docker
  before_script:
  - cd client
  - npm install
  script:
  - ./node_modules/.bin/eslint "src/**/*.{ts,tsx}"

frontend format:
  stage: format
  image: node:10
  tags:
  - docker
  before_script:
  - npm install prettier --global
  script:
  - prettier --check "client/src/**/*.{ts,tsx}"

backend format:
  stage: format
  image: python:3.7.6-buster
  tags:
  - docker
  before_script:
  - pip install --upgrade pip
  - pip install black
  script:
  - black --check --exclude 'server/migrations/.*' server

CRDL-208 updated hcw view
  server/service/view.py
Due: backend unit tests, backend system tests, backend format

CRDL-208 updated sync function
  server/api/resources/sync.py
Due: backend unit tests, backend system tests, backend format

CRDL-206 remvoe print
  server/api/resources/sync.py
Due: backend unit tests, backend system tests, backend format

CRDL-206 fixed format
  server/api/resources/sync.py
Due: backend unit tests, backend system tests, backend format

CRDL-208 added cho patient view
  server/api/resources/patients.py
  server/api/resources/referrals.py
  server/data/crud.py
  server/service/sqlStrings.py
  server/service/view.py
Due: backend unit tests, backend system tests, backend format

CRDL-208 udpated cho view
  server/api/resources/referrals.py
  server/api/resources/sync.py
  server/data/crud.py
  server/service/sqlStrings.py
  server/service/view.py
Due: backend unit tests, backend system tests, backend format

Update README with cradleplatform.com
  README.md
Due: none

CRDL-206 added few comments
  server/data/crud.py
  server/service/view.py
Due: backend unit tests, backend system tests, backend format

display village number in patient summary page
  client/src/pages/patient/summary/medicalInformation/basicInformation/index.tsx
Due: frontend build, frontend lint, frontend format

waiting for store household number to database
  client/src/pages/patient/summary/medicalInformation/basicInformation/index.tsx
Due: frontend build, frontend lint, frontend format

store houseHoldNumber to database
  client/src/pages/newReading/confirmationPage/index.tsx
  client/src/pages/newReading/demographic/hooks/index.tsx
  client/src/pages/newReading/demographic/index.tsx
  client/src/pages/newReading/demographic/validation/index.tsx
  client/src/pages/newReading/formatData/index.tsx
  client/src/pages/newReading/index.tsx
  client/src/pages/patient/summary/medicalInformation/basicInformation/index.tsx
  client/src/types/index.ts
Due: frontend build, frontend lint, frontend format

store houseHoldNumber to database
  client/src/pages/patient/summary/medicalInformation/basicInformation/index.tsx
  client/src/types/index.ts
Due: frontend build, frontend lint, frontend format

CRDL-206 udpated api name
  server/api/__init__.py
  server/api/resources/patients.py
  server/routes.py
Due: backend unit tests, backend system tests, backend format

CRDL-206 fixed cho and vht moblie/patients
  server/data/crud.py
  server/service/sqlStrings.py
  server/service/view.py
Due: backend unit tests, backend system tests, backend format

display village number in patient summary
  client/src/pages/patient/summary/medicalInformation/basicInformation/index.tsx
Due: frontend build, frontend lint, frontend format

CRDL-206 updated booleans
  server/data/crud.py
  server/service/serialize.py
Due: backend unit tests, backend system tests, backend format

CRDL-206 removed none valeus from json
  server/service/serialize.py
Due: backend unit tests, backend system tests, backend format

display household, zone, village number in patient summary page
  client/src/pages/patient/summary/medicalInformation/basicInformation/index.tsx
Due: frontend build, frontend lint, frontend format

display address in patient summary page
  client/src/pages/patient/summary/medicalInformation/basicInformation/index.tsx
Due: frontend build, frontend lint, frontend format

Add new patient button to patients table and remove exisitng button from the navigation
  client/src/app/routes/utils/index.tsx
  client/src/pages/newPatient/index.tsx
  client/src/pages/patients/index.tsx
Due: frontend build, frontend lint, frontend format

using a table to display address in patient summary page
  client/src/index.css
  client/src/pages/patient/summary/medicalInformation/basicInformation/index.tsx
Due: frontend build, frontend lint, frontend format

using a table to display address in patient summary page
  client/src/pages/patient/summary/medicalInformation/basicInformation/index.tsx
Due: frontend build, frontend lint, frontend format

serialize: change JSON field: urineTest -> urineTests
  server/service/serialize.py
Due: backend unit tests, backend system tests, backend format

UI for the new patient form
  client/src/pages/newPatient/index.tsx
Due: frontend build, frontend lint, frontend format

CRDL-201 updated dob and isExasct dob to be required
  server/validation/patients.py
Due: backend unit tests, backend system tests, backend format

CRDL-201 udpated validation
  server/validation/patients.py
Due: backend unit tests, backend system tests, backend format

CRDl-201 updated patiens
  server/manage.py
  server/validation/patients.py
Due: backend unit tests, backend system tests, backend format

CRDL-201 updated format
  server/manage.py
Due: backend unit tests, backend system tests, backend format

CRDL-201 updated test folder
  server/tests/validation/test_patients.py
Due: backend unit tests, backend system tests, backend format

CRDL-201 updated referral test
  server/tests/validation/test_referrals.py
Due: backend unit tests, backend system tests, backend format

CRDL-201 updated flow test
  server/systemTests/flow/conftest.py
Due: backend unit tests, backend system tests, backend format

CRDL-201 udpated test patient
  server/manage.py
  server/systemTests/api/test_patients.py
Due: backend unit tests, backend system tests, backend format

Fix logout button after removing the new patient + reading menu option
  client/src/app/index.tsx
Due: frontend build, frontend lint, frontend format

Use enums in new patient page rather than hardcoded strings
  client/src/pages/newPatient/index.tsx
Due: frontend build, frontend lint, frontend format

Updated the sync function to return the updated health facilities list.
  server/api/resources/sync.py
Due: backend unit tests, backend system tests, backend format

Move state logic for new patient form back into Redux
  client/src/pages/newPatient/index.tsx
  client/src/redux/reducers/index.ts
  client/src/redux/reducers/patient/actions.ts
  client/src/redux/reducers/patient/reducer.ts
  client/src/redux/reducers/patient/state.ts
  client/src/redux/reducers/patient/validation.ts
Due: frontend build, frontend lint, frontend format

add table style
  client/src/index.css
  client/src/pages/patient/summary/medicalInformation/basicInformation/index.tsx
Due: frontend build, frontend lint, frontend format

using two cards to display personal information and medical information
  client/src/pages/patient/summary/index.tsx
  client/src/pages/patient/summary/medicalInformation/basicInformation/index.tsx
  client/src/pages/patient/summary/personalInformation/basicInformation/index.tsx
  client/src/pages/patient/summary/personalInformation/index.tsx
  client/src/pages/patient/summary/personalInformation/styles/index.ts
  client/src/pages/patient/summary/readings/heart/index.tsx
  client/src/types/index.ts
Due: frontend build, frontend lint, frontend format

Path conditions:
  frontend build: any of: client/**/*
  backend unit tests: any of: server/**/*
  backend system tests: any of: server/**/*
  frontend lint: any of: client/**/*
  frontend format: any of: client/**/*
  backend format: any of: server/**/*
