Repository drbfraser/CRADLE-Platform: changes, and which GitLab CI jobs are due for each by the changed paths.
All: frontend build, backend unit tests, backend system tests, frontend lint, frontend format, backend format

frontend build:
  stage: build
  needs: []
  image: $NODE_IMAGE
  tags:
  - docker
  before_script:
  - cd client
  - npm install
  script:
  - CI=false npm run build
  after_script:
  - tar -czvf frontend.tar.gz client/build
  artifacts:
    expire_in: 1 week
    paths:
    - frontend.tar.gz

backend unit tests:
  stage: test
  needs: []
  image: $PYTHON_IMAGE
  tags:
  - docker
  before_script:
  - cd server
  - pip install --upgrade pip
  - pip install -r requirements.txt
  script:
  - python -m pytest --junitxml=report.xml tests
  artifacts:
    expire_in: 1 week
    when: always
    reports:
      junit: server/report.xml

backend system tests:
  stage: test
  needs: []
  image: $PYTHON_IMAGE
  tags:
  - docker
  variables:
    DB_USERNAME: root
    DB_PASSWORD: ci-password
    EMAIL_USER: ci@ci.com
    EMAIL_PASSWORD: ci-password
    DB_HOSTNAME: mysql
    DB_PORT: '3306'
    DB_NAME: cradle
    PORT: '5000'
    MYSQL_DATABASE: cradle
  ...

frontend lint:
  stage: format
  needs: []
  image: $NODE_IMAGE
  tags:
  - docker
  before_script:
  - cd client
  - npm install
  script:
  - ./node_modules/.bin/eslint "src/**/*.{ts,tsx}"

frontend format:
  stage: format
  needs: []
  image: $NODE_IMAGE
  tags:
  - docker
  before_script:
  - npm install prettier@^2.2.0 --global
  script:
  - prettier --check "client/src/**/*.{ts,tsx}"

backend format:
  stage: format
  needs: []
  image: $PYTHON_IMAGE
  tags:
  - docker
  before_script:
  - pip install --upgrade pip
  - pip install black
  script:
  - black --check --exclude 'server/migrations/.*' server

syle: changes one line of style for client/src/app/index.tsx
  client/src/app/index.tsx
Due: frontend build, frontend lint, frontend format

style: implements MR recommendations for topbar index file
  client/src/app/index.tsx
  client/src/app/topBar/index.tsx
Due: frontend build, frontend lint, frontend format

feat: make referrals table stack row cells
  client/src/pages/referrals/ReferralRow.tsx
  client/src/pages/referrals/index.tsx
  client/src/shared/components/apiTable/index.tsx
  client/tsconfig.json
Due: frontend build, frontend lint, frontend format

refactor: resize resources tab
  client/src/pages/resources/ResourceTabPage/index.tsx
Due: frontend build, frontend lint, frontend format

feat: make search bar and pagination responsive to window size
  client/src/pages/referrals/ReferralRow.tsx
  client/src/pages/referrals/index.tsx
  client/src/shared/components/apiTable/Pagination.tsx
  client/src/shared/components/apiTable/index.tsx
Due: frontend build, frontend lint, frontend format

feat: makes statistics tab more mobile friendly
  client/src/app/topBar/index.tsx
  client/src/pages/statistics/index.tsx
  client/src/pages/statistics/utils/statisticStyles.ts
Due: frontend build, frontend lint, frontend format

feat and refactor: make patients table transformable and extract TableCell component
  client/src/pages/patients/PatientRow.tsx
  client/src/pages/patients/index.tsx
  client/src/pages/referrals/ReferralRow.tsx
  client/src/pages/referrals/index.tsx
  client/src/shared/components/apiTable/Pagination.tsx
  client/src/shared/components/apiTable/TableCell.tsx
  client/src/shared/components/apiTable/index.tsx
  client/src/shared/components/apiTable/rowStyles.ts
Due: frontend build, frontend lint, frontend format

fix: add port linking with port inside container
  docker-compose.yml
Due: none

refactor: change tab pane style to match with stat page
  client/src/pages/resources/index.tsx
Due: frontend build, frontend lint, frontend format

feat: add support for sorting transformed tables
  client/src/pages/patients/PatientRow.tsx
  client/src/pages/referrals/ReferralRow.tsx
  client/src/shared/components/apiTable/Pagination.tsx
  client/src/shared/components/apiTable/SortBy.tsx
  client/src/shared/components/apiTable/TableCell.tsx
  client/src/shared/components/apiTable/index.tsx
  client/src/shared/components/trafficLight/styles.ts
Due: frontend build, frontend lint, frontend format

feat: resize users tab on admin page
  client/src/pages/admin/AdminTable.tsx
  client/src/pages/admin/adminStyles.ts
  client/src/pages/admin/index.tsx
  client/src/pages/admin/manageUsers/ManageUsers.tsx
  client/src/pages/resources/index.tsx
  client/src/shared/components/apiTable/TableCell.tsx
Due: frontend build, frontend lint, frontend format

refactor: resize health care facilities tab on admin page
  client/src/pages/admin/manageFacilities/ManageFacilities.tsx
Due: frontend build, frontend lint, frontend format

refactor: resize admin toolbar for some cases that they stick together
  client/src/pages/admin/AdminTable.tsx
  client/src/pages/admin/adminStyles.ts
  client/src/pages/admin/manageFacilities/ManageFacilities.tsx
  client/src/pages/admin/manageUsers/ManageUsers.tsx
Due: frontend build, frontend lint, frontend format

feat: add scroll-to-top button for transformed tables
  client/src/shared/components/apiTable/ScrollArrow.tsx
  client/src/shared/components/apiTable/SortBy.tsx
  client/src/shared/components/apiTable/TableCell.tsx
  client/src/shared/components/apiTable/index.tsx
Due: frontend build, frontend lint, frontend format

refactor: move and link constants shared by referrals and patients tables
  client/src/pages/patients/PatientRow.tsx
  client/src/pages/patients/constants.ts
  client/src/pages/patients/index.tsx
  client/src/pages/referrals/ReferralRow.tsx
  client/src/pages/referrals/constants.ts
  client/src/pages/referrals/index.tsx
  client/src/shared/components/apiTable/Pagination.tsx
  client/src/shared/components/apiTable/ScrollArrow.tsx
  client/src/shared/components/apiTable/SortBy.tsx
  client/src/shared/components/apiTable/TableCell.tsx
  client/src/shared/components/apiTable/index.tsx
  client/src/shared/components/apiTable/rowStyles.ts
  client/tsconfig.json
Due: frontend build, frontend lint, frontend format

refactor: remove isTransformed check when render table
  client/src/pages/admin/manageFacilities/ManageFacilities.tsx
  client/src/pages/admin/manageUsers/ManageUsers.tsx
  client/src/shared/components/apiTable/TableCell.tsx
Due: frontend build, frontend lint, frontend format

refactor: remove inner scroll bar on admin table
  client/src/pages/admin/AdminTable.tsx
Due: frontend build, frontend lint, frontend format

style: implements changes for statistics index file
  client/src/pages/statistics/index.tsx
Due: frontend build, frontend lint, frontend format

fix: change sort-by-arrow appearance
  client/src/shared/components/apiTable/HeaderRow.tsx
  client/src/shared/components/apiTable/SortBy.tsx
Due: frontend build, frontend lint, frontend format

feat: makes buttons to switch between graphs on patients page responsive
  client/src/pages/patient/PatientStats.tsx
Due: frontend build, frontend lint, frontend format

fix: fix login page shfit when error shows
  client/src/pages/login/form/index.tsx
  client/src/pages/login/form/styles.module.css
  client/src/pages/login/styles/index.ts
Due: frontend build, frontend lint, frontend format

feat: makes patient page and forms mobile friendly
  client/src/pages/assessmentForm/AssessmentForm.tsx
  client/src/pages/patient/PatientStats.tsx
  client/src/pages/patient/ReadingCard/ReadingCard.tsx
  client/src/pages/patientForm/PatientForm.tsx
  client/src/pages/readingForm/index.tsx
  client/src/pages/readingForm/vitalSigns/index.tsx
Due: frontend build, frontend lint, frontend format

style: fixes style for PatientForm.tsx
  client/src/pages/patientForm/PatientForm.tsx
Due: frontend build, frontend lint, frontend format

fix: fix prettier styles
  client/src/pages/patient/ReadingCard/ReadingCard.tsx
Due: frontend build, frontend lint, frontend format

feat: add PatientHistory db table
  server/models.py
Due: backend unit tests, backend system tests, backend format

test: add test data for pregnancy table to db seeding
  server/manage.py
Due: backend unit tests, backend system tests, backend format

refactor: move port linking to development docker file to avoid security issue
  docker-compose.override.yml
  docker-compose.yml
Due: none

feat: add db migration for PregnancyHistory
  server/config.py
  server/manage.py
  server/migrations/versions/b744b32f117e_.py
Due: backend unit tests, backend system tests, backend format

feat: add allergy field to Patient table
  server/models.py
  server/specifications/patient-info-get.yml
  server/specifications/single-patient-get.yml
Due: backend unit tests, backend system tests, backend format

feat: change api to match with new allergy field
  client/src/pages/patientForm/PatientForm.tsx
  client/src/pages/patientForm/handlers.ts
  client/src/pages/patientForm/state.ts
  server/specifications/patient-info-put.yml
  server/validation/patients.py
Due: frontend build, backend unit tests, backend system tests, frontend lint, frontend format, backend format

refactor: update patients-post specifications
  server/specifications/patients-post.yml
Due: backend unit tests, backend system tests, backend format

refactor: update comments and specification
  server/specifications/android-patients-get.yml
  server/systemTests/api/test_patients.py
  server/tests/validation/test_patients.py
  server/validation/patients.py
Due: backend unit tests, backend system tests, backend format

feat: add columns to PregnancyHistory table
  server/manage.py
  server/migrations/versions/dccc985a0357_.py
  server/models.py
Due: backend unit tests, backend system tests, backend format

fix: remove development code
  server/config.py
  server/manage.py
Due: backend unit tests, backend system tests, backend format

fix: remove test_get_mobile_patient
  server/models.py
  server/systemTests/api/test_patients.py
Due: backend unit tests, backend system tests, backend format

fix: reformat with new version formatter
  server/manage.py
  server/models.py
Due: backend unit tests, backend system tests, backend format

feat: add allergy field on personal info tab
  client/src/pages/patient/PersonalInfo.tsx
  client/src/shared/types.ts
  server/migrations/versions/5c7f69c30f5e_.py
Due: frontend build, backend unit tests, backend system tests, frontend lint, frontend format, backend format

fix: fix frontend format
  client/src/pages/patientForm/PatientForm.tsx
  client/src/pages/patientForm/handlers.ts
  client/src/pages/patientForm/state.ts
Due: frontend build, frontend lint, frontend format

fix: temporarily update patient system tests to pass
  server/systemTests/api/test_patients.py
Due: backend unit tests, backend system tests, backend format

Path conditions:
  frontend build: any of: client/**/*
  backend unit tests: any of: server/**/*
  backend system tests: any of: server/**/*
  frontend lint: any of: client/**/*
  frontend format: any of: client/**/*
  backend format: any of: server/**/*
