Repository drbfraser/CRADLE-Platform: changes, and which GitLab CI jobs are due for each by the changed paths.
All: frontend build, backend unit tests, backend system tests, frontend lint, frontend format, backend format

Path conditions:
  frontend build: any of: client/**/*
  backend unit tests: any of: server/**/*
  backend system tests: any of: server/**/*
  frontend lint: any of: client/**/*
  frontend format: any of: client/**/*
  backend format: any of: server/**/*

fix pipeline
  client/src/pages/patient/Cards/AssessmentData.tsx
  client/src/pages/patient/index.tsx
Due: frontend build, frontend lint, frontend format

remove commentted code
  client/src/app/routes/utils/index.tsx
Due: frontend build, frontend lint, frontend format

remove commentted code
  client/src/pages/patient/index.tsx
  client/src/pages/patients/types.ts
  client/src/pages/referralForm/index.tsx
Due: frontend build, frontend lint, frontend format

Commit package-lock.json
  client/package-lock.json
Due: frontend build, frontend lint, frontend format

Resolve package-lock.json merge conflict
  client/package-lock.json
Due: frontend build, frontend lint, frontend format

Remove assessment from reading confirmation page
  client/src/pages/readingForm/confirmation/index.tsx
Due: frontend build, frontend lint, frontend format

Remove commented lines
  client/src/pages/readingForm/index.tsx
Due: frontend build, frontend lint, frontend format

Run 'npm run format' for MR
  client/src/pages/readingForm/handlers.ts
Due: frontend build, frontend lint, frontend format

Display simple warning. Currently, warning always appears.
  client/package-lock.json
  client/src/pages/assessmentForm/AssessmentForm.tsx
Due: frontend build, frontend lint, frontend format

Update column titles in Patients and Referrals to distinguish difference.
  client/src/pages/patients/constants.ts
  client/src/pages/referrals/constants.ts
Due: frontend build, frontend lint, frontend format

Replace hourglass with Show only for card filter.
  client/src/pages/patient/index.tsx
Due: frontend build, frontend lint, frontend format

Add check for referralId before displaying warning. Style text.
  client/src/pages/assessmentForm/AssessmentForm.tsx
Due: frontend build, frontend lint, frontend format

Get referrals for patient.
  client/src/pages/assessmentForm/AssessmentForm.tsx
Due: frontend build, frontend lint, frontend format

Check if the patient has a pending referral and display warning if so.
  client/src/pages/assessmentForm/AssessmentForm.tsx
Due: frontend build, frontend lint, frontend format

Add at least one field required validation to assessment form.
  client/src/pages/assessmentForm/AssessmentForm.tsx
  client/src/pages/assessmentForm/validation.ts
Due: frontend build, frontend lint, frontend format

Remove assessment code from readingForm as it is no longer displayed.
  client/src/pages/readingForm/assessment/index.tsx
Due: frontend build, frontend lint, frontend format

Require gender when creating a new user.
  client/src/pages/patientForm/personalInfo/index.tsx
Due: frontend build, frontend lint, frontend format

npm run format for MR
  client/src/pages/assessmentForm/AssessmentForm.tsx
  client/src/pages/assessmentForm/validation.ts
  client/src/pages/patient/index.tsx
Due: frontend build, frontend lint, frontend format

Adjust error message text on New Assessment page.
  client/src/pages/assessmentForm/validation.ts
Due: frontend build, frontend lint, frontend format

feat: db referral remove date assessed cancelled notAttended, add lastEdited
  server/migrations/versions/227cf4f3fa93_referral_remove_date_of_assessed_.py
  server/models.py
Due: backend unit tests, backend system tests, backend format

Check if there is a pending referral once on page startup.
  client/src/pages/patient/index.tsx
Due: frontend build, frontend lint, frontend format

Display warning when user presses Perform Assessment with Pending Referral.
  client/src/pages/patient/Header.tsx
  client/src/pages/patient/index.tsx
Due: frontend build, frontend lint, frontend format

fix: referral assess, cancel add base logic
  server/api/resources/referrals.py
  server/validation/referrals.py
Due: backend unit tests, backend system tests, backend format

Prevent input with only whitespace characters from passing validation
  client/src/pages/assessmentForm/validation.ts
Due: frontend build, frontend lint, frontend format

fix: remove base impl for referral, fix not attend reason not update
  server/api/resources/referrals.py
  server/validation/referrals.py
Due: backend unit tests, backend system tests, backend format

Remove check for pending referral from assessment form.
  client/src/pages/assessmentForm/AssessmentForm.tsx
  client/src/pages/assessmentForm/validation.ts
Due: frontend build, frontend lint, frontend format

Display warning above assessment form when user tries to submit empty form.
  client/src/pages/assessmentForm/AssessmentForm.tsx
Due: frontend build, frontend lint, frontend format

Run npm format
  client/src/pages/assessmentForm/AssessmentForm.tsx
  client/src/pages/assessmentForm/validation.ts
  client/src/pages/patient/Header.tsx
  client/src/pages/patient/index.tsx
Due: frontend build, frontend lint, frontend format

Run npm format
  client/src/pages/assessmentForm/AssessmentForm.tsx
  client/src/pages/assessmentForm/validation.ts
Due: frontend build, frontend lint, frontend format

feat: backend impl anroid get referrals, assessments
  server/api/resources/patients_android.py
  server/api/resources/referrals.py
  server/data/crud.py
  server/routes.py
  server/service/serialize.py
  server/service/view.py
  server/specifications/android-assessments-get.yml
  server/specifications/android-readings-get.yml
  server/specifications/android-referrals-get.yml
  server/specifications/referrals-assess-update-put.yml
  server/specifications/referrals-cancel-update-put.yml
  server/specifications/referrals-not-attend-update-put.yml
  server/specifications/referrals-post.yml
  server/specifications/single-referral-get.yml
Due: backend unit tests, backend system tests, backend format

Disable useEffect warning for empty dependency array.
  client/.eslintrc.json
  client/src/pages/patient/index.tsx
Due: frontend build, frontend lint, frontend format

Error only appears on submit. Disappears when submit successfully.
  client/src/pages/assessmentForm/AssessmentForm.tsx
Due: frontend build, frontend lint, frontend format

a smaller 'alert' UI widget
  client/src/pages/assessmentForm/AssessmentForm.tsx
Due: frontend build, frontend lint, frontend format

Change variable validationError to displayEmptyFormError.
  client/src/pages/assessmentForm/AssessmentForm.tsx
Due: frontend build, frontend lint, frontend format

Ran npm run format
  client/package-lock.json
Due: frontend build, frontend lint, frontend format

Remove dead code, change warning text.
  client/src/pages/assessmentForm/AssessmentForm.tsx
  client/src/pages/patient/index.tsx
Due: frontend build, frontend lint, frontend format

style: backend format code
  server/api/resources/patients_android.py
  server/api/resources/referrals.py
  server/data/crud.py
  server/migrations/versions/227cf4f3fa93_referral_remove_date_of_assessed_.py
  server/service/serialize.py
  server/validation/referrals.py
Due: backend unit tests, backend system tests, backend format

Rename assessmentUpdate endpoint and remove readingId logic
  client/package-lock.json
  client/src/pages/assessmentForm/handlers.ts
  client/src/shared/enums.ts
  server/api/__init__.py
  server/api/resources/assessments.py
  server/routes.py
  server/specifications/single-assessment-put.yml
Due: frontend build, backend unit tests, backend system tests, frontend lint, frontend format, backend format

Fix spacing
  server/api/resources/assessments.py
Due: backend unit tests, backend system tests, backend format

Run black code formatter
  server/api/resources/assessments.py
  server/routes.py
Due: backend unit tests, backend system tests, backend format
