Repository drbfraser/CRADLE-Platform: changes, and which GitLab CI jobs are due for each by the changed paths.
All: frontend build, backend unit tests, backend system tests, backend format

.gitlab-ci.yml:

stages:
  - build
  - test
  - format
  - deploy

frontend build:
  stage: build
  image: node:10
  tags:
    - docker
  only:
    refs:
      - merge_requests
      - master
    changes:
      - client/**/*
  before_script:
    - cd client
    - npm install
  script:
    - CI=false yarn build

backend unit tests:
  stage: test
  image: python:3.7.6-buster
  tags:
    - docker
  only:
    refs:
      - merge_requests
      - master
    changes:
      - server/**/*
  before_script:
    - cd server
    - pip install --upgrade pip
    - pip install -r requirements.txt
  script:
    - python -m pytest Tests

backend system tests:
  stage: test
  image: python:3.7.6-buster
  tags:
    - docker
  only:
    refs:
      - merge_requests
      - master
    changes:
      - server/**/*
  variables:
    # Cradle Server Variables
    DB_USERNAME: "root"
    DB_PASSWORD: "ci-password"
    EMAIL_USER: "ci@ci.com"
    EMAIL_PASSWORD: "ci-password"
    DB_HOSTNAME: "mysql"
    DB_PORT: "3306"
    DB_NAME: "cradle"
    PORT: "5000"
    # MySQL Variables
    MYSQL_DATABASE: "cradle"
    MYSQL_ROOT_PASSWORD: "ci-password"
  services:
    - mysql:5.7
  before_script:
    # Add mysql client so we can execute queries on the database
    - apt-get update -y
    - apt-get install default-mysql-client -y
    - cd server
    - pip install --upgrade pip
    - pip install -r requirements.txt
    # Spin up a server instance in the background
    # Run this first so that the server can warm up whilst we seed the db
    - python3 app.py &
    # Build and seed database
    - python3 db.py rebuild --no-docker
    - python3 manage.py seed_test_data
  script:
    - python -m pytest SystemTests

backend format:
  stage: format
  image: python:3.7.6-buster
  tags:
    - docker
  allow_failure: true
  only:
    refs:
      - merge_requests
      - master
    changes:
      - server/**/*
  before_script:
    - pip install --upgrade pip
    - pip install black
  script:
    - black --check --exclude 'server/migrations/.*' server 

deploy staging:
  stage: deploy
  tags:
    - shell
  only:
    refs:
      - master
      - staging
  script:
    - source /var/cradle/staging.env
    - ./scripts/deploy.sh

#temp160 fix admin page
  client/src/newStructure/pages/admin/index.tsx
  client/src/newStructure/shared/reducers/user/allUsers/index.ts
Due: frontend build

#temp160 fixe admin page reducer
  client/src/newStructure/shared/reducers/user/allUsers/index.ts
Due: frontend build

#temp160 fixed formatted
  client/src/newStructure/pages/admin/index.tsx
Due: frontend build

#temp160 updated reduce Co-Authored-By: Waswa <wolunga@sfu.ca>
  client/src/newStructure/shared/reducers/user/allUsers/index.ts
Due: frontend build

#temp160 fixed sign up confimr message styling and logic
  client/src/newStructure/pages/signUp/index.css
  client/src/newStructure/pages/signUp/index.tsx
Due: frontend build

Fixed video session page
  client/src/newStructure/pages/videoSession/chat/index.tsx
  client/src/newStructure/pages/videoSession/chat/styles.module.css
  client/src/newStructure/pages/videoSession/index.tsx
  client/src/newStructure/pages/videoSession/styles.module.css
Due: frontend build

Updated App component
  client/src/newStructure/app/index.tsx
Due: frontend build

#temp160 fixed navigation hover
  client/src/newStructure/app/index.jsx
  client/src/newStructure/app/toolbar/utils/index.ts
Due: frontend build

Updated reducers to typescript
  client/src/newStructure/pages/admin/index.tsx
  client/src/newStructure/pages/signUp/index.tsx
  client/src/newStructure/redux/rootReducer/index.ts
  client/src/newStructure/shared/reducers/healthFacilities/index.js
  client/src/newStructure/shared/reducers/healthFacilities/index.ts
  client/src/newStructure/shared/reducers/newReadingPost/index.jsx
  client/src/newStructure/shared/reducers/newReadingPost/index.ts
  client/src/newStructure/shared/reducers/referrals/index.ts
Due: frontend build

#temp160 fixed typing
  client/src/newStructure/app/toolbar/utils/index.ts
Due: frontend build

#temp160 pathname typing
  client/src/newStructure/app/index.tsx
  client/src/newStructure/redux/rootReducer/index.ts
Due: frontend build

Started work on global search feature
  client/src/newStructure/pages/patients/index.tsx
  client/src/newStructure/pages/patients/patientTable/hooks/actions/index.tsx
  client/src/newStructure/pages/patients/patientTable/index.tsx
Due: frontend build

Added implementation for patient query search
  server/Controller/PatientsController.py
  server/Manager/FilterHelper.py
  server/Manager/PatientManagerNew.py
Due: backend unit tests, backend system tests, backend format

New Dev Script
  cradle.py
Due: none

Add tests that test methods in ReferralValidator
  server/Tests/test_referral_validator.py
Due: backend unit tests, backend system tests, backend format

Move to SystemTests folder due to relying on database configuration
  server/SystemTests/test_referral_validator.py
Due: backend unit tests, backend system tests, backend format

Updated endpoint
  server/Manager/FilterHelper.py
  server/Manager/PatientManagerNew.py
Due: backend unit tests, backend system tests, backend format

Updated server route and frontend call
  client/package-lock.json
  client/package.json
  client/src/newStructure/pages/patients/index.tsx
  client/src/newStructure/pages/patients/patientTable/hooks/actions/index.tsx
  client/src/newStructure/pages/patients/patientTable/hooks/data/index.ts
  client/src/newStructure/pages/patients/patientTable/index.tsx
  client/src/newStructure/shared/reducers/patients/index.ts
  client/src/newStructure/shared/reducers/patientsV2/index.ts
  server/routes.py
Due: frontend build, backend unit tests, backend system tests, backend format

Added comments for key code
  client/src/newStructure/pages/patients/patientTable/hooks/data/index.ts
  client/src/newStructure/pages/patients/patientTable/index.tsx
Due: frontend build

Added debounce wait time to 1250ms
  client/src/newStructure/pages/patients/patientTable/hooks/data/index.ts
Due: frontend build

#154-frontend-formatting darawer format
  client/src/newStructure/app/drawer/index.tsx
Due: frontend build

#154-frontend-formatting format
  client/src/newStructure/app/index.tsx
  client/src/newStructure/app/privateRoute/index.tsx
  client/src/newStructure/app/styles.module.css
  client/src/newStructure/app/styles/index.ts
  client/src/newStructure/app/toolbar/index.tsx
  client/src/newStructure/enums/index.ts
  client/src/newStructure/modules/RTCMultiConnection.js
  client/src/newStructure/pages/help/ResourceTabPage/index.tsx
Due: frontend build

#154-frontend-formatting format
  client/src/newStructure/pages/help/index.tsx
  client/src/newStructure/pages/login/index.tsx
  client/src/newStructure/pages/login/styles.module.css
  client/src/newStructure/pages/newReading/index.tsx
  client/src/newStructure/pages/newReading/patientInfoForm/index.tsx
  client/src/newStructure/pages/newReading/urineTestForm/index.tsx
  client/src/newStructure/pages/notFound/index.tsx
  client/src/newStructure/pages/notFound/styles.module.css
  client/src/newStructure/pages/patients/index.tsx
  client/src/newStructure/pages/patients/patientTable/index.tsx
  client/src/newStructure/pages/patients/patientTable/utils/index.tsx
  client/src/newStructure/pages/patients/patientTable/utils/styles.module.css
  client/src/newStructure/pages/referrals/index.tsx
  client/src/newStructure/pages/referrals/referralTable/index.tsx
Due: frontend build

#154-frontend-formatting fromat
  client/src/newStructure/pages/signUp/index.css
  client/src/newStructure/pages/statistics/allAssessedWomen/index.tsx
  client/src/newStructure/pages/statistics/allAssessedWomen/utils/index.ts
  client/src/newStructure/pages/statistics/global/index.tsx
  client/src/newStructure/pages/statistics/global/utils/index.ts
  client/src/newStructure/pages/statistics/healthFacility/index.tsx
  client/src/newStructure/pages/statistics/index.css
  client/src/newStructure/pages/statistics/index.tsx
  client/src/newStructure/pages/statistics/lastMonthTrafficLights/index.tsx
  client/src/newStructure/pages/statistics/lastMonthTrafficLights/styles.module.css
  client/src/newStructure/pages/statistics/styles.module.css
  client/src/newStructure/pages/statistics/utils/index.ts
  client/src/newStructure/pages/videoChat/customForm/index.tsx
  client/src/newStructure/pages/videoChat/customForm/styles.module.css
  client/src/newStructure/pages/videoChat/index.tsx
  client/src/newStructure/pages/videoChat/reducers/chat/index.ts
  client/src/newStructure/pages/videoChat/styles.module.css
  client/src/newStructure/pages/videoSession/chat/history/index.tsx
  client/src/newStructure/pages/videoSession/chat/history/styles.module.css
  client/src/newStructure/pages/videoSession/chat/index.tsx
  client/src/newStructure/pages/videoSession/chat/styles.module.css
  client/src/newStructure/pages/videoSession/hooks/index.tsx
  client/src/newStructure/pages/videoSession/hooks/utils/index.ts
  client/src/newStructure/pages/videoSession/index.tsx
  client/src/newStructure/pages/videoSession/styles.module.css
  client/src/newStructure/redux/middleware/request/index.ts
  client/src/newStructure/redux/store/index.ts
Due: frontend build

#154-frontend-formatting formatted new structure
  client/src/newStructure/shared/components/form/patient/index.tsx
  client/src/newStructure/shared/components/form/symptom/index.tsx
  client/src/newStructure/shared/components/form/urineTest/index.tsx
  client/src/newStructure/shared/components/patientSummary/container/index.tsx
  client/src/newStructure/shared/components/patientSummary/index.tsx
  client/src/newStructure/shared/components/patientSummary/referralInfo/followup/info/index.tsx
  client/src/newStructure/shared/components/patientSummary/referralInfo/followup/modal/index.tsx
  client/src/newStructure/shared/components/patientSummary/referralInfo/followup/utils/index.ts
  client/src/newStructure/shared/components/patientSummary/referralInfo/index.tsx
  client/src/newStructure/shared/components/patientSummary/utils/index.tsx
  client/src/newStructure/shared/reducers/healthFacilities/index.ts
  client/src/newStructure/shared/reducers/newReadingStatus/index.ts
  client/src/newStructure/shared/reducers/patient/index.ts
  client/src/newStructure/shared/reducers/patientStatistics/index.ts
  client/src/newStructure/shared/reducers/patients/index.ts
  client/src/newStructure/shared/reducers/patientsV2/index.ts
  client/src/newStructure/shared/reducers/referrals/index.ts
  client/src/newStructure/shared/reducers/statistics/index.ts
  client/src/newStructure/shared/reducers/user/allUsers/index.ts
  client/src/newStructure/shared/reducers/user/allVhts/index.ts
  client/src/newStructure/shared/reducers/user/currentUser/index.ts
  client/src/newStructure/shared/reducers/user/index.ts
  client/src/newStructure/shared/reducers/utils/index.ts
  client/src/newStructure/shared/utils/styles.module.css
  client/src/newStructure/types/index.ts
Due: frontend build

Make cradle.py Executable
  cradle.py
Due: none

Add More Documentation to cradle.py
  cradle.py
Due: none

Updated showing add button in global search feature
  client/src/newStructure/pages/patients/index.tsx
  client/src/newStructure/pages/patients/patientTable/hooks/actions/index.tsx
  client/src/newStructure/pages/patients/patientTable/index.tsx
  client/src/newStructure/shared/reducers/patients/index.ts
  client/src/newStructure/shared/reducers/patientsV2/index.ts
Due: frontend build

adding API to add patient facility relationship
  server/Controller/PatientsController.py
  server/routes.py
Due: backend unit tests, backend system tests, backend format

added unique constraints for patient facility relationships
  server/Manager/PatientFacilityManager.py
  server/migrations/versions/5df0e66fee22_.py
  server/models.py
Due: backend unit tests, backend system tests, backend format

Added remove icon to patient table
  client/src/newStructure/pages/patients/patientTable/hooks/actions/index.tsx
  server/models.py
Due: frontend build, backend unit tests, backend system tests, backend format

Update build command
  cradle.py
Due: none

Fix Issues With --delete-volume Flag
  cradle.py
  docker-compose.yml
Due: none

Update cradle.py
  cradle.py
Due: none

Add Link To JIRA In README
  README.md
Due: none

Separated global search from local search
  client/package-lock.json
  client/package.json
  client/src/newStructure/pages/patients/index.tsx
  client/src/newStructure/pages/patients/patientTable/hooks/actions/index.tsx
  client/src/newStructure/pages/patients/patientTable/hooks/actions/styles/index.ts
  client/src/newStructure/pages/patients/patientTable/hooks/data/index.ts
  client/src/newStructure/pages/patients/patientTable/index.tsx
  client/src/newStructure/pages/patients/patientTable/utils/index.tsx
  client/src/newStructure/shared/reducers/patients/index.ts
  client/src/newStructure/shared/reducers/patientsV2/index.ts
  client/src/newStructure/types/index.ts
Due: frontend build

Added state column
  client/src/newStructure/enums/index.ts
  client/src/newStructure/pages/patients/index.tsx
  client/src/newStructure/pages/patients/patientTable/hooks/data/index.ts
  client/src/newStructure/pages/patients/patientTable/index.tsx
  client/src/newStructure/pages/patients/patientTable/utils/index.tsx
  client/src/newStructure/shared/reducers/patients/index.ts
  client/src/newStructure/shared/reducers/patientsV2/index.ts
  client/src/newStructure/types/index.ts
Due: frontend build

Worked on improving data search
  client/src/newStructure/pages/patients/patientTable/utils/index.tsx
  client/src/newStructure/types/index.ts
  server/Controller/PatientsController.py
  server/Manager/FilterHelper.py
  server/Manager/PatientManagerNew.py
Due: frontend build, backend unit tests, backend system tests, backend format

Updated backend endpoint to work as expected
  server/Manager/FilterHelper.py
  server/Manager/GlobalSearchHelper.py
  server/Manager/PatientManagerNew.py
Due: backend unit tests, backend system tests, backend format

Started implementation of adding a patient
  client/src/newStructure/enums/index.ts
  client/src/newStructure/pages/patients/index.tsx
  client/src/newStructure/pages/patients/patientTable/index.tsx
  client/src/newStructure/pages/patients/patientTable/utils/index.tsx
  client/src/newStructure/shared/reducers/patients/index.ts
  client/src/newStructure/shared/reducers/patientsV2/index.ts
  client/src/newStructure/types/index.ts
Due: frontend build
