Repository drbfraser/CRADLE-Platform: changes, and which GitLab CI jobs are due for each by the changed paths.
All: frontend build, backend unit tests, backend system tests, frontend lint, frontend format, backend format

frontend build:
  stage: build
  image: node:10
  tags:
  - docker
  before_script:
  - cd client
  - npm install
  script:
  - CI=false npm run build
  after_script:
  - tar -czvf frontend.tar.gz client/build
  artifacts:
    paths:
    - frontend.tar.gz

backend unit tests:
  stage: test
  image: python:3.7.6-buster
  tags:
  - docker
  before_script:
  - cd server
  - pip install --upgrade pip
  - pip install -r requirements.txt
  script:
  - python -m pytest tests

backend system tests:
  stage: test
  image: python:3.7.6-buster
  tags:
  - docker
  variables:
    DB_USERNAME: root
    DB_PASSWORD: ci-password
    EMAIL_USER: ci@ci.com
    EMAIL_PASSWORD: ci-password
    DB_HOSTNAME: mysql
    DB_PORT: '3306'
    DB_NAME: cradle
    PORT: '5000'
    MYSQL_DATABASE: cradle
    MYSQL_ROOT_PASSWORD: ci-password
  ...

frontend lint:
  stage: format
  image: node:10
  tags:
  - docker
  before_script:
  - cd client
  - npm install
  script:
  - ./node_modules/.bin/eslint "src/**/*.{ts,tsx}"

frontend format:
  stage: format
  image: node:10
  tags:
  - docker
  before_script:
  - npm install prettier --global
  script:
  - prettier --check "client/src/**/*.{ts,tsx}"

backend format:
  stage: format
  image: python:3.7.6-buster
  tags:
  - docker
  before_script:
  - pip install --upgrade pip
  - pip install black
  script:
  - black --check --exclude 'server/migrations/.*' server

search tests got updated
  server/systemTests/test_search.py
Due: backend unit tests, backend system tests, backend format

Global search tests have been removed.
  server/systemTests/test_search.py
Due: backend unit tests, backend system tests, backend format

update dispatch
  client/src/pages/admin/adminTable/toolbar/createUser/index.tsx
Due: frontend build, frontend lint, frontend format

fix format
  client/src/pages/admin/adminTable/toolbar/createUser/index.tsx
Due: frontend build, frontend lint, frontend format

Since Android is using the global search endpoint, the patient controller has been restored
  server/controller/PatientsController.py
  server/routes.py
  server/systemTests/test_search.py
Due: backend unit tests, backend system tests, backend format

Updated description on patientAssociations-post.yml
  server/specifications/patientAssociations-post.yml
Due: backend unit tests, backend system tests, backend format

Cleanup docs for initial dev setup
  docs/dev_env_setup.md
  docs/env_variables_doc.md
  docs/legacy_deployment_guide.md
Due: none

Update setup documentation
  docs/env_variables_doc.md
  docs/legacy_deployment_guide.md
  docs/manual_dev_environment_setup.md
Due: none

Add ability to develop locally on separate machines
  client/src/server/utils/index.ts
Due: frontend build, frontend lint, frontend format

Show symptoms on confirmation page and remove COVID-19 related fields from reading UI
  client/src/pages/newReading/assessment/index.tsx
  client/src/pages/newReading/confirmation/index.tsx
  client/src/pages/newReading/index.tsx
  client/src/pages/newReading/state.ts
  client/src/pages/newReading/symptoms/index.tsx
  client/src/pages/newReading/symptoms/symptoms.ts
  client/src/pages/newReading/vitalSigns/index.tsx
  client/src/pages/newReading/vitalSigns/validation.ts
Due: frontend build, frontend lint, frontend format

Add ability to submit new reading form
  client/src/app/routes/utils/index.tsx
  client/src/pages/newReading/handlers.ts
  client/src/pages/newReading/index.tsx
  client/src/pages/patient/summary/index.tsx
Due: frontend build, frontend lint, frontend format

Fix crashing issue when no other symptoms are entered and send proper user ID
  client/src/pages/newReading/handlers.ts
  client/src/pages/newReading/index.tsx
  client/src/pages/newReading/symptoms/symptoms.ts
Due: frontend build, frontend lint, frontend format

Fix comma spacing issue in patient reading cards
  client/src/pages/patient/summary/readings/symptoms/index.tsx
Due: frontend build, frontend lint, frontend format

refactoring patients stats
  server/manager/PatientStatsManager.py
Due: backend unit tests, backend system tests, backend format

Refactored patient stats
  server/service/statsCalculation.py
Due: backend unit tests, backend system tests, backend format

Creating boilerplate for new stats backend
  server/api/resources/stats.py
Due: backend unit tests, backend system tests, backend format

refactoring stats Manager traffic light
  server/manager/StatsManager.py
Due: backend unit tests, backend system tests, backend format

adding yml files for swagger
  server/specifications/stats-color-readings-get.yml
  server/specifications/stats-sent-referrals-get.yml
  server/specifications/stats-time-framed-readings-get.yml
  server/specifications/stats-total-readings-get.yml
  server/specifications/stats-unique-patients-get.yml
Due: backend unit tests, backend system tests, backend format

Clean up new reading code
  client/src/pages/newReading/handlers.ts
  client/src/pages/newReading/symptoms/index.tsx
Due: frontend build, frontend lint, frontend format

Remove pre-commit hooks
  client/package-lock.json
  client/package.json
Due: frontend build, frontend lint, frontend format

Update NPM packages
  .gitignore
  client/.eslintrc.json
  client/now.json
  client/package-lock.json
  client/package.json
  client/tsconfig.json
Due: frontend build, frontend lint, frontend format

Update CI and Docker image versions
  .gitlab-ci.yml
  server/Dockerfile
Due: backend unit tests, backend system tests, backend format

Fix video chat
  client/package-lock.json
  client/package.json
  client/src/pages/videoSession/index.tsx
Due: frontend build, frontend lint, frontend format

Disable video chat
  client/package-lock.json
  client/package.json
  client/public/index.html
  client/src/app/routes/utils/index.tsx
  client/src/pages/videoChat/README.md
  client/src/pages/videoChat/index.tsx
  client/src/pages/videoChat/index.tsx.rm
  client/src/pages/videoSession/hooks/index.tsx.rm
  client/src/pages/videoSession/hooks/utils/index.ts
  client/src/pages/videoSession/index.tsx.rm
Due: frontend build, frontend lint, frontend format

Reading / patient small UI improvements
  client/src/pages/newReading/symptoms/index.tsx
  client/src/pages/patient/summary/readings/symptoms/index.tsx
Due: frontend build, frontend lint, frontend format

removed the undesirable fields returned from the edit user controller
  server/controller/UsersController.py
Due: backend unit tests, backend system tests, backend format

pre-merge commit
  server/api/resources/stats.py
  server/routes.py
  server/specifications/stats-referred-patients-get.yml
Due: backend unit tests, backend system tests, backend format

Fix issue where gestational age unit is required even if patient is not pregnant
  client/src/pages/editPatient/PatientForm.tsx
Due: frontend build, frontend lint, frontend format

Applied black to the relevant files
  server/controller/UsersController.py
Due: backend unit tests, backend system tests, backend format

Implementing desired changes from code review
  server/controller/UsersController.py
Due: backend unit tests, backend system tests, backend format

created unique readings query
  server/api/resources/stats.py
  server/data/crud.py
  server/routes.py
Due: backend unit tests, backend system tests, backend format

Updated YAML file for endpoint change
  server/specifications/user-edit.yml
Due: backend unit tests, backend system tests, backend format

Basic structure for new assessment flow
  client/src/app/routes/utils/index.tsx
  client/src/pages/newAssessment/assessment/index.tsx
  client/src/pages/newAssessment/confirmation/index.tsx
  client/src/pages/newAssessment/handlers.ts
  client/src/pages/newAssessment/index.tsx
  client/src/pages/newAssessment/state.ts
  client/src/pages/newPatient/PatientForm.tsx
  client/src/pages/newPatient/PatientIDExists.tsx
  client/src/pages/newPatient/handlers.ts
  client/src/pages/newPatient/index.tsx
  client/src/pages/newPatient/state.ts
  client/src/pages/newPatient/validation.ts
  client/src/pages/newReading/confirmation/index.tsx
  client/src/pages/notFound/index.tsx
  client/src/pages/patient/summary/readings/referralInfo/index.tsx
  client/src/redux/reducers/patients/index.ts
Due: frontend build, frontend lint, frontend format

Remove obselete code from old reading flow
  client/src/pages/newReadingObselete/alertDialog/index.tsx
  client/src/pages/newReadingObselete/assessment/hooks/index.tsx
  client/src/pages/newReadingObselete/assessment/index.tsx
  client/src/pages/newReadingObselete/confirmationPage/index.tsx
  client/src/pages/newReadingObselete/demographic/hooks/index.tsx
  client/src/pages/newReadingObselete/demographic/index.tsx
  client/src/pages/newReadingObselete/demographic/validation/index.tsx
  client/src/pages/newReadingObselete/formatData/index.tsx
  client/src/pages/newReadingObselete/index.tsx
  client/src/pages/newReadingObselete/patientInfoForm/index.tsx
  client/src/pages/newReadingObselete/styles/index.ts
  client/src/pages/newReadingObselete/submissionDialog/index.tsx
  client/src/pages/newReadingObselete/symptoms/hooks/index.tsx
  client/src/pages/newReadingObselete/symptoms/index.tsx
  client/src/pages/newReadingObselete/urineTestAssessment/hooks/index.tsx
  client/src/pages/newReadingObselete/urineTestAssessment/index.tsx
  client/src/pages/newReadingObselete/vitalSignAssessment/hooks/index.tsx
  client/src/pages/newReadingObselete/vitalSignAssessment/index.tsx
Due: frontend build, frontend lint, frontend format

Effectively removes the ability to add in COVID info for readings
  server/api/resources/readings.py
  server/models.py
  server/validation/readings.py
Due: backend unit tests, backend system tests, backend format

total readings query
  requirements.txt
  server/api/resources/stats.py
  server/data/crud.py
Due: backend unit tests, backend system tests, backend format

added total readings endpoint
  server/api/resources/stats.py
  server/routes.py
Due: backend unit tests, backend system tests, backend format

traffic light query
  docker-compose.override.yml
  server/api/resources/stats.py
  server/data/crud.py
  server/routes.py
Due: backend unit tests, backend system tests, backend format

referral queries
  server/api/resources/stats.py
  server/data/crud.py
  server/routes.py
Due: backend unit tests, backend system tests, backend format

updating the docs for the new api
  docker-compose.override.yml
  server/api/resources/stats.py
  server/routes.py
  server/specifications/stats-color-readings-get.yml
  server/specifications/stats-referred-patients-get.yml
  server/specifications/stats-sent-referrals-get.yml
  server/specifications/stats-time-framed-readings-get.yml
  server/specifications/stats-total-readings-get.yml
  server/specifications/stats-unique-patients-get.yml
Due: backend unit tests, backend system tests, backend format

Path conditions:
  frontend build: any of: client/**/*
  backend unit tests: any of: server/**/*
  backend system tests: any of: server/**/*
  frontend lint: any of: client/**/*
  frontend format: any of: client/**/*
  backend format: any of: server/**/*
