Repository drbfraser/CRADLE-Platform: changes, and which GitLab CI jobs are due for each by the changed paths.
All: frontend build, backend unit tests, backend system tests, frontend lint, frontend format, backend format

.gitlab-ci.yml:

stages:
  - build
  - test
  - format
  - deploy
  - build-prod
  - deploy-prod

variables:
  STAGING_BRANCH: "master"
  PROD_BRANCH: "prod"

frontend build:
  stage: build
  image: node:10
  tags:
    - docker
  rules:
    - if: '$CI_MERGE_REQUEST_ID != null || $CI_COMMIT_BRANCH == $STAGING_BRANCH'
    - changes:
      - client/**/*
  before_script:
    - cd client
    - npm install
  script:
    - CI=false npm run build

backend unit tests:
  stage: test
  image: python:3.7.6-buster
  tags:
    - docker
  rules:
    - if: '$CI_MERGE_REQUEST_ID != null || $CI_COMMIT_BRANCH == $STAGING_BRANCH'
    - changes:
      - server/**/*
  before_script:
    - cd server
    - pip install --upgrade pip
    - pip install -r requirements.txt
  script:
    - python -m pytest Tests

backend system tests:
  stage: test
  image: python:3.7.6-buster
  tags:
    - docker
  rules:
    - if: '$CI_MERGE_REQUEST_ID != null || $CI_COMMIT_BRANCH == $STAGING_BRANCH'
    - changes:
      - server/**/*
  variables:
    # Cradle Server Variables
    DB_USERNAME: "root"
    DB_PASSWORD: "ci-password"
    EMAIL_USER: "ci@ci.com"
    EMAIL_PASSWORD: "ci-password"
    DB_HOSTNAME: "mysql"
    DB_PORT: "3306"
    DB_NAME: "cradle"
    PORT: "5000"
    # MySQL Variables
    MYSQL_DATABASE: "cradle"
    MYSQL_ROOT_PASSWORD: "ci-password"
  services:
    - mysql:5.7
  before_script:
    # Add mysql client so we can execute queries on the database
    - apt-get update -y
    - apt-get install default-mysql-client -y
    - cd server
    - pip install --upgrade pip
    - pip install -r requirements.txt
    # Spin up a server instance in the background
    # Run this first so that the server can warm up whilst we seed the db
    - python3 app.py &
    # Build and seed database
    - python3 db.py rebuild --no-docker
    - python3 manage.py seed_test_data
  script:
    - python -m pytest SystemTests

frontend lint:
  stage: format
  image: node:10
  tags:
    - docker
  rules:
    - if: '$CI_MERGE_REQUEST_ID != null || $CI_COMMIT_BRANCH == $STAGING_BRANCH'
      when: always
    - changes:
      - client/**/*
      when: always
  before_script:
    - cd client
    - npm install
  script:
    - ./node_modules/.bin/eslint "src/**/*.{ts,tsx}"

frontend format:
  stage: format
  image: node:10
  tags:
    - docker
  rules:
    - if: '$CI_MERGE_REQUEST_ID != null || $CI_COMMIT_BRANCH == $STAGING_BRANCH'
      when: always
    - changes:
      - client/**/*
      when: always
  before_script:
    - npm install prettier --global
  script:
    - prettier --check "client/src/**/*.{ts,tsx}"

backend format:
  stage: format
  image: python:3.7.6-buster
  tags:
    - docker
  rules:
    - if: '$CI_MERGE_REQUEST_ID != null || $CI_COMMIT_BRANCH == $STAGING_BRANCH'
      when: always
    - changes:
      - server/**/*
      when: always
  before_script:
    - pip install --upgrade pip
    - pip install black
  script:
    - black --check --exclude 'server/migrations/.*' server

deploy staging:
  stage: deploy
  tags:
    - shell
  rules:
    - if: '$CI_MERGE_REQUEST_ID == null && $CI_COMMIT_BRANCH == $STAGING_BRANCH'
      when: on_success
    - when: never
  script:
    - source /var/cradle/staging.env
    - ./scripts/deploy.sh

CRDL-159 update validation in test class
  server/tests/validation/test_assessments.py
  server/tests/validation/test_associations.py
  server/tests/validation/test_facilities.py
  server/tests/validation/test_patients.py
  server/tests/validation/test_readings.py
  server/tests/validation/test_referrals.py
Due: backend unit tests, backend system tests, backend format

CRDL-135 added new update assessment end point
  server/api/__init__.py
  server/api/resources/assessments.py
  server/routes.py
Due: backend unit tests, backend system tests, backend format

CRDL-135 updated specification
  server/api/__init__.py
  server/api/resources/assessments.py
  server/specifications/assessments-update-post.yml
Due: backend unit tests, backend system tests, backend format

The simplified version of the Patient API was added. There is a new file in service folder holding the function.
  server/api/resources/patients.py
  server/service/serialize.py
Due: backend unit tests, backend system tests, backend format

sorting with patientId or villageNumber as expected
  client/src/pages/patients/patientTable/hooks/tableColumns/column/patientId/head/index.tsx
  client/src/pages/patients/patientTable/hooks/tableColumns/column/village/head/index.tsx
Due: frontend build, frontend lint, frontend format

quick fix if the cradle-platform directory does not exist
  scripts/setup.sh
Due: none

Merging test-ci branch (squash commit); working Gitlab CI
  .gitlab-ci.yml
  docker-compose.build.yml
  docker-compose.prod.yml
  scripts/deploy.sh
  scripts/setup_cd.sh
  scripts/setup_manual.sh
Due: none

Fix Caddy automatic HTTPS rewrite
  .gitlab-ci.yml
  caddy/Caddyfile
Due: none

Test production deployment
  .gitlab-ci.yml
  caddy/Caddyfile.build
  scripts/setup_cd.sh
Due: none

Quick final fixes for CI
  .gitlab-ci.yml
  scripts/setup_cd.sh
Due: none

Update documentation
  .gitlab-ci.yml
  client/Dockerfile
  docker-compose.yml
  docs/dev_env_setup.md
  docs/env_variables_doc.md
  docs/manual_deployment_guide.md
  docs/manual_dev_environment_setup.md
  docs/migrating_azure_vm.md
  docs/new_dev_env_setup.md
  scripts/setup_cd.sh
  scripts/setup_manual.sh
Due: frontend build, frontend lint, frontend format

Better naming for deployment docker-compose file
  .gitlab-ci.yml
  docker-compose.deploy.yml
  docker-compose.override.yml
  docs/manual_deployment_guide.md
  scripts/setup_manual.sh
Due: none

Resolve MR comments
  caddy/Caddyfile
  docs/dev_env_setup.md
  scripts/setup_manual.sh
Due: none

Fix Caddyfile format for HSTS header
  caddy/Caddyfile
Due: none

Extract JWT_SECRET_KEY from code into an environment variable
  .gitlab-ci.yml
  docker-compose.yml
  docs/dev_env_setup.md
  docs/env_variables_doc.md
  docs/manual_dev_environment_setup.md
  scripts/setup_cd.sh
  scripts/setup_manual.sh
  server/config.py
Due: backend unit tests, backend system tests, backend format

Script fixes
  scripts/setup_cd.sh
  scripts/setup_manual.sh
Due: none

Fix deployments also happening in parallel (hopefully)
  .gitlab-ci.yml
Due: none

Fix README and further update the development environment setup guide
  README.md
  docs/dev_env_setup.md
Due: none

Fix tests running when they don't need to
  .gitlab-ci.yml
Due: none

Redirect user away from login page if they already have a token
  client/src/pages/login/index.tsx
  client/src/redux/middleware/index.ts
  client/src/redux/reducers/user/currentUser/index.ts
Due: frontend build, frontend lint, frontend format

Only check token to see if user is logged in; remove unneeded HomePage component
  client/src/app/routes/utils/index.tsx
  client/src/pages/home/index.tsx
  client/src/pages/login/index.tsx
Due: frontend build, frontend lint, frontend format

no special characters in village number, some special characters in patient initials
  client/src/pages/newReading/demographic/validation/index.tsx
Due: frontend build, frontend lint, frontend format

New reading fixes: - Birthdate -> "Date of Birth" - Added cancel button to popup - Moved follow-up checkbox beside text field - Redirect to patient page once finished
  client/src/pages/newReading/alertDialog/index.tsx
  client/src/pages/newReading/assessment/index.tsx
  client/src/pages/newReading/demographic/index.tsx
  client/src/pages/newReading/index.tsx
Due: frontend build, frontend lint, frontend format

CRDL-192 updated crud_all
  server/data/crud.py
Due: backend unit tests, backend system tests, backend format

CRDL-192 applied formatting
  server/data/crud.py
Due: backend unit tests, backend system tests, backend format

CRDL-192 updated stats speed
  server/api/resources/patients.py
  server/service/statsCalculation.py
Due: backend unit tests, backend system tests, backend format

Add PHPMyAdmin container to Docker (disabled by default)
  docker-compose.override.yml
Due: none

CRDL-192
  server/api/__init__.py
  server/api/resources/assessments.py
  server/api/resources/referrals.py
  server/data/crud.py
  server/routes.py
Due: backend unit tests, backend system tests, backend format

CRDL-200 updated yml files with isExactdob
  server/specifications/patient-info-get.yml
  server/specifications/patients-get.yml
  server/specifications/patients-post.yml
  server/specifications/single-patient-get.yml
Due: backend unit tests, backend system tests, backend format

CI: automatically run frontend build for production deployment
  .gitlab-ci.yml
Due: none

Change references for Patient Initials to Patient Name
  client/src/pages/admin/adminTable/index.tsx
  client/src/pages/newReading/demographic/index.tsx
  client/src/pages/newReading/demographic/validation/index.tsx
  client/src/pages/patients/patientTable/hooks/tableColumns/column/initials/index.tsx
  client/src/pages/referrals/referralTable/hooks/tableColumns/column/initials/index.tsx
  client/src/shared/hooks/table/searchChange/index.ts
Due: frontend build, frontend lint, frontend format

change the variable/file names that reference patient Initials to patient Name
  client/src/pages/newReading/alertDialog/index.tsx
  client/src/pages/newReading/confirmationPage/index.tsx
  client/src/pages/newReading/demographic/hooks/index.tsx
  client/src/pages/newReading/demographic/index.tsx
  client/src/pages/newReading/demographic/validation/index.tsx
  client/src/pages/newReading/formatData/index.tsx
  client/src/pages/newReading/index.tsx
  client/src/pages/newReading/patientInfoForm/index.tsx
  client/src/pages/patients/patientTable/hooks/tableColumns/column/patientName/body/index.tsx
  client/src/pages/patients/patientTable/hooks/tableColumns/column/patientName/head/index.tsx
  client/src/pages/patients/patientTable/hooks/tableColumns/column/patientName/index.tsx
  client/src/pages/patients/patientTable/hooks/tableColumns/index.tsx
  client/src/pages/patients/patientTable/index.tsx
  client/src/pages/referrals/referralTable/hooks/tableColumns/column/patientName/body/index.tsx
  client/src/pages/referrals/referralTable/hooks/tableColumns/column/patientName/head/index.tsx
  client/src/pages/referrals/referralTable/hooks/tableColumns/column/patientName/index.tsx
  client/src/pages/referrals/referralTable/hooks/tableColumns/index.tsx
  client/src/shared/components/defaultSearch/index.tsx
Due: frontend build, frontend lint, frontend format

isExactDob is used by the front end
  client/src/pages/newReading/demographic/hooks/index.tsx
  client/src/pages/newReading/formatData/index.tsx
  client/src/types/index.ts
Due: frontend build, frontend lint, frontend format

CRDL-184 updated to support weeks months and days
  server/manage.py
  server/models.py
  server/scripts/create-reading
  server/specifications/mobile-followup.yml
  server/specifications/patient-info-get.yml
  server/specifications/patient-info-put.yml
  server/specifications/patients-get.yml
  server/specifications/patients-post.yml
  server/specifications/referrals-post.yml
  server/specifications/single-patient-get.yml
  server/tests/validation/test_patients.py
  server/tests/validation/test_referrals.py
  server/validation/patients.py
  server/validation/referrals.py
Due: backend unit tests, backend system tests, backend format

Revert "Merge branch 'bugfix/CRDL-197-isExactDobShouldBeUsedByTheFrontend' into 'master'"
  client/src/pages/newReading/demographic/hooks/index.tsx
  client/src/pages/newReading/formatData/index.tsx
  client/src/types/index.ts
Due: frontend build, frontend lint, frontend format

CRDL-200 fixed put call
  server/validation/patients.py
Due: backend unit tests, backend system tests, backend format

CRDL-208 udpated admin view for patietns
  server/api/resources/patients.py
  server/api/util.py
  server/data/crud.py
  server/service/view.py
Due: backend unit tests, backend system tests, backend format
